Repository kubestellar/kubestellar, pull requests merged in 2022-11, with the labels that each got.

#27 🌱 adding ci-operator.yml file for the purpose of enabling PROW
  .ci-operator.yaml
Labels: init

#28 :book: Improve punctuation for list items in README
  README.md
Labels: approved, lgtm

#32 🐛 🐛 Update README.md
  README.md
Labels: approved, lgtm

#43 :book: Update root README.md to add building icon
  README.md
Labels: approved, lgtm, ok-to-test

#46 🐛: change KCP to lowercase in README
  README.md
Labels: approved, lgtm

#48 📖 fix typo in README.md
  README.md
Labels: approved, lgtm, ok-to-test
