Repository kubestellar/kubestellar, pull requests merged in 2023-10, with the labels that each got.

#1051 🌱 Update default core image reference to latest build
  scripts/kubectl-kubestellar-deploy
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1078 🐛 Stop using nil from failed Update
  pkg/placement/workload-projector.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1057 ✨ Make kubestellar init create first IMW and WMW
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-teardown.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-florin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-guilder.md
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-b-create-imw-and-wmw.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-c-onboarding-clusters.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-d-create-and-deploy-apache-into-clusters.md
  docs/content/Getting-Started/quickstart.md
  scripts/kubectl-kubestellar-deploy
  scripts/kubestellar
Labels: approved, lgtm, size/L, dco-signoff: yes

#1089 ✨ Improve `kubestellar init` wrt waiting for kcp
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/kubestellar
Labels: approved, lgtm, size/M, dco-signoff: yes

#1031 ✨ Implement second API for returning 1:1 reported state
  config/crds/edge.kubestellar.io_edgeplacements.yaml
  config/exports/apiexport-edge.kubestellar.io.yaml
  config/exports/apiresourceschema-edgeplacements.edge.kubestellar.io.yaml
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1.md
  hack/logcheck.out
  pkg/apis/edge/v1alpha1/edge-placement.go
  pkg/apis/edge/v1alpha1/report-single.go
  pkg/placement/binding-organizer.go
  pkg/placement/declarations.go
  pkg/placement/doc.go
  pkg/placement/dummies.go
  pkg/placement/map-factored.go
  pkg/placement/map-types.go
  pkg/placement/rotations_test.go
  pkg/placement/set-binder-assembly.go
  pkg/placement/set-binder-test.go
  pkg/placement/tuples.go
  pkg/placement/what-resolver.go
  pkg/placement/what-resolver_test.go
  pkg/placement/workload-projector.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#1091 🐛 Update default core image ref to build of current main
  scripts/kubectl-kubestellar-deploy
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1077 ✨Introduce Helm chart and entry.sh for implementing cluster deployment in separated containers
  core-container/entry.sh
  core-helm-chart/Chart.yaml
  core-helm-chart/README.md
  core-helm-chart/templates/deployment.yaml
  core-helm-chart/templates/ingress.yaml
  core-helm-chart/templates/ns.yaml
  core-helm-chart/templates/pvc.yaml
  core-helm-chart/templates/role.yaml
  core-helm-chart/templates/rolebinding.yaml
  core-helm-chart/templates/route.yaml
  core-helm-chart/templates/sa.yaml
  core-helm-chart/templates/service.yaml
  core-helm-chart/values.yaml
  core.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/kubectl-kubestellar-deploy
  scripts/kubectl-kubestellar-get_external_kubeconfig
  scripts/kubectl-kubestellar-get_internal_kubeconfig
Labels: approved, lgtm, size/XL, dco-signoff: yes

#1103 ✨ Make the syncer more assertive
  pkg/syncer/syncers/common.go
  pkg/syncer/syncers/downsyncer.go
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: size/S, approved, lgtm, dco-signoff: yes

#1104 🐛 Enable unconfusion regarding git tree state
  Makefile
  core.Dockerfile
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1105 ✨ Make the syncer more assertive
  pkg/syncer/syncers/common.go
  pkg/syncer/syncers/downsyncer.go
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: size/S, approved, lgtm, dco-signoff: yes

#1108 🐛 Filter out system objects earlier in placement translator
  pkg/placement/what-resolver.go
  pkg/placement/workload-projector.go
  scripts/kubectl-kubestellar-deploy
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1107 :book: Remove kubestellar get-log plugin, update docs
  core-helm-chart/README.md
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/kubectl-kubestellar-get_log
Labels: approved, lgtm, size/L, dco-signoff: yes

#1110 🐛 Update Helm chart README.md to point to the correct instructions
  core-helm-chart/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1075 :bug: Cleanup and refactoring syncer e2e related parts
  .secrets.baseline
  Makefile
  test/e2e/framework/kubestellar_syncer.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1082 :book: Add dynamic waiting to example1
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1111 ✨ Ensure IMWs and WMWs across all scripts
  bootstrap/bootstrap-kubestellar.sh
  bootstrap/install-kcp-with-plugins.sh
  bootstrap/install-kubestellar.sh
  core-container/entry.sh
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/kubestellar
Labels: approved, lgtm, size/L, dco-signoff: yes

#1099 :sparkles: add control annotation for making auto-downsync optional
  .secrets.baseline
  pkg/syncer/syncers/common.go
  pkg/syncer/syncers/downsyncer.go
  test/e2e/framework/kubestellar_syncer.go
  test/e2e/kubestellar-syncer/common_test.go
  test/e2e/kubestellar-syncer/syncer_downsync_overwrite_option_test.go
  test/e2e/kubestellar-syncer/testdata/downsync-overwrite-option/configmap-not-downsync-overwrite.yaml
  test/e2e/kubestellar-syncer/testdata/downsync-overwrite-option/configmap.yaml
  test/e2e/kubestellar-syncer/testdata/downsync-overwrite-option/status.yaml
  test/e2e/kubestellar-syncer/testdata/downsync-overwrite-option/syncer-config.yaml
Labels: approved, lgtm, size/XL, dco-signoff: yes

#1117 🌱 Update default core image tag to build of PR 1111
  scripts/kubectl-kubestellar-deploy
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1113 :sparkles: Build the space-framework image
  space-framework/.gitignore
  space-framework/Makefile
  space-framework/core.Dockerfile
  space-framework/entry.sh
Labels: approved, lgtm, size/L, dco-signoff: yes, decoup-kcp, space framework

#1115 ✨ Split user distro from full
  Makefile
  core.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Contribution guidelines/CONTRIBUTING.md
  docs/content/Contribution guidelines/operations/release-management.md
  hack/make-release-full.sh
  hack/make-release-platform-archive.sh
  inner-scripts/kubestellar
  inner-scripts/kubestellar-ensure-ca
  inner-scripts/kubestellar-ensure-kcp-server-creds
  inner-scripts/kubestellar-make-kcp-server-cert
  inner-scripts/switch-domain
  inner-scripts/wait-and-switch-domain
  outer-scripts/kubectl-kubestellar-deploy
  outer-scripts/kubectl-kubestellar-ensure-location
  outer-scripts/kubectl-kubestellar-get_external_kubeconfig
  outer-scripts/kubectl-kubestellar-get_internal_kubeconfig
  outer-scripts/kubectl-kubestellar-prep_for_cluster
  outer-scripts/kubectl-kubestellar-prep_for_syncer
  outer-scripts/kubectl-kubestellar-remove-location
  outer-scripts/kubectl-kubestellar-remove-wmw
  outer-scripts/kubectl-workspace-ensure
  outer-scripts/remove-kubestellar
  overlap-scripts/kubectl-kubestellar-ensure-wmw
Labels: approved, lgtm, size/M, dco-signoff: yes

#1121 🐛 Remove some sharp edges from kubectl plugins
  outer-scripts/kubectl-kubestellar
  outer-scripts/kubectl-kubestellar-deploy
  outer-scripts/kubectl-kubestellar-ensure
  outer-scripts/kubectl-kubestellar-ensure-location
  outer-scripts/kubectl-kubestellar-get_external_kubeconfig
  outer-scripts/kubectl-kubestellar-get_internal_kubeconfig
  outer-scripts/kubectl-kubestellar-prep_for_cluster
  outer-scripts/kubectl-kubestellar-prep_for_syncer
  outer-scripts/kubectl-kubestellar-remove
  outer-scripts/kubectl-kubestellar-remove-location
  outer-scripts/kubectl-kubestellar-remove-wmw
  overlap-scripts/kubectl-kubestellar-ensure-wmw
Labels: approved, lgtm, size/L, dco-signoff: yes

#1122 ✨ Expand API to allow namespace selection by name
  config/crds/edge.kubestellar.io_edgeplacements.yaml
  config/exports/apiexport-edge.kubestellar.io.yaml
  config/exports/apiresourceschema-edgeplacements.edge.kubestellar.io.yaml
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  outer-scripts/kubectl-kubestellar-deploy
  pkg/apis/edge/v2alpha1/edge-placement.go
  pkg/apis/edge/v2alpha1/zz_generated.deepcopy.go
  pkg/placement/what-resolver.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1137 :bug: fix Get function in kflex provider
  space-framework/space-provider/kubeflex/kubeflex.go
  space-framework/test/e2e-sh-tests/space-kflex1.yaml
  space-framework/test/e2e-sh-tests/spaceproviderdesc-kflex.yaml
Labels: size/S, approved, lgtm, dco-signoff: yes, decoup-kcp, space framework

#1125 🐛 Fix outdated text in example1
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1126 🌱 Update core image ref to build of main
  outer-scripts/kubectl-kubestellar-deploy
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1143 🐛 Fix display of initial spaces after deploy in kube
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1144 ✨ Generalize bootstrap wrt namespace in hosting cluster
  bootstrap/bootstrap-kubestellar.sh
  docs/content/Coding Milestones/PoC2023q1/commands.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1145 ✨ Generalize bootstrap wrt namespace in hosting cluster
  bootstrap/bootstrap-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1139 :sparkles: Switch to use k8s code generators
  space-framework/Makefile
  space-framework/cmd/space-manager/main.go
  space-framework/config/exports/apiexport-space.kubestellar.io.yaml
  space-framework/config/exports/apiresourceschema-spaceproviderdescs.space.kubestellar.io.yaml
  space-framework/config/exports/apiresourceschema-spaces.space.kubestellar.io.yaml
  space-framework/go.mod
  space-framework/go.sum
  space-framework/hack/tools.go
  space-framework/hack/update-codegen-clients.sh
  space-framework/hack/update-codegen-crds.sh
  space-framework/pkg/client/clientset/versioned/cluster/clientset.go
  space-framework/pkg/client/clientset/versioned/cluster/fake/clientset.go
  space-framework/pkg/client/clientset/versioned/cluster/scheme/register.go
  space-framework/pkg/client/clientset/versioned/cluster/typed/space/v1alpha1/fake/space.go
  space-framework/pkg/client/clientset/versioned/cluster/typed/space/v1alpha1/fake/space_client.go
  space-framework/pkg/client/clientset/versioned/cluster/typed/space/v1alpha1/fake/spaceproviderdesc.go
  space-framework/pkg/client/clientset/versioned/cluster/typed/space/v1alpha1/space.go
  space-framework/pkg/client/clientset/versioned/cluster/typed/space/v1alpha1/space_client.go
  space-framework/pkg/client/clientset/versioned/cluster/typed/space/v1alpha1/spaceproviderdesc.go
  space-framework/pkg/client/informers/externalversions/factory.go
  space-framework/pkg/client/informers/externalversions/generic.go
  space-framework/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  space-framework/pkg/client/informers/externalversions/space/interface.go
  space-framework/pkg/client/informers/externalversions/space/v1alpha1/interface.go
  space-framework/pkg/client/informers/externalversions/space/v1alpha1/space.go
  space-framework/pkg/client/informers/externalversions/space/v1alpha1/spaceproviderdesc.go
  space-framework/pkg/client/listers/space/v1alpha1/expansion_generated.go
  space-framework/pkg/client/listers/space/v1alpha1/space.go
  space-framework/pkg/client/listers/space/v1alpha1/spaceproviderdesc.go
  space-framework/pkg/msclientlib/client.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1150 🌱 Chart release 0.8
  core-helm-chart/values.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1147 🐛 Show all spaces
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1146 🌱 Align default core image ref in chart with coming release
  core-helm-chart/values.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1157 📖Update dev-env.md
  docs/content/Coding Milestones/PoC2023q1/environments/dev-env.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1158 📖Update Chart.yaml appVersion
  core-helm-chart/Chart.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1156 🐛 Use realpath to see through symlinks
  inner-scripts/kubestellar
  outer-scripts/kubectl-kubestellar-deploy
Labels: size/S, approved, lgtm, dco-signoff: yes

#1164 📖 Document syncer removal
  docs/content/Coding Milestones/PoC2023q1/commands.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1166 🌱 Rename urmeta to ksmeta
  cmd/cluster-watchall/main.go
  pkg/apiwatch/resources.go
  pkg/placement/apiwatch-map-provider.go
  pkg/placement/what-resolver.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1161 ✨ Make get-internal-kubeconfig fetch mid-level kubeconfig
  outer-scripts/kubectl-kubestellar-get_internal_kubeconfig
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1160 ✨ Make ensure/remove wmw insensitive to current workspace
  docs/content/Coding Milestones/PoC2023q1/commands.md
  outer-scripts/kubectl-kubestellar-remove-wmw
  overlap-scripts/kubectl-kubestellar-ensure-wmw
Labels: approved, lgtm, size/L, dco-signoff: yes

#1173 :book: Added contributors to README
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1175 :book: More contributor updates
  README.md
  docs/content/readme.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1176 ✨ Brew installer for kubestellar user commands and kubectl plugins
  Formula/README.md
  Formula/kcp_cli.rb
  Formula/kubestellar_cli.rb
Labels: approved, lgtm, size/L, dco-signoff: yes

#1169 :bug: Physical Cluster -> Workload Execution Cluster swap
  Makefile
  cmd/kubectl-kubestellar-syncer_gen/main.go
  config/crds/edge.kubestellar.io_synctargets.yaml
  config/exports/apiexport-edge.kubestellar.io.yaml
  config/exports/apiresourceschema-synctargets.edge.kubestellar.io.yaml
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-florin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-guilder.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-c-onboarding-clusters.md
  pkg/apis/edge/v2alpha1/synctarget_types.go
  pkg/cliplugins/kubestellar/syncer-gen/edgesync.go
  pkg/syncer/README.md
  pkg/syncer/scripts/edge-sync-config-for-kyverno-helm.denatured.yaml
  pkg/syncer/scripts/edge-sync-config-for-kyverno-helm.yaml
  test/e2e/framework/kubestellar_syncer.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1184 🌱 Update inform-syncer-configs due to workspace flattening
  cmd/inform-syncer-configs/README.md
  cmd/inform-syncer-configs/main.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1186 :sparkles: store space configs in secrets
  space-framework/config/crds/space.kubestellar.io_spaces.yaml
  space-framework/pkg/apis/space/v1alpha1/space.go
  space-framework/pkg/apis/space/v1alpha1/zz_generated.deepcopy.go
  space-framework/pkg/msclientlib/client.go
  space-framework/pkg/msclientlib/controller.go
  space-framework/pkg/space-manager/controller.go
  space-framework/pkg/space-manager/provider.go
  space-framework/pkg/space-manager/providerclient/client_interface.go
  space-framework/space-provider/kcp/kcp.go
  space-framework/space-provider/kind/kind.go
  space-framework/space-provider/kubeflex/kubeflex.go
Labels: approved, lgtm, size/L, dco-signoff: yes, decoup-kcp, space framework

#1198 :bug:fix syncer bootstrap manifests to change names like container name from kcp to kubestellar
  pkg/cliplugins/kubestellar/syncer-gen/edgesync_test.go
  pkg/cliplugins/kubestellar/syncer-gen/kubestellar-syncer.yaml
  pkg/syncer/scripts/kubestellar-syncer-bootstrap.template.yaml
Labels: approved, lgtm, size/M, dco-signoff: yes

#1195 🐛 Fix stupid typos
  pkg/placement/workload-projector.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1196 ✨ Add a CustomResourceDefinition to example1
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1188 📖 Added survey of versioned and distribued
  docs/content/Contribution guidelines/operations/KubeStellar-Versioned-and-Distributed-Things.svg
  docs/content/Contribution guidelines/operations/packaging-and-versioning.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#1116 ✨ a new user-based quickstart
  docs/content/Contribution guidelines/operations/testing-doc-prs.md
  docs/content/Getting-Started/quickstart.md
  docs/content/Getting-Started/user-quickstart-kind.md
  docs/content/Getting-Started/user-quickstart-openshift.md
  docs/content/common-subs/brew-install.md
  docs/content/common-subs/brew-no.md
  docs/content/common-subs/brew-remove.md
  docs/content/common-subs/check-kubestellar-helm-deployment-running.md
  docs/content/common-subs/create-files-and-contexts-for-kind-clusters.md
  docs/content/common-subs/create-files-and-contexts-for-openshift-clusters.md
  docs/content/common-subs/create-ks-core-kind-cluster.md
  docs/content/common-subs/create-ks-edge-cluster1-kind-cluster.md
  docs/content/common-subs/create-ks-edge-cluster2-kind-cluster.md
  docs/content/common-subs/debian-kind-docker.md
  docs/content/common-subs/delete-contexts-for-kind-and-openshift-clusters.md
  docs/content/common-subs/deploy-your-kubestellar-core-component-kind.md
  docs/content/common-subs/deploy-your-kubestellar-core-component-openshift.md
  docs/content/common-subs/install-helm-kind.md
  docs/content/common-subs/install-helm-openshift.md
  docs/content/common-subs/kubestellar-apply-apache.md
  docs/content/common-subs/kubestellar-apply-syncer.md
  docs/content/common-subs/kubestellar-check-syncers.md
  docs/content/common-subs/kubestellar-kind-ip-error.md
  docs/content/common-subs/kubestellar-prep-syncer.md
  docs/content/common-subs/kubestellar-show-available-spaces.md
  docs/content/common-subs/kubestellar-test-apache.md
  docs/content/common-subs/required-packages.md
  docs/content/common-subs/tear-down-kind.md
  docs/content/common-subs/teardown-the-environment.md
  docs/mkdocs.yml
  docs/overrides/fonts/space_bd_bt/space_bd_bt.png
  docs/overrides/fonts/space_bd_bt/tt1254m_.ttf
  docs/overrides/stylesheets/kubestellar.css
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1197 :sparkles: use secrets for provider config
  space-framework/config/crds/space.kubestellar.io_spaceproviderdescs.yaml
  space-framework/go.mod
  space-framework/go.sum
  space-framework/pkg/apis/space/v1alpha1/space-provider-desc.go
  space-framework/pkg/apis/space/v1alpha1/zz_generated.deepcopy.go
  space-framework/pkg/client/clientset/versioned/clientset.go
  space-framework/pkg/client/clientset/versioned/typed/space/v1alpha1/fake/fake_space.go
  space-framework/pkg/client/clientset/versioned/typed/space/v1alpha1/fake/fake_spaceproviderdesc.go
  space-framework/pkg/client/informers/externalversions/factory.go
  space-framework/pkg/space-manager/controller.go
  space-framework/pkg/space-manager/provider.go
  space-framework/space-provider/kcp/kcp.go__
  space-framework/space-provider/kind/kind.go
  space-framework/space-provider/kubeflex/kubeflex.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes, decoup-kcp, space framework

#1206 🐛 Update openshift quickstart to authorize workload on OpenShift
  docs/content/Getting-Started/user-quickstart-kind.md
  docs/content/Getting-Started/user-quickstart-openshift.md
  docs/content/common-subs/kubestellar-apply-apache-kind.md
  docs/content/common-subs/kubestellar-apply-apache-openshift.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1165 ✨ Make apiwatch package reveal definers of resources
  cmd/cluster-watchall/main.go
  cmd/placement-translator/main.go
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  pkg/apis/meta/v1alpha1/resources.go
  pkg/apiwatch/apibindings.go
  pkg/apiwatch/crds.go
  pkg/apiwatch/definition-tracking.go
  pkg/apiwatch/resources.go
  pkg/placement/apiwatch-map-provider.go
  pkg/placement/main.go
  pkg/placement/what-resolver.go
  pkg/placement/what-resolver_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1207 :sparkles: remove watch import. Use local watch type
  space-framework/go.mod
  space-framework/go.sum
  space-framework/pkg/space-manager/provider.go
  space-framework/pkg/space-manager/providerclient/client_interface.go
  space-framework/space-provider/kcp/kcp.go
  space-framework/space-provider/kind/kind.go
  space-framework/space-provider/kubeflex/kubeflex.go
Labels: approved, lgtm, size/L, dco-signoff: yes, decoup-kcp, space framework

#1190 📖 Simplify some selection criteria in quickstart
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-c-onboarding-clusters.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-d-create-and-deploy-apache-into-clusters.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1210 ✨ openshift user-quickstart is missing service, route, and a correct curl to reach the route needed to test the example
  docs/content/Getting-Started/user-quickstart-kind.md
  docs/content/Getting-Started/user-quickstart-openshift.md
  docs/content/common-subs/kubestellar-apply-apache-openshift.md
  docs/content/common-subs/kubestellar-test-apache-kind.md
  docs/content/common-subs/kubestellar-test-apache-openshift.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1185 ✨ Introduce kubestellar-list-syncing-objects
  Makefile
  cmd/kubestellar-list-syncing-objects/README.md
  cmd/kubestellar-list-syncing-objects/main.go
  docs/content/Coding Milestones/PoC2023q1/commands.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1211 🐛 Update the ready check for core helm chart
  core-helm-chart/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1202 ✨ Propose dirty change to v2beta1 kube API
  config/crds/edge.kubestellar.io_edgeplacements.yaml
  config/exports/apiexport-edge.kubestellar.io.yaml
  config/exports/apiresourceschema-edgeplacements.edge.kubestellar.io.yaml
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  outer-scripts/kubectl-kubestellar-deploy
  pkg/apis/edge/v2alpha1/edge-placement.go
  pkg/apis/edge/v2alpha1/zz_generated.deepcopy.go
  pkg/placement/what-resolver.go
  pkg/placement/what-resolver_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1212 📖 Update example1 and user quickstarts to use new command
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Getting-Started/user-quickstart-kind.md
  docs/content/Getting-Started/user-quickstart-openshift.md
  docs/content/common-subs/kubestellar-list-syncing.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1216 :sparkles:Initial replacement of KCP-bind with kube-bind
  cmd/kubestellar-where-resolver/cmd/where-resolver-cmd.go
  cmd/mailbox-controller/controller.go
  cmd/mailbox-controller/main.go
  cmd/placement-translator/main.go
  core.Dockerfile
  hack/logcheck.out
  pkg/placement/main.go
  pkg/placement/what-resolver.go
  pkg/placement/what-resolver_test.go
  pkg/placement/where-resolver.go
  pkg/placement/where-resolver_test.go
  pkg/placement/workload-projector.go
  pkg/where-resolver/controller.go
  pkg/where-resolver/reconcile_on_edgeplacement.go
  pkg/where-resolver/reconcile_on_location.go
  pkg/where-resolver/reconcile_on_synctarget.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#1219 :bug: return error when fail to create a provider
  space-framework/pkg/space-manager/provider.go
  space-framework/space-provider/kind/kind.go
  space-framework/space-provider/kubeflex/kubeflex.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1217 🌱 remove vendor from Makefile (not used anywhere)
  Makefile
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#1214 🐛Change the way entry.sh determine if the kcp container has completed …
  core-container/entry.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1223 :sparkles: remove the dependency on kubeflex import
  space-framework/go.mod
  space-framework/go.sum
  space-framework/space-provider/kubeflex/kubeflex.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1227 🐛 Consistency wrt dynamicDuo.preInformer
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Coding Milestones/PoC2023q1/outline.md
  pkg/placement/workload-projector.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1230 🐛 Fix regression in checking kcp readiness
  core-container/entry.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#1224 ✨ Reproduce kube-bind example for wmw1 and imw1 in the init container
  inner-scripts/kubestellar
  overlap-scripts/kubectl-kubestellar-ensure-wmw
Labels: approved, lgtm, size/M, dco-signoff: yes

#1228 :bug: support status update for both cases of subresource and non subresource
  pkg/syncer/clientfactory/client.go
  pkg/syncer/clientfactory/clientfactory.go
  pkg/syncer/syncers/downsyncer.go
  test/e2e/kubestellar-syncer/syncer_update_status_test.go
  test/e2e/kubestellar-syncer/testdata/update-status/non-subresource/sample-crd-cr.yaml
  test/e2e/kubestellar-syncer/testdata/update-status/non-subresource/sample-crd.yaml
  test/e2e/kubestellar-syncer/testdata/update-status/non-subresource/sample-subresource-crd-cr.yaml
  test/e2e/kubestellar-syncer/testdata/update-status/non-subresource/sample-subresource-crd.yaml
  test/e2e/kubestellar-syncer/testdata/update-status/non-subresource/status.yaml
  test/e2e/kubestellar-syncer/testdata/update-status/non-subresource/syncer-config.yaml
Labels: approved, lgtm, size/L, dco-signoff: yes

#1233 :book: Restore and Update installation info for go in required packages documentation
  docs/content/common-subs/required-packages.md
Labels: kind/documentation, approved, lgtm, size/L, dco-signoff: yes
