Repository kubestellar/kubestellar, pull requests merged in 2023-05, with the labels that each got.

#340 ✨ First draft of customization command
  cmd/emc-customize/main.go
  go.mod
  go.sum
  pkg/customize/customize.go
  pkg/jsonpath/jsonpath.go
Labels: approved, lgtm

#342 ✨ Let `make build` make variant plugin with unique name
  Makefile
  docs/content/en/docs/Coding Milestones/PoC2023q1/edge-syncer.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/example1.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/scripts.md
  scripts/ensure-syncer-plugin.sh
  scripts/mailbox-prep.sh
Labels: approved, lgtm

#343 :seedling: Update syncer image tag to v0.1.0
  scripts/mailbox-prep.sh
Labels: approved, lgtm

#346 🐛 Do not assume the build directory exists
  Makefile
Labels: approved, lgtm

#344 :sparkles: Add installation scripts kcp+plugins, kcp-edge, kcp-edge plugins
  hack/install-kcp-edge.sh
  hack/install-kcp-with-plugins.sh
Labels: approved, lgtm

#349 ✨ Make the ESPW path a parameter of mailbox-prep.sh
  docs/content/en/docs/Coding Milestones/PoC2023q1/example1.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/scripts.md
  scripts/mailbox-prep.sh
Labels: approved, lgtm

#355 🌱 Rely more on type inference.
  pkg/placement/binding-organizer.go
  pkg/placement/hash-domain.go
  pkg/placement/join-dynamic-12vwith13_test.go
  pkg/placement/join-dynamic-12vwith13w_test.go
  pkg/placement/join-dynamic-12with13.go
  pkg/placement/map-map.go
  pkg/placement/map-relation.go
  pkg/placement/map-set-differencer.go
  pkg/placement/map-set-differencer_test.go
  pkg/placement/map-set.go
  pkg/placement/relation-types.go
  pkg/placement/rotations_test.go
  pkg/placement/set-binder-assembly.go
  pkg/placement/set-binder-test.go
  pkg/placement/set-project.go
  pkg/placement/set-types.go
  pkg/placement/workload-projector.go
Labels: approved, lgtm

#359 🐛 Update displays of SyncerConfig objects
  docs/content/en/docs/Coding Milestones/PoC2023q1/placement-translator.md
Labels: approved, lgtm

#356 :seedling: Move the code for syncer plugin from kcp to edge-mc
  Makefile
  cmd/kubectl-kcpforedgesyncer/cmd/kcpforedgesyncer.go
  cmd/kubectl-kcpforedgesyncer/main.go
  go.mod
  go.sum
  pkg/cliplugins/workload/cmd/cmd.go
  pkg/cliplugins/workload/plugin/edge-syncer.yaml
  pkg/cliplugins/workload/plugin/edgesync.go
  pkg/cliplugins/workload/plugin/edgesync_test.go
  test/e2e/framework/edgesyncer.go
  test/e2e/framework/testdata/edge.kcp.io_syncerconfigs.yaml
Labels: approved, lgtm

#361 :sparkles: Rename kcpforedgesyncer command to kcp_edge-syncer_gen and promote it to root command without having subcommands
  cmd/kubectl-kcp_edge-syncer_gen/main.go
  cmd/kubectl-kcpforedgesyncer/cmd/kcpforedgesyncer.go
  cmd/kubectl-kcpforedgesyncer/main.go
  go.mod
  go.sum
  pkg/cliplugins/kcp-edge/syncer-gen/edge-syncer.yaml
  pkg/cliplugins/kcp-edge/syncer-gen/edgesync.go
  pkg/cliplugins/kcp-edge/syncer-gen/edgesync_test.go
  pkg/cliplugins/workload/cmd/cmd.go
  pkg/syncer/README.md
  scripts/mailbox-prep.sh
  test/e2e/framework/edgesyncer.go
Labels: approved, lgtm

#364 🐛 Remove installation of edge CRDs in ESPW
  docs/content/en/docs/Coding Milestones/PoC2023q1/edge-scheduler.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/example1.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/placement-translator.md
Labels: approved, lgtm

#366 ✨ Replace kcp-edge with kubestellar in command lines
  cmd/kubectl-kubesteallar-syncer_gen/main.go
  docs/content/en/docs/Coding Milestones/PoC2023q1/example1.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/scripts.md
  hack/install-kubestellar.sh
  scripts/kubectl-kubestellar-ensure-location
  scripts/kubectl-kubestellar-ensure-wmw
  scripts/kubectl-kubestellar-prep_for_cluster
  scripts/kubectl-kubestellar-prep_for_syncer
  scripts/kubectl-kubestellar-remove-location
  scripts/kubectl-kubestellar-remove-wmw
  test/e2e/framework/edgesyncer.go
Labels: approved, lgtm

#363 ✨ Introduce examples/, add it and config/ to tarchive
  examples/common-placement.yaml
  examples/common-workload.yaml
  examples/florin-config.yaml
  examples/guilder-config.yaml
  examples/special-placement.yaml
  examples/special-workload.yaml
  hack/make-release-platform-archive.sh
Labels: approved, lgtm

#357 :sparkles: Contribute single bootstrap command for "quickest" start
  hack/bootstrap-kubestellar.sh
  hack/install-kcp-with-plugins.sh
  hack/install-kubestellar.sh
Labels: approved, lgtm

#368 :sparkles: Update the syncer image registry in kubectl-kubestellar-prep_script
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: approved, lgtm

#369 🐛 Fixed oversight in platform archive construction
  hack/make-release-platform-archive.sh
Labels: approved, lgtm

#354 ✨ Helper scripts for KCP-Edge User and Contributor Environments
  scripts/kubestellar
  scripts/remove-kubestellar
Labels: approved, lgtm

#367 ✨ Rename scheduler to kubestellar-scheduler
  cmd/kubestellar-scheduler/cmd/scheduler.go
  cmd/kubestellar-scheduler/main.go
  cmd/kubestellar-scheduler/options/options.go
  docs/content/en/docs/Coding Milestones/PoC2023q1/example1.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/kubestellar-scheduler.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/mailbox-controller.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/outline.md
  pkg/scheduler/controller.go
Labels: approved, lgtm

#370 ✨ Updating KubeStellar script to use the renamed kubestellar-scheduler
  scripts/kubestellar
Labels: approved, lgtm

#371 :bug: Update install/bootstrap scripts
  bootstrap/bootstrap-kubestellar.sh
  bootstrap/install-kcp-with-plugins.sh
  bootstrap/install-kubestellar.sh
Labels: approved, lgtm

#350 ✨ KubeStellar User Kit Experience
  QUICKSTART.md
Labels: approved, lgtm

#372 🐛 Fix typo: steallar vs stellar
  cmd/kubectl-kubestellar-syncer_gen/main.go
  hack/make-release-platform-archive.sh
Labels: approved, lgtm

#377 🐛 Fixing issues with kubestellar and remove-kubestellar scripts
  scripts/kubestellar
  scripts/remove-kubestellar
Labels: approved, lgtm

#376 🐛 Fixing and typos issues with Quickstart
  QUICKSTART.md
Labels: approved, lgtm

#378 ❇️ Update QUICKSTART.md
  QUICKSTART.md
Labels: approved, lgtm

#380 ✨ Update bootstrap-kubestellar.sh
  bootstrap/bootstrap-kubestellar.sh
Labels: approved, lgtm

#379 🐛 Wait for root:compute workspace to be usable before proceeding
  bootstrap/bootstrap-kubestellar.sh
Labels: approved, lgtm

#381 🐛 Add waits for needed MBWS state
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: approved, lgtm

#382 🐛 Correctly set current workspace at start of teardown
  QUICKSTART.md
Labels: approved, lgtm

#383 🐛 Include removal of syncer YAML files in example cleanup
  QUICKSTART.md
Labels: approved, lgtm

#384 📖 Fixing a typo in QUICKSTART.md
  QUICKSTART.md
Labels: approved, lgtm

#385 ✨ Add the `-X` option to setup scripts
  bootstrap/bootstrap-kubestellar.sh
  bootstrap/install-kcp-with-plugins.sh
  bootstrap/install-kubestellar.sh
  docs/content/en/docs/Coding Milestones/PoC2023q1/commands.md
Labels: approved, lgtm

#386 🐛 Fix some issues in commands.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/commands.md
Labels: approved, lgtm

#388 🐛 Fix goofup in bootstrap command line parsing
  bootstrap/bootstrap-kubestellar.sh
Labels: approved, lgtm

#387 🐛 Remove overspecific and unnecessary args to bootsrap in quickstart
  QUICKSTART.md
Labels: approved, lgtm

#389 ✨ Improve PWD echo, remove redundant exits in bootstrap
  bootstrap/bootstrap-kubestellar.sh
  bootstrap/install-kcp-with-plugins.sh
  bootstrap/install-kubestellar.sh
Labels: approved, lgtm

#390 ✨ Extend bootstrap command line to recognize "latest"
  QUICKSTART.md
  bootstrap/bootstrap-kubestellar.sh
  docs/content/en/docs/Coding Milestones/PoC2023q1/commands.md
Labels: approved, lgtm

#391 ✨ Make default kcp version be v0.11.0
  bootstrap/bootstrap-kubestellar.sh
Labels: approved, lgtm

#392 📖 Adding Quickstart Demo Video
  QUICKSTART.md
  contrib/logo/kubestellar-quickstart-demo.png
Labels: approved, lgtm

#394 ✨ Update QUICKSTART.md
  QUICKSTART.md
Labels: approved, lgtm

#404 🐛 Fix nits in README.md
  README.md
Labels: approved, lgtm

#408 🐛 Fix bootstrap-kubestellar condition for calling start
  bootstrap/bootstrap-kubestellar.sh
  docs/content/en/docs/Coding Milestones/PoC2023q1/commands.md
Labels: approved, lgtm

#396 ✨ Add kubestellar-release command to report release semver
  docs/content/en/docs/Coding Milestones/PoC2023q1/commands.md
  hack/make-release-platform-archive.sh
Labels: approved, lgtm

#410 ✨ Extend testing remarks in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: approved, lgtm

#419 ✨ Make QUICKSTART include reference to example1
  QUICKSTART.md
Labels: approved, lgtm

#421 :bug:Fix omission in Makefile
  Makefile
Labels: approved, lgtm

#420 ✨ Introduce kubestellar-version
  cmd/kubestellar-version/main.go
  docs/content/en/docs/Coding Milestones/PoC2023q1/commands.md
Labels: approved, lgtm

#434 🐛 Update warning banner to say latest _release_
  docs/overrides/main.html
Labels: approved, lgtm

#424 ✨ Add syncer image tag holding git info
  hack/make-release-container.sh
Labels: approved, lgtm

#435 🐛 Pin outline.md reference to kcp APIs to v0.11.0
  docs/content/Coding Milestones/PoC2023q1/outline.md
Labels: approved, lgtm

#436 ✨ Update commands doc, incl spec default syncer image
  docs/content/Coding Milestones/PoC2023q1/commands.md
Labels: approved, lgtm

#416 :sparkles: More reliable bootstrap
  bootstrap/bootstrap-kubestellar.sh
Labels: approved, lgtm

#425 🐛 Fix GIT_DIRTY in Makefile
  Makefile
Labels: approved, lgtm

#438 :sparkles: Delete root QUICKSTART.md
  QUICKSTART.md
Labels: approved, lgtm

#443 ✨ Update CONTRIBUTING.md pointer to QuickStart
  CONTRIBUTING.md
Labels: kind/documentation, approved, lgtm

#409 ✨ Introduce kubestellar init
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/kubestellar
Labels: approved, lgtm

#448 ✨ Update index.md with new slack link
  docs/content/index.md
Labels: approved, lgtm

#439 ✨kcp workspace ensure plugin
  scripts/kubectl-workspace-ensure
Labels: approved, lgtm

#451 ✨ Update Makefile - replace reference to kcp-edge
  Makefile
Labels: approved, lgtm

#358 🌱 Start adding customization to workload projector
  cmd/placement-translator/main.go
  docs/content/Coding Milestones/PoC2023q1/example1.md
  docs/content/Coding Milestones/PoC2023q1/placement-translator.md
  pkg/placement/main.go
  pkg/placement/workload-projector.go
Labels: approved, lgtm

#457 ✨ Update guilder-config.yaml to use not-so-common port
  docs/content/Coding Milestones/PoC2023q1/example1.md
  docs/content/Getting-Started/quickstart.md
  examples/guilder-config.yaml
Labels: approved, lgtm

#461 :sparkles: Update commands.md to pull in updates in pr420
  docs/content/Coding Milestones/PoC2023q1/commands.md
Labels: approved, lgtm

#462 📖 Fixes for CONTRIBUTING.md
  CONTRIBUTING.md
Labels: approved, lgtm

#465 :sparkles: Update quickstart.md - add jq req
  docs/content/Getting-Started/quickstart.md
Labels: kind/documentation

#466 :sparkles: Update quickstart.md - open reqs in new browser tab
  docs/content/Getting-Started/quickstart.md
Labels: kind/documentation

#470 :sparkles: Update main.html to include new message if not viewing lat…
  docs/overrides/main.html
Labels: kind/documentation, approved, lgtm

#471 📖 Updating QuickStart: command to create kind clusters
  docs/content/Getting-Started/quickstart.md
Labels: kind/documentation, approved, lgtm

#472 🐛 Removing examples folder from repo
  examples/common-placement.yaml
  examples/common-workload.yaml
  examples/florin-config.yaml
  examples/guilder-config.yaml
  examples/special-placement.yaml
  examples/special-workload.yaml
  hack/make-release-platform-archive.sh
Labels: approved, lgtm

#476 :sparkles: update docs to remove static references to specific versions of docs, and add var for branch and tag to mkdocs.yml to support var replacement in quickstart.md for proper launching of bootstrap
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Community/_index.md
  docs/content/Contribution guidelines/CONTRIBUTING.md
  docs/content/Contribution guidelines/security.md
  docs/content/Getting-Started/quickstart.md
  docs/mkdocs.yml
  docs/requirements.txt
Labels: kind/documentation

#478 :sparkles: Update quickstart.md toc
  docs/content/Getting-Started/quickstart.md
Labels: kind/documentation

#482 :bug: Correct broken links in docs related with syncer for release-0.2 branch
  docs/content/Coding Milestones/PoC2023q1/edge-syncer.md
  pkg/syncer/README.md
Labels: approved, lgtm

#484 :sparkles: Update quickstart.md with port 8094 for florin
  docs/content/Getting-Started/quickstart.md
Labels: kind/documentation, lgtm

#509 :sparkles: Tweak the migrated Argo CD integration doc
  docs/content/Community/partners/argocd.md
Labels: approved, lgtm
