Repository kubestellar/kubestellar, pull requests merged in 2023-12, with the labels that each got.

#1297 🐛 Mark DownsyncObjectTest.APIGroup as optional
  config/crds/edge.kubestellar.io_edgeplacements.yaml
  config/exports/apiexport-edge.kubestellar.io.yaml
  config/exports/apiresourceschema-edgeplacements.edge.kubestellar.io.yaml
  pkg/apis/edge/v2alpha1/edge-placement.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1351 ✨ Make kubestellar-kube-bind idempotent
  cmd/mailbox-controller/controller.go
  scripts/inner/kubestellar
  scripts/inner/kubestellar-kube-bind
  scripts/overlap/kubectl-kubestellar-ensure-wmw
Labels: approved, lgtm, size/M, dco-signoff: yes

#1359 :sparkles: KubeStellar with the Space Framework guide
  space-framework/docs/KS-SF-KF.drawio
  space-framework/docs/KS-SF-KF.drawio.png
  space-framework/docs/SF-All.drawio.svg
  space-framework/docs/using-sf-for-ks.md
Labels: approved, lgtm, size/XL, dco-signoff: yes, decoup-kcp

#1353 ✨ Introduce word counting utility
  .gitignore
  hack/count-commit.sh
  hack/count-directory.sh
  hack/count-tree.sh
  hack/make-count-summary-tables.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#1366 :bug: use spaces with kube-bind
  cmd/mailbox-controller/controller.go
  scripts/inner/kubestellar
  scripts/inner/kubestellar-kube-bind
  scripts/overlap/kubectl-kubestellar-ensure-wmw
Labels: size/M, dco-signoff: yes

#1364 📖 fixed typos in SF docs
  space-framework/docs/using-sf-for-ks.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1370 :sparkles: fix mb
  scripts/inner/kubestellar-kube-bind
Labels: size/XS, dco-signoff: yes

#1371 ✨ fix a quickstart.test failure
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
  docs/content/Getting-Started/user-quickstart-test.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1375 ✨ fix in_cluster param in kube-bind script
  scripts/inner/kubestellar-kube-bind
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1377 :bug: Fix log featureGate
  cmd/kubestellar-where-resolver/cmd/where-resolver-cmd.go
Labels: size/S, approved, lgtm, dco-signoff: yes, space framework

#1378 :bug: fix syncer space id
  scripts/outer/kubectl-kubestellar-prep_for_syncer
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1374 ✨ Remove "kcp" labels from scripts in bootstrap folder
  bootstrap/bootstrap-kubestellar.sh
  bootstrap/install-kcp-with-plugins.sh
  core.Dockerfile
Labels: approved, lgtm, size/L, dco-signoff: yes

#1380 :bug: fix typo
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
Labels: size/XS, dco-signoff: yes

#1367 ✨ Use crds when ensuring wmw
  config/kube/crds/cluster-scoped/apiregistration.k8s.io_apiservices.yaml
  config/kube/crds/cluster-scoped/flowcontrol.apiserver.k8s.io_flowschemas.yaml
  config/kube/crds/cluster-scoped/flowcontrol.apiserver.k8s.io_prioritylevelconfigurations.yaml
  config/kube/crds/cluster-scoped/networking.k8s.io_ingressclasses.yaml
  config/kube/crds/cluster-scoped/node.k8s.io_runtimeclasses.yaml
  config/kube/crds/cluster-scoped/scheduling.k8s.io_priorityclasses.yaml
  config/kube/crds/cluster-scoped/storage.k8s.io_csidrivers.yaml
  config/kube/crds/cluster-scoped/storage.k8s.io_csinodes.yaml
  config/kube/crds/cluster-scoped/storage.k8s.io_storageclasses.yaml
  config/kube/crds/cluster-scoped/storage.k8s.io_volumeattachments.yaml
  config/kube/crds/namespaced/apps_deployments.yaml
  config/kube/crds/namespaced/core.k8s.io_pods.yaml
  config/kube/crds/namespaced/core.k8s.io_services.yaml
  config/kube/crds/namespaced/discovery.k8s.io_endpointslices.yaml
  config/kube/crds/namespaced/networking.k8s.io_ingresses.yaml
  config/kube/crds/namespaced/networking.k8s.io_networkpolicies.yaml
  config/kube/crds/namespaced/storage.k8s.io_csistoragecapacities.yaml
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  scripts/overlap/kubectl-kubestellar-ensure-wmw
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1382 :bug: Fix syncer
  scripts/outer/kubectl-kubestellar-prep_for_syncer
  scripts/overlap/kubectl-kubestellar-get-config-for-space
Labels: lgtm, size/M, dco-signoff: yes

#1383 :bug: Fix typo in md file
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1394 :bug: Fix sc1
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Coding Milestones/PoC2023q1/example1.md
Labels: size/S, dco-signoff: yes

#1392 ✨ Use exact match when looking for dex process
  scripts/inner/kubestellar
Labels: size/S, approved, lgtm, dco-signoff: yes

#1396 🌱 Dump example1 verbose logs at the end of CI
  .github/workflows/docs-ecutable-example1.yml
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1399 ✨ Improvments in response to comments to 1363
  pkg/where-resolver/reconcile_on_edgeplacement.go
  pkg/where-resolver/reconcile_on_location.go
  scripts/outer/kubectl-kubestellar-prep_for_syncer
Labels: size/S, approved, lgtm, dco-signoff: yes

#1400 ✨ Don't augment root:compute
  Makefile
  config/kube/exports/cluster-scoped/apiexport-apiregistration.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiexport-core.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiexport-flowcontrol.apiserver.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiexport-networking.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiexport-node.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiexport-scheduling.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiexport-storage.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-apiservices.apiregistration.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-csidrivers.storage.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-csinodes.storage.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-flowschemas.flowcontrol.apiserver.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-ingressclasses.networking.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-persistentvolumes.core.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-priorityclasses.scheduling.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-prioritylevelconfigurations.flowcontrol.apiserver.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-runtimeclasses.node.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-storageclasses.storage.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiresourceschema-volumeattachments.storage.k8s.io.yaml
  config/kube/exports/namespaced/apiexport-apps.yaml
  config/kube/exports/namespaced/apiexport-autoscaling.yaml
  config/kube/exports/namespaced/apiexport-batch.yaml
  config/kube/exports/namespaced/apiexport-core.k8s.io.yaml
  config/kube/exports/namespaced/apiexport-discovery.k8s.io.yaml
  config/kube/exports/namespaced/apiexport-networking.k8s.io.yaml
  config/kube/exports/namespaced/apiexport-policy.yaml
  config/kube/exports/namespaced/apiexport-storage.k8s.io.yaml
  config/kube/exports/namespaced/apiresourceschema-cronjobs.batch.yaml
  config/kube/exports/namespaced/apiresourceschema-csistoragecapacities.storage.k8s.io.yaml
  config/kube/exports/namespaced/apiresourceschema-daemonsets.apps.yaml
  config/kube/exports/namespaced/apiresourceschema-endpoints.core.k8s.io.yaml
  config/kube/exports/namespaced/apiresourceschema-endpointslices.discovery.k8s.io.yaml
  config/kube/exports/namespaced/apiresourceschema-horizontalpodautoscalers.autoscaling.yaml
  config/kube/exports/namespaced/apiresourceschema-jobs.batch.yaml
  config/kube/exports/namespaced/apiresourceschema-networkpolicies.networking.k8s.io.yaml
  config/kube/exports/namespaced/apiresourceschema-persistentvolumeclaims.core.k8s.io.yaml
  config/kube/exports/namespaced/apiresourceschema-poddisruptionbudgets.policy.yaml
  config/kube/exports/namespaced/apiresourceschema-podtemplates.core.k8s.io.yaml
  config/kube/exports/namespaced/apiresourceschema-replicasets.apps.yaml
  config/kube/exports/namespaced/apiresourceschema-replicationcontrollers.core.k8s.io.yaml
  config/kube/exports/namespaced/apiresourceschema-statefulsets.apps.yaml
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/where-resolver-subs/where-resolver-2-ws-root-and-ws-create-edge.md
  scripts/inner/kubestellar
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1404 ✨ remove the --allcluster-context from placement-translator
  core-container/entry.sh
  scripts/inner/kubestellar
Labels: size/XS, dco-signoff: yes

#1408 :bug: fix the syncer test
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-florin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-guilder.md
Labels: size/M, dco-signoff: yes

#1406 :sparkles: Name changes
  cmd/kubestellar-where-resolver/cmd/where-resolver-cmd.go
  cmd/kubestellar-where-resolver/options/options.go
  cmd/mailbox-controller/controller.go
  cmd/mailbox-controller/main.go
  cmd/placement-translator/main.go
Labels: size/M, dco-signoff: yes

#1409 :sparkles: Minor changes upon review comments
  cmd/mailbox-controller/controller.go
  cmd/mailbox-controller/main.go
Labels: size/XS, dco-signoff: yes, space framework

#1407 ✨ Set the SM_CONTEXT for all controllers when running from an image
  core-container/entry.sh
  docs/content/common-subs/kubestellar-apply-apache-kind.md
Labels: size/XS, dco-signoff: yes

#1393 ✨ Add more adaptation for JSON logging
  pkg/apiwatch/definition-tracking.go
  pkg/apiwatch/resources.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1411 🐛 Do not count docs/scripts/generated_script.sh
  hack/count-commit.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1363 :sparkles: Switch to use the Space Framework
  .github/workflows/docs-ecutable-syncer.yml
  cmd/kubestellar-where-resolver/cmd/where-resolver-cmd.go
  cmd/kubestellar-where-resolver/options/options.go
  cmd/mailbox-controller/controller.go
  cmd/mailbox-controller/main.go
  cmd/placement-translator/main.go
  core-container/entry.sh
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-provider.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-pre-provider.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-teardown.md
  docs/content/Coding Milestones/PoC2023q1/example1.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-florin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-guilder.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer.md
  docs/content/Coding Milestones/PoC2023q1/placement-translator.md
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-c-onboarding-clusters.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-d-create-and-deploy-apache-into-clusters.md
  docs/content/Getting-Started/user-quickstart-test.md
  docs/content/common-subs/kubestellar-apply-apache-kind.md
  pkg/mailboxwatch/impl.go
  pkg/mailboxwatch/impl_test.go
  pkg/placement/apiwatch-map-provider.go
  pkg/placement/binding-organizer.go
  pkg/placement/declarations.go
  pkg/placement/external-name.go
  pkg/placement/hash-domain.go
  pkg/placement/main.go
  pkg/placement/rotations_test.go
  pkg/placement/set-binder-assembly.go
  pkg/placement/set-binder-test.go
  pkg/placement/test-apimap-provider.go
  pkg/placement/what-resolver.go
  pkg/placement/what-resolver_test.go
  pkg/placement/where-resolver.go
  pkg/placement/where-resolver_test.go
  pkg/placement/workload-projector.go
  pkg/where-resolver/controller.go
  pkg/where-resolver/reconcile_on_edgeplacement.go
  pkg/where-resolver/reconcile_on_location.go
  pkg/where-resolver/reconcile_on_synctarget.go
  scripts/inner/kubestellar
  scripts/inner/kubestellar-kube-bind
  scripts/outer/kubectl-kubestellar-ensure-location
  scripts/outer/kubectl-kubestellar-prep_for_syncer
  scripts/overlap/kubectl-kubestellar-create-space
  scripts/overlap/kubectl-kubestellar-ensure-wmw
  scripts/overlap/kubectl-kubestellar-get-config-for-space
Labels: size/XXL, approved, lgtm, dco-signoff: yes, decoup-kcp

#1436 ✨ Better error handling of `kubectl bind`
  scripts/inner/kubestellar-kube-bind
Labels: size/S, approved, lgtm, dco-signoff: yes

#1437 🐛 Replace secret delete;create with apply
  core-container/entry.sh
  space-framework/entry.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1441 🐛 Add missing specification of namespace holding Space
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-teardown.md
  docs/content/common-subs/teardown-the-environment.md
  scripts/outer/kubectl-kubestellar-remove-wmw
Labels: size/S, approved, lgtm, dco-signoff: yes

#1439 🐛 Fix bugs wrt name of projected SyncerConfig
  pkg/placement/main.go
  pkg/placement/workload-projector.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1446 :seedling: Don't apply exports
  config/exports/apiexport-edge.kubestellar.io.yaml
  config/exports/apiresourceschema-customizers.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-edgeplacements.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-edgesyncconfigs.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-locations.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-singleplacementslices.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-syncerconfigs.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-synctargets.edge.kubestellar.io.yaml
  hack/update-codegen-crds.sh
  scripts/inner/kubestellar
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1440 🐛 Remove concurrency bug in mailbox controller
  cmd/mailbox-controller/controller.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1442 📖 Update commands.md
  docs/content/Coding Milestones/PoC2023q1/commands.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1445 🐛 Also don't count kubestellar-kube-bind-logs/ and build/
  hack/count-commit.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1449 :bug: Use the IN_CLUSTER env variable instead of hardcoded --in-cluster
  scripts/inner/kubestellar-kube-bind
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1453 ✨ Create configmap before binding
  hack/count-commit.sh
  scripts/inner/kubestellar-kube-bind
Labels: approved, lgtm, size/M, dco-signoff: yes

#1457 :sparkles: Add cli flag for external access to space provider
  cmd/kubestellar-where-resolver/cmd/where-resolver-cmd.go
  cmd/kubestellar-where-resolver/options/options.go
  cmd/mailbox-controller/main.go
  cmd/placement-translator/main.go
  pkg/placement/what-resolver_test.go
  space-framework/cmd/space-client-test/main.go
  space-framework/pkg/msclientlib/client.go
  space-framework/pkg/msclientlib/controller.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1459 🌱 deleted syncer finalizer which is not used anywhere
  pkg/syncer/shared/finalizer.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1444 🌱 Revamp commands
  .github/workflows/docs-ecutable-user-quickstart-test.yml
  cmd/mailbox-controller/controller.go
  core-container/entry.sh
  core.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-kcp-provider.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-provider.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-pre-provider.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-space-manager.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-florin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-guilder.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-d-create-and-deploy-apache-into-clusters.md
  docs/content/Getting-Started/user-quickstart-test.md
  docs/content/common-subs/kubestellar-apply-apache-kind.md
  docs/content/common-subs/kubestellar-prep-syncer-test.md
  scripts/inner/kubectl-kubestellar-ensure-inventory_space
  scripts/inner/kubectl-kubestellar-ensure-wmw
  scripts/inner/kubestellar
  scripts/inner/kubestellar-kube-bind
  scripts/outer/kubectl-kubestellar-ensure-location
  scripts/outer/kubectl-kubestellar-get_external_kubeconfig
  scripts/outer/kubectl-kubestellar-get_internal_kubeconfig
  scripts/outer/kubectl-kubestellar-prep_for_cluster
  scripts/outer/kubectl-kubestellar-prep_for_syncer
  scripts/overlap/kubectl-kubestellar-create-space
  scripts/overlap/kubectl-kubestellar-ensure-wmw
  scripts/overlap/kubectl-kubestellar-get-config-for-space
  scripts/overlap/kubectl-kubestellar-space
  scripts/overlap/kubectl-kubestellar-space-ensure
  scripts/overlap/kubectl-kubestellar-space-get_kubeconfig
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1462 ✨ Defensive parsing of kubectl-bind result
  scripts/inner/kubestellar-kube-bind
Labels: size/S, approved, lgtm, dco-signoff: yes

#1463 🌱 Some more updates to the user quickstarts
  docs/content/Getting-Started/user-quickstart-kind.md
  docs/content/Getting-Started/user-quickstart-openshift.md
  docs/content/Getting-Started/user-quickstart-test.md
  docs/content/common-subs/kubestellar-prep-syncer.md
  docs/content/common-subs/kubestellar-show-available-spaces.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1466 🐛 Don't ignore available discovery results in err case
  pkg/apiwatch/definition-tracking.go
  pkg/apiwatch/resources.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1461 🌱 update the use of ObjectMeta Finalizers in space framework
  space-framework/pkg/space-manager/provider.go
  space-framework/pkg/space-manager/reconcile_space.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1468 ✨ create a space manager example
  space-framework/test/example/clone_and_build_space_manager.sh
  space-framework/test/example/create_kind_cluster.sh
  space-framework/test/example/example.md
  space-framework/test/example/get_kubeconfig_for_space
  space-framework/test/example/install_and_run_kcp.sh
  space-framework/test/example/install_and_run_kubeflex.sh
  space-framework/test/example/kcp-provider.yaml
  space-framework/test/example/kcp-space.yaml
  space-framework/test/example/kf-provider.yaml
  space-framework/test/example/kf-space.yaml
  space-framework/test/example/kind-provider.yaml
  space-framework/test/example/kind-space.yaml
  space-framework/test/example/run_space_manager.sh
Labels: approved, lgtm, size/L, dco-signoff: yes, space framework

#1469 :seedling: improve SM examples
  space-framework/test/example/clone_and_build_space_manager.sh
  space-framework/test/example/example.md
Labels: size/L, dco-signoff: yes

#1471 :seedling: Doc1
  space-framework/docs/images/SAC.drawio.png
  space-framework/docs/images/SF-All.drawio.png
  space-framework/docs/images/SF-All.drawio.svg
  space-framework/docs/space-framework.md
Labels: size/L, dco-signoff: yes

#1475 :bug: Fix space framework example
  space-framework/test/example/create_kind_cluster.sh
  space-framework/test/example/example.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1476 :bug: Fix space finalizer deletion
  space-framework/pkg/space-manager/provider.go
  space-framework/pkg/space-manager/reconcile_space.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1478 :sparkles: Add teardown section in SM example
  space-framework/test/example/example.md
Labels: size/S, dco-signoff: yes

#1477 ✨ sm example
  space-framework/test/example/example.md
Labels: approved, lgtm, size/M, dco-signoff: yes, space framework

#1456 :book: fix: trivial typo
  docs/content/common-subs/delete-contexts-for-kind-and-openshift-clusters.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#1465 🌱 updated kube bind `AnalyzeObject` func not to return the namespace of the original object.
  cmd/mailbox-controller/controller.go
  docs/content/Coding Milestones/PoC2023q1/outline.md
  pkg/kbuser/object_ids.go
  pkg/placement/what-resolver.go
  pkg/placement/where-resolver.go
  pkg/placement/workload-projector.go
  pkg/where-resolver/reconcile_on_edgeplacement.go
  pkg/where-resolver/reconcile_on_location.go
  pkg/where-resolver/reconcile_on_synctarget.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1481 :book: fix: broken link
  CONTRIBUTING.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#1474 🐛 Update clone_and_build_space_manager.sh
  space-framework/test/example/clone_and_build_space_manager.sh
Labels: size/XS, needs-ok-to-test, dco-signoff: no

#1482 :bug: Update remove-all.md
  docs/content/common-subs/remove-all.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1484 :sparkles: Cosmetic changes in the example1 subs
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-pre-provider.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1483 ✨ update with-kube
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-provider-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-provider-kubeflex.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  scripts/inner/kubestellar
Labels: size/S, approved, lgtm, dco-signoff: yes

#1486 :sparkles: Remove unused code from update-codegen-crds.sh
  hack/update-codegen-crds.sh
Labels: size/XS, dco-signoff: yes

#1472 🌱 Remove the check and cleanup of the request file
  scripts/inner/kubestellar-kube-bind
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1479 ✨ updated transport controller code
  go.mod
  go.sum
  pkg/transport/generic_transport_controller.go
  pkg/transport/transport.go
Labels: lgtm, size/L, dco-signoff: yes, pluggable-transport

#1488 🌱 switched from controller runtime client to dynamic client
  go.mod
  go.sum
  pkg/transport/generic_transport_controller.go
  pkg/transport/transport.go
Labels: lgtm, size/L, dco-signoff: yes

#1490 🌱 calculate wrapped object GVR from the wrapped object.
  pkg/transport/generic_transport_controller.go
  pkg/transport/transport.go
Labels: lgtm, size/M, dco-signoff: yes

#1494 :sparkles: preparation for work on where-resolver for pluggable transport
  pkg/pluggable-transport-where-resolver/README.md
  pkg/pluggable-transport-where-resolver/controller.go
  pkg/pluggable-transport-where-resolver/reconcile_on_edgeplacement.go
  pkg/pluggable-transport-where-resolver/reconcile_on_location.go
  pkg/pluggable-transport-where-resolver/reconcile_on_synctarget.go
  pkg/pluggable-transport-where-resolver/store.go
Labels: size/XXL, lgtm, dco-signoff: yes

#1493 ✨ ocm transport
  pkg/transport/generic_transport_controller.go
  pkg/transport/transport.go
Labels: size/S, dco-signoff: yes
