Repository kubestellar/kubestellar, pull requests merged in 2023-09, with the labels that each got.

#960 ✨ Remove junk from placement-translator
  cmd/placement-translator/main.go
  docs/content/Coding Milestones/PoC2023q1/placement-translator.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#962 ✨ Add -X to some scripts
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/kubectl-kubestellar-ensure-location
  scripts/kubectl-kubestellar-ensure-wmw
  scripts/kubectl-kubestellar-prep_for_cluster
  scripts/kubectl-kubestellar-prep_for_syncer
  scripts/kubectl-kubestellar-remove-location
  scripts/kubectl-kubestellar-remove-wmw
Labels: approved, lgtm, size/M, dco-signoff: yes

#966 :bug: Use informer in KCP space provider
  space-provider/kcp/kcp.go
Labels: approved, lgtm, size/L, dco-signoff: yes, decoup-kcp, space framework

#968 :sparkles: Syncer supports NamespacedObjects in syncerconfig
  pkg/syncer/controller/syncerconfigcontroller_test.go
  pkg/syncer/controller/syncerconfigmanager.go
  test/e2e/kubestellar-syncer/common_test.go
  test/e2e/kubestellar-syncer/syncer_kyverno_test.go
  test/e2e/kubestellar-syncer/syncer_namespaced_objects_test.go
  test/e2e/kubestellar-syncer/syncer_syncerconfig_test.go
  test/e2e/kubestellar-syncer/testdata/kyverno/syncer-config-namespaced-objects-coexist.yaml
  test/e2e/kubestellar-syncer/testdata/kyverno/syncer-config-namespaced-objects.yaml
  test/e2e/kubestellar-syncer/testdata/namespaced-objects/configmap-test1-cm1.yaml
  test/e2e/kubestellar-syncer/testdata/namespaced-objects/configmap-test1-cm2.yaml
  test/e2e/kubestellar-syncer/testdata/namespaced-objects/configmap-test2-cm1.yaml
  test/e2e/kubestellar-syncer/testdata/namespaced-objects/configmap-test2-cm2.yaml
  test/e2e/kubestellar-syncer/testdata/namespaced-objects/configmap-test3-cm1.yaml
  test/e2e/kubestellar-syncer/testdata/namespaced-objects/secret-test1.yaml
  test/e2e/kubestellar-syncer/testdata/namespaced-objects/secret-test2.yaml
  test/e2e/kubestellar-syncer/testdata/namespaced-objects/secret-test3.yaml
  test/e2e/kubestellar-syncer/testdata/namespaced-objects/syncer-config.yaml
  test/e2e/kubestellar-syncer/testdata/syncerconfig/syncer-config-namespaced-objects.yaml
Labels: approved, lgtm, size/XL, dco-signoff: yes

#980 📖 Improve pointers to getting kcp in example1
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#973 📖 Add some internal documentation pkg/placement/doc.go
  pkg/placement/doc.go
  pkg/placement/set-types.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#986 📖 Make quickstart clearer about kcp
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
  docs/content/Getting-Started/quickstart.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#963 🐛 Cope with simplicity of SimpleClientset
  pkg/mailboxwatch/impl_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#987 ✨ cleanup cluster-watchall and apiwatch
  cmd/cluster-watchall/README.md
  cmd/cluster-watchall/main.go
  pkg/apiwatch/resources.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#999 :seedling: Remove the dependency of core.kcp.io/v1alpha1/logicalclusters from Syncer
  .secrets.baseline
  cmd/syncer/main.go
  cmd/syncer/options/options.go
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-1-syncer-gen-plugin.md
  pkg/cliplugins/kubestellar/syncer-gen/edgesync.go
  pkg/cliplugins/kubestellar/syncer-gen/edgesync_test.go
  pkg/cliplugins/kubestellar/syncer-gen/kubestellar-syncer.yaml
  pkg/syncer/scripts/kubestellar-syncer-bootstrap.template.yaml
  pkg/syncer/syncer.go
  test/e2e/framework/kubestellar_syncer.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#884 ✨ Let downsync object selection discriminate within a namespace
  config/crds/edge.kubestellar.io_edgeplacements.yaml
  config/exports/apiexport-edge.kubestellar.io.yaml
  config/exports/apiresourceschema-edgeplacements.edge.kubestellar.io.yaml
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-d-create-and-deploy-apache-into-clusters.md
  hack/logcheck.out
  pkg/apis/edge/v1alpha1/edge-placement.go
  pkg/apis/edge/v1alpha1/zz_generated.deepcopy.go
  pkg/placement/binding-organizer.go
  pkg/placement/declarations.go
  pkg/placement/dummies.go
  pkg/placement/functions.go
  pkg/placement/rotations_test.go
  pkg/placement/set-binder-test.go
  pkg/placement/set-indexed.go
  pkg/placement/set-types.go
  pkg/placement/slices.go
  pkg/placement/what-resolver.go
  pkg/placement/what-resolver_test.go
  pkg/placement/where-resolver.go
  pkg/placement/where-resolver_test.go
  pkg/placement/workload-projector.go
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1003 :seedling: Remove --from-cluster flag and temporally use syncer:pr-999 for transitioning to the new syncer-gen
  pkg/cliplugins/kubestellar/syncer-gen/edgesync_test.go
  pkg/cliplugins/kubestellar/syncer-gen/kubestellar-syncer.yaml
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1005 ✨ Update where-resolver doc for EdgePlacement schema change
  config/samples/edgeplacement_all2all.yaml
  config/samples/edgeplacement_dev.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1000 ✨ Make syncer image not depend on commit ID
  Makefile
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1004 ✨ Update kubectl-kubestellar-deploy to latest KS ctr image
  scripts/kubectl-kubestellar-deploy
Labels: size/XS, approved, lgtm, dco-signoff: yes

#988 ✨ Extend apiwatch
  cmd/cluster-watchall/README.md
  cmd/cluster-watchall/main.go
  config/crds/meta.kubestellar.io_apiresources.yaml
  config/exports/apiexport-edge.kubestellar.io.yaml
  config/exports/apiexport-meta.kubestellar.io.yaml
  config/exports/apiexport-space.kubestellar.io.yaml
  config/exports/apiresourceschema-apiresources.meta.kubestellar.io.yaml
  config/exports/apiresourceschema-customizers.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-edgeplacements.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-edgesyncconfigs.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-locations.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-singleplacementslices.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-spaceproviderdescs.space.kubestellar.io.yaml
  config/exports/apiresourceschema-spaces.space.kubestellar.io.yaml
  config/exports/apiresourceschema-syncerconfigs.edge.kubestellar.io.yaml
  config/exports/apiresourceschema-synctargets.edge.kubestellar.io.yaml
  hack/update-codegen-clients.sh
  hack/update-codegen-crds.sh
  pkg/apis/meta/v1alpha1/resources.go
  pkg/apis/meta/v1alpha1/zz_generated.deepcopy.go
  pkg/apiwatch/resources.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/cluster/clientset.go
  pkg/client/clientset/versioned/cluster/fake/clientset.go
  pkg/client/clientset/versioned/cluster/scheme/register.go
  pkg/client/clientset/versioned/cluster/typed/meta/v1alpha1/apiresource.go
  pkg/client/clientset/versioned/cluster/typed/meta/v1alpha1/fake/apiresource.go
  pkg/client/clientset/versioned/cluster/typed/meta/v1alpha1/fake/meta_client.go
  pkg/client/clientset/versioned/cluster/typed/meta/v1alpha1/meta_client.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/apiresource.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/fake/fake_apiresource.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/fake/fake_meta_client.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/meta_client.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/meta/interface.go
  pkg/client/informers/externalversions/meta/v1alpha1/apiresource.go
  pkg/client/informers/externalversions/meta/v1alpha1/interface.go
  pkg/client/listers/meta/v1alpha1/apiresource.go
  pkg/client/listers/meta/v1alpha1/apiresource_expansion.go
  pkg/client/listers/space/v1alpha1/clusterproviderdesc_expansion.go
  pkg/placement/apiwatch-map-provider.go
  pkg/placement/what-resolver.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#983 📖 Add kcp, Space object-vs-physical distinction to glossary
  docs/content/Getting-Started/user-guide.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1011 🌱 Begin cleanup after EdgePlacement downsync unification
  pkg/placement/apiwatch-map-provider.go
  pkg/placement/binding-organizer.go
  pkg/placement/declarations.go
  pkg/placement/doc.go
  pkg/placement/external-name.go
  pkg/placement/hash-domain.go
  pkg/placement/map-factored.go
  pkg/placement/rotations_test.go
  pkg/placement/set-binder-assembly.go
  pkg/placement/set-binder-test.go
  pkg/placement/slices.go
  pkg/placement/what-resolver.go
  pkg/placement/what-resolver_test.go
  pkg/placement/where-resolver.go
  pkg/placement/where-resolver_test.go
  pkg/placement/workload-projector.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1013 :sparkles: move the space client lib into the space-framework
  go.mod
  go.sum
  pkg/spaceclient/clientset/clientset.go
  space-framework/Makefile
  space-framework/cmd/space-client-test/main.go
  space-framework/config/exports/apiexport-space.kubestellar.io.yaml
  space-framework/config/exports/apiresourceschema-spaceproviderdescs.space.kubestellar.io.yaml
  space-framework/config/exports/apiresourceschema-spaces.space.kubestellar.io.yaml
  space-framework/go.mod
  space-framework/go.sum
  space-framework/pkg/msclientlib/client.go
  space-framework/pkg/msclientlib/controller.go
Labels: approved, lgtm, size/L, dco-signoff: yes, decoup-kcp

#969 ✨ introduce a Type for the space object
  space-framework/config/crds/space.kubestellar.io_spaces.yaml
  space-framework/config/exports/apiresourceschema-spaces.space.kubestellar.io.yaml
  space-framework/pkg/apis/space/v1alpha1/space.go
  space-framework/pkg/space-manager/provider.go
  space-framework/pkg/space-manager/reconcile_space.go
  space-framework/pkg/space-manager/reconcile_spaceprovider.go
  space-framework/test/e2e-sh-tests/space1.yaml
  space-framework/test/e2e-sh-tests/space2.yaml
Labels: approved, lgtm, size/L, dco-signoff: yes, decoup-kcp, space framework

#1008 ✨ Draft API for requesting return of singleton reported state
  pkg/apis/edge/v1alpha1/report-single.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1024 :bug: Fix arch detection for Mac arm in install-kcp-with-plugins.sh
  bootstrap/install-kcp-with-plugins.sh
  bootstrap/install-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1029 📖 Brush up docs a little
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1030 :book: Add Helm to required packages
  docs/content/common-subs/required-packages.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1033 📖 A few doc updates & expansions
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1007 :book: QuickStart corrections
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-a-kind-clusters-florin.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-a-kind-clusters-guilder.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-c-onboarding-clusters.md
  docs/content/common-subs/required-packages.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1034 🌱 Also tag center KS image with git commit
  Makefile
  center.Dockerfile
Labels: size/S, approved, lgtm, dco-signoff: yes

#1039 ✨ Rename "center" image to "core", support extra tag
  Makefile
  core.Dockerfile
  docs/content/Contribution guidelines/CONTRIBUTING.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1043 📖 Add remarks about hosting cluster and Ingress
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1041 ✨ Recognize that core helm chart is being maintained internally
  core-container/entry.sh
  core-helm-chart/.helmignore
  core-helm-chart/Chart.yaml
  core-helm-chart/README.md
  core-helm-chart/templates/deployment.yaml
  core-helm-chart/templates/ingress.yaml
  core-helm-chart/templates/ns.yaml
  core-helm-chart/templates/pvc.yaml
  core-helm-chart/templates/role.yaml
  core-helm-chart/templates/rolebinding.yaml
  core-helm-chart/templates/route.yaml
  core-helm-chart/templates/sa.yaml
  core-helm-chart/templates/service.yaml
  core-helm-chart/values.yaml
  core.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/environments/dev-env.md
  example/kind-nginx-ingress-with-SSL-passthrough.yaml
  hack/make-release-platform-archive.sh
  scripts/kubectl-kubestellar-deploy
  user/container/Dockerfile
  user/container/Makefile
  user/container/README.md
  user/container/kubestellar-patch/kubectl-kubestellar-ensure-location
  user/container/kubestellar-patch/kubectl-kubestellar-prep_for_cluster
  user/container/kubestellar-patch/kubectl-kubestellar-prep_for_syncer
  user/container/kubestellar-patch/kubectl-kubestellar-remove-location
  user/container/kubestellar-patch/kubestellar-ensure-ca
  user/container/kubestellar-patch/kubestellar-ensure-kcp-server-creds
  user/container/kubestellar-patch/kubestellar-make-kcp-server-cert
  user/container/kubestellar-patch/switch-domain
  user/container/kubestellar-patch/wait-and-switch-domain
  user/yaml/README.md
  user/yaml/kubestellar-client.yaml
  user/yaml/kubestellar-server-ingress.yaml
  user/yaml/kubestellar-server-route.yaml
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1047 🐛 Adopt hack for OpenShift vs amd64/v2 problem
  Makefile
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Contribution guidelines/CONTRIBUTING.md
Labels: approved, lgtm, size/M, dco-signoff: yes
