Repository kubestellar/kubestellar, pull requests merged in 2023-08, with the labels that each got.

#850 ✨ Remove vestigal Dockerfile
  CONTRIBUTING.md
  Dockerfile
  docs/content/Contribution guidelines/CONTRIBUTING.md
  hack/verify-go-versions.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#851 🐛 Make server cert filename depend on domain name
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/kubestellar-ensure-kcp-server-creds
  scripts/kubestellar-make-kcp-server-cert
Labels: size/S, approved, lgtm, dco-signoff: yes

#861 ✨ feature finish adoption of definition of SyncTarget and Location
  cmd/emc-customize/main.go
  cmd/mailbox-controller/main.go
  cmd/mailbox-controller/options/options.go
  hack/logcheck.out
  pkg/customize/customize.go
  pkg/placement/workload-projector.go
  scripts/kubectl-kubestellar-ensure-location
  scripts/kubectl-kubestellar-remove-location
Labels: approved, lgtm, size/M, dco-signoff: yes

#862 🐛 Fix file name issues in kubestellar-ensure-kcp-server-creds
  scripts/kubestellar-ensure-kcp-server-creds
  scripts/kubestellar-make-kcp-server-cert
Labels: approved, lgtm, size/M, dco-signoff: yes

#864 ✨ Change switch-domain to take output pathname
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/switch-domain
  scripts/wait-and-switch-domain
Labels: approved, lgtm, size/M, dco-signoff: yes

#860 🌱 Make bootstrap script able to not deploy
  CONTRIBUTING.md
  bootstrap/bootstrap-kubestellar.sh
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#872 :book: Update quickstart's Ubuntu required-packages.md
  docs/content/common-subs/required-packages.md
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#875 ✨ feature - Remove some additional kcp references
  cmd/syncer/options/options.go
  pkg/apis/edge/v1alpha1/customize.go
  pkg/placement/main.go
  test/e2e/framework/kubestellar_syncer.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#878 🐛 add flags for space management context + fixed logging + changed kube…
  cmd/ms-client-test/main.go
  cmd/space-manager/main.go
  pkg/mcclient/mcclient.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#877 🐛 Update example1-stage-1b.md to remove root:espw:edge.kcp.io
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#867 ✨ start drafting internal Dockerfile and simple user commands
  Makefile
  center.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/environments/dev-env.md
  scripts/kubectl-kubestellar-deploy
  scripts/kubectl-kubestellar-get_external_kubeconfig
  scripts/kubectl-kubestellar-get_internal_kubeconfig
  user/container/entry.sh
  user/helm-chart/README.md
  user/helm-chart/templates/ingress.yaml
  user/helm-chart/templates/route.yaml
  user/helm-chart/values.yaml
Labels: approved, lgtm, size/XL, dco-signoff: yes

#886 📖 Document build and test of center image
  docs/content/Coding Milestones/PoC2023q1/environments/dev-env.md
  docs/content/Contribution guidelines/CONTRIBUTING.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#865 ✨ Create generic command to execute a go template
  cmd/go-template-execute/README.md
  cmd/go-template-execute/go.mod
  cmd/go-template-execute/go.sum
  cmd/go-template-execute/main.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#889 ✨ Document -X and -h for new commands
  docs/content/Coding Milestones/PoC2023q1/commands.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#887 :bug:Allow empty Space status phase
  config/crds/space.kubestellar.io_spaces.yaml
  config/exports/apiexport-space.kubestellar.io.yaml
  config/exports/apiresourceschema-spaces.space.kubestellar.io.yaml
  pkg/apis/space/v1alpha1/space.go
Labels: size/S, approved, lgtm, dco-signoff: yes, decoup-kcp

#888 :bug:Get space from server if not in cache
  pkg/mcclient/mcclient.go
Labels: size/S, approved, lgtm, dco-signoff: yes, decoup-kcp

#885 ✨ Generalize SyncerConfig for anticipated EdgePlacement change
  config/crds/edge.kcp.io_syncerconfigs.yaml
  config/exports/apiexport-edge.kcp.io.yaml
  config/exports/apiresourceschema-syncerconfigs.edge.kcp.io.yaml
  pkg/apis/edge/v1alpha1/syncer-config.go
  pkg/apis/edge/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#883 ✨ Add command to fetch central process log
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/kubectl-kubestellar-get_log
Labels: approved, lgtm, size/L, dco-signoff: yes

#890 📖 Make example1 show both ways of deploying
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#891 📖 Make port number more clearly an example
  docs/content/Coding Milestones/PoC2023q1/commands.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#892 🐛 Add helm chart to platform archive
  hack/make-release-platform-archive.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#894 ✨ Make bootstrap able to deploy to kubernetes cluster
  bootstrap/bootstrap-kubestellar.sh
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-b-create-imw-and-wmw.md
  docs/content/common-subs/teardown-the-environment.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#899 ✨ Add more info to kcp version mismatch error message
  bootstrap/bootstrap-kubestellar.sh
Labels: kind/documentation, approved, lgtm

#893 📖 Factor pre-reqs in quickstart
  docs/content/Contribution guidelines/CONTRIBUTING.md
  docs/content/common-subs/required-packages.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#910 ✨ update logging to append instead of replace
  scripts/kubestellar
Labels: kind/bug, size/XS, approved, lgtm, dco-signoff: yes

#917 📖 Document teardown of deployment to Kubernetes
  docs/content/Coding Milestones/PoC2023q1/commands.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#937 ✨ Avoid empty cluster IDs
  hack/logcheck.out
  pkg/placement/workload-projector.go
  scripts/kubestellar
Labels: approved, lgtm, size/M, dco-signoff: yes

#924 :bug:Check cluster has owner in KCP provider
  space-provider/kcp/kcp.go
Labels: size/XS, approved, lgtm, dco-signoff: yes, decoup-kcp

#941 🐛(release-0.4) Fix Syncer not to update status field
  pkg/syncer/syncers/common.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#947 🐛 Choose update status method according to API group
  pkg/syncer/syncers/downsyncer.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#946 🐛 release-0.4: Choose update status method according to API group
  pkg/syncer/syncers/downsyncer.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#949 🐛 release-0.4: Update prep-for-syncer plugin to use PR 946
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: size/XS, approved, lgtm, dco-signoff: yes

#950 🐛 Make prep-for-syncer plugin use status write hack
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: size/XS, approved, lgtm, dco-signoff: yes

#954 ✨ Make syncer image build record git commit
  Makefile
Labels: size/XS, approved, lgtm, dco-signoff: yes
