Repository kubestellar/kubestellar, pull requests merged in 2023-11, with the labels that each got.

#1235 🐛 Make example1 wait for readyReplicas==1
  docs/content/Coding Milestones/PoC2023q1/example1.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1236 ✨ Run user-quickstart-test as regular CI
  .github/workflows/docs-ecutable-user-quickstart-test.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#1237 ✨ Test the local helm chart rather than a released one
  docs/content/common-subs/install-helm-test.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1238 📖 Fix typo in doc menu
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1221 ✨ Add implicit selection of CRDs, APIBindings
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-4.md
  pkg/apiwatch/apibindings.go
  pkg/apiwatch/crds.go
  pkg/apiwatch/resources.go
  pkg/placement/apiwatch-map-provider.go
  pkg/placement/binding-organizer.go
  pkg/placement/doc.go
  pkg/placement/slices.go
  pkg/placement/what-resolver.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1239 📖 Add user-quickstart-test to packaging and versioning drawing
  docs/content/Contribution guidelines/operations/KubeStellar-Versioned-and-Distributed-Things.svg
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1225 :bug: remove conflicts between KS and the space-framework
  Makefile
  cmd/test-space-framework/main.go
  go.mod
  go.sum
  space-framework/go.mod
  space-framework/go.sum
  space-framework/pkg/client/clientset/versioned/clientset.go
  space-framework/pkg/client/clientset/versioned/typed/space/v1alpha1/fake/fake_space.go
  space-framework/pkg/client/clientset/versioned/typed/space/v1alpha1/fake/fake_spaceproviderdesc.go
  space-framework/pkg/client/informers/externalversions/factory.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes, decoup-kcp, space framework

#1244 📖 fix typos in docs
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-c-onboarding-clusters.md
Labels: size/S, approved, lgtm, needs-ok-to-test, dco-signoff: yes

#1246 :bug: Fix cluster aware client crash
  space-framework/pkg/msclientlib/client.go
Labels: size/S, approved, lgtm, dco-signoff: yes, space framework

#1247 :bug: fix syncer-gen to generate SA token for later K8Ss that no longer generate SA token automatically
  .secrets.baseline
  go.mod
  pkg/cliplugins/kubestellar/syncer-gen/edgesync.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1245 :bug: Fix some SM bugs
  space-framework/pkg/space-manager/provider.go
  space-framework/pkg/space-manager/reconcile_spaceprovider.go
Labels: approved, lgtm, size/M, dco-signoff: yes, decoup-kcp, space framework

#1252 📖 Update doc on building the syncer image
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer.md
  docs/content/Contribution guidelines/operations/release-management.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1253 📖 Document the kcp hack that Paolo did
  docs/content/Coding Milestones/PoC2023q1/outline.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1258 🐛 Make core.Dockerfile accept advance in golang version
  .gitignore
  core.Dockerfile
  docs/content/common-subs/build-syncer-image.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1263 🐛 Stop executing outdated part of syncer doc
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-1-syncer-gen-plugin.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1262 🐛 Rename APIExports to avoid collisions
  config/kube/exports/cluster-scoped/apiexport-core.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiexport-networking.k8s.io.yaml
  config/kube/exports/cluster-scoped/apiexport-storage.k8s.io.yaml
  overlap-scripts/kubectl-kubestellar-ensure-wmw
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1256 🐛 Rebased update bootstrap and container image to use the patched kcp 0.11
  bootstrap/bootstrap-kubestellar.sh
  bootstrap/install-kcp-with-plugins.sh
  core.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
  outer-scripts/kubectl-kubestellar-prep_for_syncer
Labels: approved, lgtm, size/M, dco-signoff: yes

#1264 📖 Noted two more patched kcp archives
  docs/content/Coding Milestones/PoC2023q1/outline.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1257 ✨ Make test user quickstart exercise ServiceAccount
  docs/content/Getting-Started/user-quickstart-test.md
  docs/content/common-subs/install-helm-test.md
  pkg/placement/declarations.go
  pkg/placement/map-types.go
  pkg/placement/marshal.go
  pkg/placement/what-resolver.go
  pkg/placement/where-resolver.go
  pkg/placement/workload-projector.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1255 :bug: Avoid panic due to closing a closed channel
  space-framework/space-provider/kubeflex/kubeflex.go
Labels: size/S, approved, lgtm, dco-signoff: yes, decoup-kcp, space framework

#1254 ✨ Invocation of kube-bind script from the mailbox-controller
  cmd/mailbox-controller/controller.go
  overlap-scripts/kubectl-kubestellar-ensure-mbw
Labels: size/S, approved, lgtm, dco-signoff: yes, decoup-kcp, space framework

#1250 :sparkles: Get space config by reference in annotation
  space-framework/pkg/msclientlib/client.go
  space-framework/pkg/msclientlib/controller.go
Labels: approved, lgtm, size/M, dco-signoff: yes, decoup-kcp, space framework

#1218 ✨ add space container to the ks pod
  core-container/entry.sh
  core-helm-chart/templates/clusterrole.yaml
  core-helm-chart/templates/clusterrolebinding.yaml
  core-helm-chart/templates/deployment.yaml
  core-helm-chart/values.yaml
  space-framework/core.Dockerfile
  space-framework/entry.sh
  space-framework/hack/install-kubeflex.sh
Labels: approved, lgtm, size/L, dco-signoff: yes, decoup-kcp, space framework

#1269 :bug: Fix some code review comments
  cmd/kubestellar-where-resolver/cmd/where-resolver-cmd.go
  cmd/mailbox-controller/main.go
  cmd/mailbox-controller/options/options.go
  cmd/placement-translator/main.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1273 🐛 Make placement translator respect create-only setting on object
  pkg/apis/edge/v2alpha1/edge-placement.go
  pkg/placement/binding-organizer.go
  pkg/placement/declarations.go
  pkg/placement/dummies.go
  pkg/placement/set-binder-test.go
  pkg/placement/what-resolver.go
  pkg/placement/what-resolver_test.go
  pkg/placement/workload-projector.go
  pkg/syncer/syncers/downsyncer.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1276 🌱 Syncer gen patience2
  pkg/cliplugins/kubestellar/syncer-gen/edgesync.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1277 🌱 Revert to plain kcp
  bootstrap/bootstrap-kubestellar.sh
  bootstrap/install-kcp-with-plugins.sh
  core.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
  docs/content/Coding Milestones/PoC2023q1/outline.md
  docs/content/Getting-Started/user-quickstart-test.md
  pkg/cliplugins/kubestellar/syncer-gen/edgesync.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1281 🌱 Update default image refs to release-0.15 tag
  outer-scripts/kubectl-kubestellar-deploy
  outer-scripts/kubectl-kubestellar-prep_for_syncer
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1272 ✨ First draft of image repo listing utility
  hack/inspect-image.py
Labels: approved, lgtm, size/L, dco-signoff: yes

#1278 📖 added common badges used in most familiar go projects to README.
  README.md
  pkg/placement/apiwatch-map-provider.go
  pkg/placement/declarations.go
  pkg/placement/hash-domain.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1283 :sparkles: minor typo fix
  pkg/placement/workload-projector.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1290 :bug: error in secrets
  space-framework/pkg/space-manager/provider.go
  space-framework/space-provider/kubeflex/kubeflex.go
Labels: size/S, approved, lgtm, dco-signoff: yes, decoup-kcp

#1287 :sparkles: comment typo fix
  config/crds/edge.kubestellar.io_singleplacementslices.yaml
  config/exports/apiexport-edge.kubestellar.io.yaml
  config/exports/apiresourceschema-singleplacementslices.edge.kubestellar.io.yaml
  pkg/apis/edge/v2alpha1/single-placement.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1291 ✨ Add kube-bind ID mapping support
  pkg/kbuser/object_ids.go
  pkg/kbuser/space_ids.go
  pkg/kbuser/space_ids_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1298 ✨ Refactor where scripts live
  Makefile
  core.Dockerfile
  docs/content/Contribution guidelines/CONTRIBUTING.md
  docs/content/Contribution guidelines/operations/release-management.md
  scripts/README.md
  scripts/inner/kubestellar
  scripts/inner/kubestellar-ensure-ca
  scripts/inner/kubestellar-ensure-kcp-server-creds
  scripts/inner/kubestellar-make-kcp-server-cert
  scripts/inner/switch-domain
  scripts/inner/wait-and-switch-domain
  scripts/outer/kubectl-kubestellar
  scripts/outer/kubectl-kubestellar-deploy
  scripts/outer/kubectl-kubestellar-ensure
  scripts/outer/kubectl-kubestellar-ensure-location
  scripts/outer/kubectl-kubestellar-get_external_kubeconfig
  scripts/outer/kubectl-kubestellar-get_internal_kubeconfig
  scripts/outer/kubectl-kubestellar-prep_for_cluster
  scripts/outer/kubectl-kubestellar-prep_for_syncer
  scripts/outer/kubectl-kubestellar-remove
  scripts/outer/kubectl-kubestellar-remove-location
  scripts/outer/kubectl-kubestellar-remove-wmw
  scripts/outer/kubectl-workspace-ensure
  scripts/outer/remove-kubestellar
  scripts/overlap/kubectl-kubestellar-ensure-wmw
Labels: approved, lgtm, size/M, dco-signoff: yes

#1295 ✨ Parse the kube-bind cluster namespace at binding time
  cmd/mailbox-controller/controller.go
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  inner-scripts/kube-bind
  inner-scripts/kubestellar
  outer-scripts/kubectl-kubestellar-prep_for_syncer
  overlap-scripts/kubectl-kubestellar-ensure-mbw
  overlap-scripts/kubectl-kubestellar-ensure-wmw
Labels: approved, lgtm, size/L, dco-signoff: yes

#1301 ✨ Let the mailbox-controller use the new `kube-bind` script
  cmd/mailbox-controller/controller.go
  inner-scripts/kube-bind
  inner-scripts/kubestellar
  overlap-scripts/kubectl-kubestellar-ensure-mbw
  overlap-scripts/kubectl-kubestellar-ensure-wmw
Labels: approved, lgtm, size/L, dco-signoff: yes

#1305 :sparkles:Add bind for singleplacementslices in WMW
  scripts/overlap/kubectl-kubestellar-ensure-wmw
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1304 📖 minor update in docs
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-florin.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-c-onboarding-clusters.md
  docs/content/common-subs/teardown-the-environment.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1317 🌱 added contributors to README
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1318 ✨ Use a hot fix of kube-bind to sync labels
  core.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1320 📖 change p-cluster to workload execution cluster in syncer readme
  pkg/syncer/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1316 :seedling: Remove kcp modules from syncer-gen codes
  .secrets.baseline
  pkg/cliplugins/kubestellar/base/option.go
  pkg/cliplugins/kubestellar/syncer-gen/edgesync.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1323 :sparkles: Use original SyncTarget name in mailbox space annotation
  cmd/mailbox-controller/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1324 🌱 Switch to the script that labels objects after their creation
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1326 🌱 First batch of improvements to `kube-bind`
  cmd/mailbox-controller/controller.go
  scripts/inner/kubestellar
  scripts/inner/kubestellar-kube-bind
  scripts/overlap/kubectl-kubestellar-ensure-wmw
Labels: size/S, approved, lgtm, dco-signoff: yes

#1321 :sparkles: add external secret ref to provider
  space-framework/pkg/space-manager/provider.go
  space-framework/pkg/space-manager/providerclient/client_interface.go
  space-framework/space-provider/kcp/kcp.go
  space-framework/space-provider/kind/kind.go
  space-framework/space-provider/kubeflex/kubeflex.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1328 :sparkles: Fixes upon review comments
  cmd/mailbox-controller/controller.go
  cmd/placement-translator/main.go
  pkg/placement/what-resolver.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1330 🐛 fixed make codegen to work correctly in case of deleteion from pkg/apis
  Makefile
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1334 🌱 Changes in response to review comments
  core.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
  scripts/inner/kubestellar
  scripts/outer/kubectl-kubestellar-prep_for_cluster
  scripts/outer/kubectl-kubestellar-prep_for_syncer
Labels: approved, lgtm, size/M, dco-signoff: yes

#1335 :sparkles: Fixes upon review comments
  cmd/kubestellar-where-resolver/cmd/where-resolver-cmd.go
  cmd/mailbox-controller/controller.go
  pkg/placement/where-resolver.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1339 :sparkles: Enqueue reference and remove ex1 script
  cmd/mailbox-controller/controller.go
  scripts/outer/kubectl-kubestellar-ensure-location-ex1
Labels: approved, lgtm, size/L, dco-signoff: yes

#1259 ✨ updated verify go version script
  hack/verify-go-versions.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1338 🌱 Minor fixes in response to review comments to 1265
  scripts/outer/kubectl-kubestellar-prep_for_syncer
Labels: size/S, approved, lgtm, dco-signoff: yes

#1340 ✨ More changes in response to review comments to 1265
  core.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  scripts/inner/kubestellar
  scripts/inner/kubestellar-kube-bind
Labels: approved, lgtm, size/M, dco-signoff: yes

#1251 :sparkles: SF docs
  space-framework/docs/SAC.drawio.svg
  space-framework/docs/SF-All.drawio.svg
  space-framework/docs/SF-NS.drawio.svg
  space-framework/docs/space-framework.md
Labels: size/XXL, approved, lgtm, dco-signoff: yes, decoup-kcp, space framework

#1293 ✨ Code Management Documentation
  docs/content/Contribution guidelines/operations/code-management.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1344 🌱 Remove 'kcp' from .wordlist
  .github/spellcheck/.wordlist.txt
Labels: size/XS, approved, lgtm, dco-signoff: yes
