Repository kubestellar/kubestellar, pull requests merged in 2023-07, with the labels that each got.

#721 :sparkles: moved 'serving up documents locally' up higher in the doc
  docs/README.md
Labels: kind/documentation, approved, lgtm, size/M, dco-signoff: yes

#724 :bug:Fixes in discovery and reconcilers.
  clusterprovider/kind/kind.go
  cmd/logical-cluster-manager/main.go
  config/samples/clusterproviderdesc.yaml
  config/samples/logicalcluster_dev.yaml
  pkg/clustermanager/discovery.go
  pkg/clustermanager/reconcile_clusterprovider.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: approved, lgtm, size/M, dco-signoff: yes, decoup-kcp

#725 :bug: restructure provider
  pkg/clustermanager/controller.go
  pkg/clustermanager/discovery.go
  pkg/clustermanager/provider.go
  pkg/clustermanager/reconcile_clusterprovider.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: size/L, dco-signoff: yes

#729 :sparkles: add prefix filtering
  pkg/clustermanager/provider.go
Labels: lgtm, size/M, dco-signoff: yes, decoup-kcp

#730 :sparkles: add finalizer
  pkg/clustermanager/controller.go
  pkg/clustermanager/provider.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: size/M, dco-signoff: yes, decoup-kcp

#736 :bug: fixes
  pkg/clustermanager/provider.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: size/XS, dco-signoff: yes

#741 :bug:Fix logical clusters issues.
  clusterprovider/kind/kind.go
  config/samples/clusterproviderdesc.yaml
  pkg/clustermanager/controller.go
  pkg/clustermanager/provider.go
  pkg/clustermanager/providerclient/client_interface.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#733 :sparkles: update to include ko and yq as a pre-req for the purpose of compiling kubest…
  docs/content/common-subs/required-packages.md
Labels: kind/documentation, approved, lgtm, size/M, dco-signoff: yes

#738 ✨ No nested fetch
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-4.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-0-pull-kcp-and-kubestellar-source-and-start-kcp.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-1-build-kubestellar.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-1-export-kubeconfig-and-path-for-kcp.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-2-ws-root-and-ws-create-edge.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-imports.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-process-start.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler.md
  docs/content/Coding Milestones/PoC2023q1/mailbox-controller-subs/mailbox-controller-process-start.md
  docs/content/Coding Milestones/PoC2023q1/mailbox-controller.md
  docs/content/Coding Milestones/PoC2023q1/placement-translator-subs/placement-translator-process-start-without-cd-kubestellar.md
  docs/content/common-subs/pre-req.md
  docs/content/common-subs/save-some-time.md
  docs/content/common-subs/teardown-the-environment.md
  docs/scripts/docs-ecutable.sh
Labels: approved, lgtm, size/L, ok-to-test, dco-signoff: yes

#743 :sparkles: Support Syncer image for linux/s390
  .github/workflows/goreleaser.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#744 :bug:Log provider namespace.
  pkg/clustermanager/reconcile_clusterprovider.go
Labels: size/XS, approved, lgtm, dco-signoff: yes, decoup-kcp

#746 :bug: fix boilertap
  cmd/mc-client-test/demo-magic.sh
  cmd/mc-client-test/lcdemo.sh
Labels: size/S, dco-signoff: yes

#748 :sparkles:Client demo
  cmd/mc-client-test/clientdemo.sh
  cmd/mc-client-test/main.go
  pkg/mcclient/controller.go
Labels: approved, lgtm, size/L, dco-signoff: yes, decoup-kcp

#749 fix demo
  cmd/logical-cluster-manager/main.go
  cmd/mc-client-test/lcdemo.sh
  config/samples/clusterproviderdesc.yaml
Labels: size/M, dco-signoff: yes

#719 ✨ Rename scheduler to where resolver
  .github/workflows/docs-ecutable-where-resolver.yml
  README.md
  bootstrap/bootstrap-kubestellar.sh
  cmd/kubestellar-where-resolver/cmd/where-resolver-cmd.go
  cmd/kubestellar-where-resolver/main.go
  cmd/kubestellar-where-resolver/options/options.go
  config/crds/edge.kcp.io_singleplacementslices.yaml
  config/exports/apiexport-edge.kcp.io.yaml
  config/exports/apiresourceschema-singleplacementslices.edge.kcp.io.yaml
  docs/README.md
  docs/content/Coding Milestones/PoC2023q1/coding-milestone-invite-q1.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-1-build-kubestellar.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-exports.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-process-start-without-cd-kubestellar.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-process-start.md
  docs/content/Coding Milestones/PoC2023q1/mailbox-controller.md
  docs/content/Coding Milestones/PoC2023q1/outline.md
  docs/content/Coding Milestones/PoC2023q1/placement-translator.md
  docs/content/Coding Milestones/PoC2023q1/where-resolver-subs/where-resolver-0-pull-kcp-and-kubestellar-source-and-start-kcp.md
  docs/content/Coding Milestones/PoC2023q1/where-resolver-subs/where-resolver-1-build-kubestellar.md
  docs/content/Coding Milestones/PoC2023q1/where-resolver-subs/where-resolver-2-ws-root-and-ws-create-edge.md
  docs/content/Coding Milestones/PoC2023q1/where-resolver-subs/where-resolver-exports.md
  docs/content/Coding Milestones/PoC2023q1/where-resolver-subs/where-resolver-imports.md
  docs/content/Coding Milestones/PoC2023q1/where-resolver-subs/where-resolver-process-start-without-cd-kubestellar.md
  docs/content/Coding Milestones/PoC2023q1/where-resolver-subs/where-resolver-process-start.md
  docs/content/Coding Milestones/PoC2023q1/where-resolver.md
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
  docs/content/common-subs/pre-req.md
  docs/content/common-subs/remove-all.md
  docs/content/common-subs/required-packages.md
  docs/content/readme.md
  docs/mkdocs.yml
  hack/make-release-platform-archive.sh
  pkg/apis/edge/v1alpha1/single-placement.go
  pkg/where-resolver/controller.go
  pkg/where-resolver/reconcile_on_edgeplacement.go
  pkg/where-resolver/reconcile_on_location.go
  pkg/where-resolver/reconcile_on_synctarget.go
  pkg/where-resolver/store.go
  scripts/kubestellar
  scripts/remove-kubestellar
Labels: approved, lgtm, size/L, dco-signoff: yes

#750 :bug: fix demo
  cmd/mc-client-test/clientdemo.sh
  cmd/mc-client-test/lcdemo.sh
  cmd/mc-client-test/main.go
Labels: size/S, dco-signoff: yes

#751 :bug: demo
  cmd/mc-client-test/lcdemo.sh
Labels: size/M, dco-signoff: yes

#752 :bug: demo
  cmd/mc-client-test/lcdemo.sh
Labels: size/XS, dco-signoff: yes

#754 :bug: demo
  cmd/mc-client-test/main.go
Labels: size/XS, dco-signoff: yes

#755 🐛 Fix comment on workload projector
  pkg/placement/workload-projector.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#737 ✨ Remove 'all cluster' kcp clientset from the kubestellar-scheduler
  cmd/kubestellar-where-resolver/cmd/where-resolver-cmd.go
  pkg/where-resolver/controller.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#756 ✨ GitHub Actions related cleanup after scheduler renaming
  .github/workflows/docs-ecutable-placement.yml
  docs/content/Coding Milestones/PoC2023q1/where-resolver.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#757 ✨ Make the where-resolver less privileged
  cmd/kubestellar-where-resolver/cmd/where-resolver-cmd.go
  cmd/kubestellar-where-resolver/options/options.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#763 ✨Create VERSION to reliably state/track the latest/stable binary release
  VERSION
Labels: size/XS, approved, lgtm, dco-signoff: yes

#765 :sparkles: Use goreleaser for automating to build and push syncer image to quay.io
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
  Makefile
Labels: approved, lgtm, size/M, dco-signoff: yes

#758 :book: moving get kubestellar release-0.2
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#759 :book: move kubestellar clone, release 0.3
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#761 ✨ Update bootstrap-kubestellar.sh
  bootstrap/bootstrap-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#770 🐛 Change edge-mc to kubestellar in external references
  docs/content/Community/partners/argocd.md
  hack/boilerplate/boilerplate.sh.txt
Labels: size/S, approved, lgtm, dco-signoff: yes

#766 :bug: :book: Update prereqs Fedora commands and quickstart.md
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
  docs/content/Getting-Started/quickstart.md
  docs/content/common-subs/required-packages.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#781 Logical clusters
  cmd/mc-client-test/clientdemo.sh
  cmd/mc-client-test/lcdemo.sh
  cmd/mc-client-test/main.go
Labels: size/S, dco-signoff: yes

#784 :book: "invitation" spelling in coding milestones
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#786 :book: "built" misspelling
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#775 :sparkles: add logic to check for go version 1.19
  docs/content/common-subs/pre-req.md
Labels: kind/documentation, size/XS, approved, lgtm, dco-signoff: yes

#773 ✨ Fix up some naming and comments in workload projector
  pkg/placement/workload-projector.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#790 📖 add aashni + kevin to contributers
  docs/content/readme.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#795 :bug: add verion prefix v to syncer image
  .goreleaser.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#797 ✨ Bump latest version in VERSION to 0.4.0
  VERSION
Labels: size/XS, approved, lgtm, dco-signoff: yes

#774 📖 Document the authn/z of the where-resolver
  docs/content/Coding Milestones/PoC2023q1/where-resolver.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#783 :sparkles: Logical cluster framework phase1
  clusterprovider/kind/kind.go
  cmd/logical-cluster-manager/.gitignore
  cmd/logical-cluster-manager/main.go
  cmd/mc-client-test/clientdemo.sh
  cmd/mc-client-test/demo-magic.sh
  cmd/mc-client-test/lcdemo.sh
  cmd/mc-client-test/main.go
  config/crds/logicalcluster.kubestellar.io_clusterproviderdescs.yaml
  config/crds/logicalcluster.kubestellar.io_logicalclusters.yaml
  config/exports/apiexport-logicalcluster.kubestellar.io.yaml
  config/exports/apiresourceschema-clusterproviderdescs.logicalcluster.kubestellar.io.yaml
  config/exports/apiresourceschema-logicalclusters.logicalcluster.kubestellar.io.yaml
  config/samples/clusterproviderdesc.yaml
  config/samples/logicalcluster_dev.yaml
  config/samples/logicalcluster_lc1.yaml
  config/samples/logicalcluster_lc2.yaml
  go.mod
  go.sum
  hack/logcheck.out
  pkg/apis/logicalcluster/v1alpha1/cluster-provider-desc.go
  pkg/apis/logicalcluster/v1alpha1/logical-cluster.go
  pkg/clustermanager/controller.go
  pkg/clustermanager/provider.go
  pkg/clustermanager/providerclient/client_interface.go
  pkg/clustermanager/reconcile_clusterprovider.go
  pkg/clustermanager/reconcile_logicalcluster.go
  pkg/mcclient/clientset/clientset.go
  pkg/mcclient/controller.go
  pkg/mcclient/mcclient.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes, decoup-kcp

#811 🐛 add to dictionary and replace pcluster
  .github/spellcheck/.wordlist.txt
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/environments/cloud-env.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-florin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-guilder.md
  docs/content/Coding Milestones/PoC2023q1/outline.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-c-onboarding-clusters.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#816 :bug: Handle some of the comments from phase1 of logical cluster into main
  cmd/logical-cluster-manager/main.go
  pkg/clustermanager/controller.go
  pkg/clustermanager/provider.go
  pkg/clustermanager/reconcile_clusterprovider.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#807 📖 : make base glossary
  docs/content/Getting-Started/user-guide.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#806 📖 Update roadmap remarks on website to support PoC2023q4
  README.md
  docs/README.md
  docs/content/Coding Milestones/PoC2023q1/outline.md
  docs/content/Coding Milestones/PoC2023q1/roadmap-uses.md
  docs/content/Coding Milestones/PoC2023q3/outline.md
  docs/content/readme.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#820 📖 Rename q3 to q4 in file names and content
  README.md
  docs/content/Coding Milestones/PoC2023q4/outline.md
  docs/content/readme.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#823 ✨ Add `--silent` option to `kubestellar-prep_*` plugins for easier piping of syncer yaml
  scripts/kubectl-kubestellar-prep_for_cluster
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: approved, lgtm, size/L, dco-signoff: yes

#764 ✨ Docker container for KubeStellar
  docker/Dockerfile
  docker/Makefile
  docker/README.md
  docker/entry.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#831 📖 Update glossary
  docs/content/Getting-Started/user-guide.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#835 🐛 bug Fix 828 - ensure docs-ecutable example1 uses correct source code, and executes in proper sequence
  config/samples/location_dev.yaml
  config/samples/location_prod.yaml
  config/samples/synctarget_dev.yaml
  config/samples/synctarget_prod.yaml
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-florin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-guilder.md
  docs/content/Coding Milestones/PoC2023q1/mailbox-controller.md
  docs/content/Coding Milestones/PoC2023q1/outline.md
  docs/content/Coding Milestones/PoC2023q1/where-resolver.md
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: approved, lgtm, size/L, dco-signoff: yes

#815 :sparkles: add kubeflex provider to logical clusters
  clusterprovider/kubeflex/kubeflex.go
  pkg/apis/logicalcluster/v1alpha1/cluster-provider-desc.go
  pkg/clustermanager/provider.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#839 🐛 Fix 836 Ensure workload-projector uses Kubestellar locations.edge.kcp.io instead of KCP's locations
  cmd/emc-customize/main.go
  cmd/placement-translator/main.go
  hack/logcheck.out
  pkg/customize/customize.go
  pkg/placement/main.go
  pkg/placement/workload-projector.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#841 :sparkles:Use provider config field for provider client
  pkg/clustermanager/provider.go
  pkg/clustermanager/reconcile_clusterprovider.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#842 🐛 Restore progress on moving SyncTarget to KubeStellar repo
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: size/XS, approved, lgtm, dco-signoff: yes

#843 ✨ Update doc of kubectl kubestellar ensure location
  docs/content/Coding Milestones/PoC2023q1/commands.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#844 📖 Improve wording on getting KubeStellar
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#846 🐛 Add missing uses of kubectl_flags
  scripts/kubectl-kubestellar-ensure-location
  scripts/kubectl-kubestellar-prep_for_syncer
  scripts/kubectl-kubestellar-remove-location
Labels: size/S, approved, lgtm, dco-signoff: yes

#830 ✨ Draft scripts to support external processes
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/kubestellar-ensure-ca
  scripts/kubestellar-ensure-kcp-server-creds
  scripts/kubestellar-make-kcp-server-cert
  scripts/switch-domain
  scripts/wait-and-switch-domain
Labels: approved, lgtm, size/L, dco-signoff: yes
