Repository kubestellar/kubestellar, pull requests merged in 2023-06, with the labels that each got.

#536 🐛 Fix a typo in 'partners' docs
  docs/content/Community/partners/argocd.md
Labels: approved, lgtm

#538 🐛 Update bootstrap-kubestellar.sh to support M1 arm64 Issue 533
  bootstrap/bootstrap-kubestellar.sh
Labels: approved, lgtm

#541 :sparkles: Update quickstart.md
  docs/content/Getting-Started/quickstart.md
Labels: approved, lgtm, ok-to-test

#540 :sparkles: Create SECURITY_CONTACTS and SECURITY.md
  SECURITY.md
  SECURITY_CONTACTS
Labels: kind/documentation, approved, lgtm

#542 :sparkles: Create ONBOARDING.md
  ONBOARDING.md
Labels: kind/documentation, lgtm

#547 🐛 Fix some spelling misteaks
  .github/spellcheck/.wordlist.txt
  cmd/inform-syncer-configs/README.md
  cmd/ls-syncer-config/README.md
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/edge-syncer.md
  docs/content/Coding Milestones/PoC2023q1/mailbox-controller.md
  docs/content/Coding Milestones/PoC2023q1/outline.md
  docs/content/Coding Milestones/PoC2023q1/placement-translator.md
  docs/content/Coding Milestones/PoC2023q1/roadmap-uses.md
Labels: approved, lgtm

#523 🐛 Make `kubestellar init` support syncer updating status
  docs/content/Coding Milestones/PoC2023q1/commands.md
  scripts/kubestellar
Labels: approved, lgtm

#549 :book: Fix bootstrap-kubestellar.sh typos
  bootstrap/bootstrap-kubestellar.sh
Labels: lgtm

#562 🌱 Update scheduler doc
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler.md
Labels: approved, lgtm

#578 :bug: somehow some generated files are not in the rebase
  config/crds/edge.kcp.io_clusterproviderdescs.yaml
  config/exports/apiexport-edge.kcp.io.yaml
  config/exports/apiresourceschema-clusterproviderdescs.edge.kcp.io.yaml
  config/exports/apiresourceschema-clusterproviderinformation.edge.kcp.io.yaml
Labels: approved, lgtm, size/M, dco-signoff: yes

#572 🌱 Add Prowjobs
  .ci-operator.yaml
  .prow.yaml
  hack/verify-go-versions.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#579 📖 Document Argo CD's resource exclusion for kcp's ClusterWorkspace
  docs/content/Community/partners/argocd.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#505 ✨ Start local JSONPath implementation
  cmd/json-path-replace/main.go
  go.mod
  go.sum
  pkg/customize/customize.go
  pkg/jsonpath/eval.go
  pkg/jsonpath/eval_test.go
  pkg/jsonpath/lexer.go
  pkg/jsonpath/lexer_test.go
  pkg/jsonpath/parser.go
  pkg/jsonpath/parser_test.go
Labels: approved, lgtm

#583 :book: Make edge-syncer.md executable doc
  .github/workflows/run-doc-shells-syncer.yml
  docs/content/Coding Milestones/PoC2023q1/edge-syncer-subs/edge-syncer-0-deploy-florin.md
  docs/content/Coding Milestones/PoC2023q1/edge-syncer-subs/edge-syncer-0-deploy-guilder.md
  docs/content/Coding Milestones/PoC2023q1/edge-syncer-subs/edge-syncer-1-syncer-gen-plugin.md
  docs/content/Coding Milestones/PoC2023q1/edge-syncer.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-espw.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
  docs/content/Coding Milestones/PoC2023q1/placement-translator.md
Labels: approved, lgtm, do-not-merge/hold, size/XL, dco-signoff: yes

#586 🐛 go mod tidy
  go.sum
Labels: approved, lgtm, size/L, dco-signoff: yes

#581 :book: first edit of the docs
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-3.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler-subs/kubestellar-scheduler-0-pull-kcp-and-kubestellar-source-and-start-kcp.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-scheduler.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer.md
  docs/content/Coding Milestones/PoC2023q1/mailbox-controller.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#588 📖 specified kcp release link & updated syncer refs
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-florin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-guilder.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-1-syncer-gen-plugin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#589 :bug: Rename kcp-edge-syncer and edge-syncer to kubestellar-syncer
  Makefile
  cmd/kubectl-kubestellar-syncer_gen/main.go
  docs/content/Coding Milestones/PoC2023q1/commands.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1b.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-4.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-florin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-0-deploy-guilder.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-1-syncer-gen-plugin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-c-onboarding-clusters.md
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-d-create-and-deploy-apache-into-clusters.md
  pkg/cliplugins/kcp-edge/syncer-gen/edgesync.go
  pkg/cliplugins/kcp-edge/syncer-gen/edgesync_test.go
  pkg/cliplugins/kcp-edge/syncer-gen/kubestellar-syncer.yaml
  pkg/syncer/README.md
  pkg/syncer/controller/syncerconfigcontroller.go
  test/e2e/framework/kubestellar_syncer.go
  test/e2e/kubestellar-syncer/common_test.go
  test/e2e/kubestellar-syncer/syncer_kyverno_test.go
  test/e2e/kubestellar-syncer/syncer_syncerconfig_test.go
  test/e2e/kubestellar-syncer/syncer_test.go
  test/e2e/kubestellar-syncer/syncer_turbo_for_deletion_scenario_test.go
  test/e2e/kubestellar-syncer/syncer_update_status_test.go
  test/e2e/kubestellar-syncer/testdata/edgesyncconfig/edge-sync-config.yaml
  test/e2e/kubestellar-syncer/testdata/edgesyncconfig/sample-cr-downsync.yaml
  test/e2e/kubestellar-syncer/testdata/edgesyncconfig/sample-cr-upsync.yaml
  test/e2e/kubestellar-syncer/testdata/edgesyncconfig/sample-crd.yaml
  test/e2e/kubestellar-syncer/testdata/kyverno/cluster-policy-report.yaml
  test/e2e/kubestellar-syncer/testdata/kyverno/policy-report.yaml
  test/e2e/kubestellar-syncer/testdata/kyverno/resources1.yaml
  test/e2e/kubestellar-syncer/testdata/kyverno/resources2.yaml
  test/e2e/kubestellar-syncer/testdata/kyverno/syncer-config.yaml
  test/e2e/kubestellar-syncer/testdata/syncerconfig/sample-downsync-cr.yaml
  test/e2e/kubestellar-syncer/testdata/syncerconfig/sample-downsync-crd.yaml
  test/e2e/kubestellar-syncer/testdata/syncerconfig/sample-upsync-cr.yaml
  test/e2e/kubestellar-syncer/testdata/syncerconfig/sample-upsync-crd.yaml
  test/e2e/kubestellar-syncer/testdata/syncerconfig/syncer-config-wildcard.yaml
  test/e2e/kubestellar-syncer/testdata/syncerconfig/syncer-config.yaml
  test/e2e/kubestellar-syncer/testdata/turbo-for-deletion-scenario/resources.yaml
  test/e2e/kubestellar-syncer/testdata/turbo-for-deletion-scenario/syncer-config.yaml
  test/e2e/kubestellar-syncer/testdata/turbo-for-deletion-scenario/syncer-config2.yaml
  test/e2e/kubestellar-syncer/testdata/update-status/deployment.yaml
  test/e2e/kubestellar-syncer/testdata/update-status/status.yaml
  test/e2e/kubestellar-syncer/testdata/update-status/status2.yaml
  test/e2e/kubestellar-syncer/testdata/update-status/syncer-config.yaml
Labels: approved, lgtm, size/XL, dco-signoff: yes

#590 :bug: Rename cliplugin directory from kcp-edge to kubestellar
  .secrets.baseline
  cmd/kubectl-kubestellar-syncer_gen/main.go
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-1-syncer-gen-plugin.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer.md
  pkg/cliplugins/kubestellar/syncer-gen/edgesync.go
  pkg/cliplugins/kubestellar/syncer-gen/edgesync_test.go
  pkg/cliplugins/kubestellar/syncer-gen/kubestellar-syncer.yaml
  pkg/syncer/README.md
  pkg/syncer/controller/edgesynccontroller.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#591 :sparkles:Add a work queue for logicalclusters informer.
  cmd/mc-client-test/main.go
  pkg/mcclient/controller.go
  pkg/mcclient/listwatch/listwatch.go
  pkg/mcclient/mcclient.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#587 ✨ Append newlines to the outputs for json-path-replace
  cmd/json-path-replace/main.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#599 :sparkles:Multi-cluster client
  cmd/mc-client-test/main.go
  config/crds/edge.kcp.io_clusterproviderdescs.yaml
  config/exports/apiexport-edge.kcp.io.yaml
  config/exports/apiresourceschema-clusterproviderdescs.edge.kcp.io.yaml
  config/exports/apiresourceschema-clusterproviderinformation.edge.kcp.io.yaml
  pkg/mcclient/controller.go
  pkg/mcclient/listwatch/listwatch.go
  pkg/mcclient/mcclient.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#606 :sparkles: added spinners to quickstart and partners
  docs/content/Community/partners/argocd.md
  docs/content/Community/partners/kyverno.md
  docs/content/Community/partners/turbonomic.md
  docs/content/Getting-Started/quickstart-subs/quickstart-0-demo.md
  docs/content/images/spinner.gif
Labels: approved, lgtm, size/L, dco-signoff: yes

#609 :sparkles: adding spinner onload
  docs/content/Community/partners/argocd.md
  docs/content/Community/partners/kyverno.md
  docs/content/Community/partners/turbonomic.md
  docs/content/Getting-Started/infomercial.md
  docs/content/Getting-Started/quickstart-subs/quickstart-0-demo.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#617 📖 Fix typo in example1
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#630 :sparkles: change logical cluster to namespaced
  pkg/apis/logicalcluster/v1alpha1/logical-cluster.go
  pkg/client/clientset/versioned/cluster/typed/logicalcluster/v1alpha1/fake/logicalcluster.go
  pkg/client/clientset/versioned/cluster/typed/logicalcluster/v1alpha1/fake/logicalcluster_client.go
  pkg/client/clientset/versioned/cluster/typed/logicalcluster/v1alpha1/logicalcluster.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/fake/fake_logicalcluster.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/fake/fake_logicalcluster_client.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/logicalcluster.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/logicalcluster_client.go
  pkg/client/informers/externalversions/logicalcluster/v1alpha1/interface.go
  pkg/client/informers/externalversions/logicalcluster/v1alpha1/logicalcluster.go
  pkg/client/listers/logicalcluster/v1alpha1/logicalcluster.go
  pkg/client/listers/logicalcluster/v1alpha1/logicalcluster_expansion.go
Labels: size/XS, dco-signoff: yes

#635 :bug: fix boilertap
  cluster-provider-client/cluster/logicalcllusterinfo.go
  cluster-provider-client/kind/kind.go
  cluster-provider-client/provider.go
  cmd/logical-cluster-manager/main.go
  pkg/apis/logicalcluster/v1alpha1/cluster-provider-desc.go
  pkg/apis/logicalcluster/v1alpha1/logical-cluster.go
  pkg/logical-cluster-manager/cluster-manager-controller.go
Labels: size/M, dco-signoff: yes

#639 :bug: replace logical.Name with string
  cluster-provider-client/cluster/logicalcllusterinfo.go
  cluster-provider-client/kind/kind.go
  cluster-provider-client/provider.go
  cmd/logical-cluster-manager/.gitignore
  pkg/logical-cluster-manager/cluster-manager-controller.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#640 :bug: logical cluster is now at a namespace resolution
  pkg/logical-cluster-manager/cluster-manager-controller.go
Labels: size/S, dco-signoff: yes

#644 📖 Fix scheduler name in console output
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
Labels: size/XS, approved, lgtm, dco-signoff: yes, safe-to-test

#626 :bug: Fix to set correct UID and resource version when syncing updated objects and do not downsync upsynced objects
  pkg/syncer/syncers/common.go
  pkg/syncer/syncers/downsyncer.go
  pkg/syncer/syncers/upsyncer.go
  test/e2e/kubestellar-syncer/syncer_syncerconfig_test.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#607 :sparkles: API resources for logical clusters
  config/crds/logicalcluster.kubestellar.io_clusterproviderdescs.yaml
  config/crds/logicalcluster.kubestellar.io_logicalclusters.yaml
  config/exports/apiexport-edge.kcp.io.yaml
  config/exports/apiexport-logicalcluster.kubestellar.io.yaml
  config/exports/apiexport-meta.kcp.io.yaml
  config/exports/apiresourceschema-apiresources.meta.kcp.io.yaml
  config/exports/apiresourceschema-clusterproviderdescs.logicalcluster.kubestellar.io.yaml
  config/exports/apiresourceschema-customizers.edge.kcp.io.yaml
  config/exports/apiresourceschema-edgeplacements.edge.kcp.io.yaml
  config/exports/apiresourceschema-edgesyncconfigs.edge.kcp.io.yaml
  config/exports/apiresourceschema-logicalclusters.logicalcluster.kubestellar.io.yaml
  config/exports/apiresourceschema-singleplacementslices.edge.kcp.io.yaml
  config/exports/apiresourceschema-syncerconfigs.edge.kcp.io.yaml
  hack/update-codegen-clients.sh
  pkg/apis/logicalcluster/register.go
  pkg/apis/logicalcluster/v1alpha1/cluster-provider-desc.go
  pkg/apis/logicalcluster/v1alpha1/doc.go
  pkg/apis/logicalcluster/v1alpha1/logical-cluster.go
  pkg/apis/logicalcluster/v1alpha1/register.go
  pkg/apis/logicalcluster/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/cluster/clientset.go
  pkg/client/clientset/versioned/cluster/fake/clientset.go
  pkg/client/clientset/versioned/cluster/scheme/register.go
  pkg/client/clientset/versioned/cluster/typed/logicalcluster/v1alpha1/clusterproviderdesc.go
  pkg/client/clientset/versioned/cluster/typed/logicalcluster/v1alpha1/fake/clusterproviderdesc.go
  pkg/client/clientset/versioned/cluster/typed/logicalcluster/v1alpha1/fake/logicalcluster.go
  pkg/client/clientset/versioned/cluster/typed/logicalcluster/v1alpha1/fake/logicalcluster_client.go
  pkg/client/clientset/versioned/cluster/typed/logicalcluster/v1alpha1/logicalcluster.go
  pkg/client/clientset/versioned/cluster/typed/logicalcluster/v1alpha1/logicalcluster_client.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/clusterproviderdesc.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/fake/fake_clusterproviderdesc.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/fake/fake_logicalcluster.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/fake/fake_logicalcluster_client.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/logicalcluster.go
  pkg/client/clientset/versioned/typed/logicalcluster/v1alpha1/logicalcluster_client.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/logicalcluster/interface.go
  pkg/client/informers/externalversions/logicalcluster/v1alpha1/clusterproviderdesc.go
  pkg/client/informers/externalversions/logicalcluster/v1alpha1/interface.go
  pkg/client/informers/externalversions/logicalcluster/v1alpha1/logicalcluster.go
  pkg/client/listers/logicalcluster/v1alpha1/clusterproviderdesc.go
  pkg/client/listers/logicalcluster/v1alpha1/clusterproviderdesc_expansion.go
  pkg/client/listers/logicalcluster/v1alpha1/logicalcluster.go
  pkg/client/listers/logicalcluster/v1alpha1/logicalcluster_expansion.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#649 🌱 Add reference from 'learnk8s' to 'ArgoCD and KubeStellar in the news'
  docs/content/Community/partners/argocd.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#650 :sparkles:Cluster manager controller refactor.
  pkg/clustermanager/controller.go
  pkg/clustermanager/reconcile_clusterprovider.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: size/L, do-not-merge/work-in-progress, dco-signoff: yes

#653 📖 Populate the steps to integrate turbonomic
  docs/content/Community/partners/turbonomic.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#652 :bug: fix boilderplate
  pkg/clustermanager/controller.go
  pkg/clustermanager/reconcile_clusterprovider.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: size/XS, dco-signoff: yes

#655 :seedling: Update README.md
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#658 :sparkles: recreate PR 651
  cluster-provider-client/provider.go
  cmd/logical-cluster-manager/main.go
  config/crds/logicalcluster.kubestellar.io_logicalclusters.yaml
  config/exports/apiexport-logicalcluster.kubestellar.io.yaml
  config/exports/apiresourceschema-logicalclusters.logicalcluster.kubestellar.io.yaml
  pkg/apis/logicalcluster/v1alpha1/logical-cluster.go
  pkg/clustermanager/controller.go
  pkg/clustermanager/provider-cluster/provider_cluster.go
  pkg/clustermanager/reconcile_clusterprovider.go
  pkg/logical-cluster-manager/cluster-manager-controller.go
  pkg/provider-library/provider-library.go
  pkg/provider-manager/provider-controller.go
  pkg/provider-manager/reconcile-provider.go
Labels: size/XL, dco-signoff: yes

#662 :bug: hack/logcheck.out
  hack/logcheck.out
Labels: size/S, do-not-merge/work-in-progress, dco-signoff: yes

#666 🌱 rename prowjobs to match new github org
  .prow.yaml
Labels: size/S, approved, lgtm, dco-signoff: yes

#657 🐛 Update KubeStellar Bootstrap to use binary releases in kubestellar/kubestellar repo (main branch)
  bootstrap/bootstrap-kubestellar.sh
  bootstrap/install-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#673 :sparkles: test the new branch PRs
  config/crds/logicalcluster.kubestellar.io_logicalclusters.yaml
  config/exports/apiexport-logicalcluster.kubestellar.io.yaml
  config/exports/apiresourceschema-clusterproviderdescs.logicalcluster.kubestellar.io.yaml
  config/exports/apiresourceschema-logicalclusters.logicalcluster.kubestellar.io.yaml
  pkg/apis/logicalcluster/v1alpha1/logical-cluster.go
Labels: size/S, dco-signoff: yes

#674 :sparkles:Add provider status phase.
  config/crds/logicalcluster.kubestellar.io_clusterproviderdescs.yaml
  config/exports/apiexport-logicalcluster.kubestellar.io.yaml
  config/exports/apiresourceschema-clusterproviderdescs.logicalcluster.kubestellar.io.yaml
  pkg/apis/logicalcluster/v1alpha1/cluster-provider-desc.go
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#675 :sparkles: update physical model and move logical cluster to the new controller
  cluster-provider-client/cluster/logicalcllusterinfo.go
  cluster-provider-client/kind/kind.go
  cluster-provider-client/provider.go
  cmd/logical-cluster-manager/.gitignore
  cmd/logical-cluster-manager/main.go
  pkg/clustermanager/controller.go
  pkg/clustermanager/discovery.go
  pkg/clustermanager/reconcile_clusterprovider.go
  pkg/clustermanager/reconcile_logicalcluster.go
  pkg/logical-cluster-manager/cluster-manager-controller.go
Labels: size/XL, dco-signoff: yes

#676 :sparkles:Add stop for cluster discovery.
  cluster-provider-client/kind/kind.go
  cluster-provider-client/provider.go
  hack/logcheck.out
  pkg/clustermanager/controller.go
  pkg/clustermanager/discovery.go
  pkg/clustermanager/reconcile_clusterprovider.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#677 :sparkles: restore the logical-cluster-manager main
  cmd/logical-cluster-manager/.gitignore
  cmd/logical-cluster-manager/main.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#679 :book: move getting started
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#681 :sparkles: move provider interface into the manager
  clusterprovider/kind/kind.go
  pkg/clustermanager/controller.go
  pkg/clustermanager/discovery.go
  pkg/clustermanager/provider.go
  pkg/clustermanager/providerclient/client_interface.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: lgtm, size/M, dco-signoff: yes

#680 🐛 Update quickstart to track ensure-wmw
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-d-create-and-deploy-apache-into-clusters.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#682 🐛 Update quickstart to track ensure-wmw
  docs/content/Getting-Started/quickstart-subs/quickstart-2-apache-example-deployment-d-create-and-deploy-apache-into-clusters.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#691 ✨ Add some informative prints to example1
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-1a.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#685 :bug: fix discovery
  pkg/clustermanager/discovery.go
Labels: size/M, dco-signoff: yes

#696 :bug:Fix controller queue bug.
  pkg/clustermanager/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#695 :bug: refactor lc provider
  clusterprovider/kind/kind.go
  pkg/clustermanager/discovery.go
  pkg/clustermanager/providerclient/client_interface.go
  pkg/clustermanager/reconcile_logicalcluster.go
Labels: size/L, dco-signoff: yes

#701 :sparkles: update to 0.3.0 for syncer image
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: size/XS, approved, lgtm, dco-signoff: yes

#702 :sparkles: update to 0.3.0 for syncer image
  scripts/kubectl-kubestellar-prep_for_syncer
Labels: size/XS, approved, lgtm, dco-signoff: yes

#698 :sparkles:Add provider reconcile.
  cmd/logical-cluster-manager/main.go
  pkg/clustermanager/controller.go
  pkg/clustermanager/reconcile_clusterprovider.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#709 :bug:Fix discovery.
  pkg/clustermanager/discovery.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#710 :sparkles: reduce complexity
  pkg/clustermanager/discovery.go
Labels: size/M, dco-signoff: yes

#712 :book: creating the glossary & primer page
  docs/content/Getting-Started/user-guide.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#716 :sparkles: repair reference to repo_default_file_path var main
  docs/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#715 :sparkles: repair references to repo_default_file_path r-0.2
  docs/README.md
  docs/content/Contribution guidelines/operations/release-management.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#714 :sparkles: repair references to repo_default_file_path r-0.3
  docs/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#718 :book: moved kubestellar clone to get kubestellar section
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-kcp.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-start-kcp.md
Labels: size/XS, approved, lgtm, dco-signoff: yes
