Repository kubestellar/kubestellar, pull requests merged in 2023-03, with the labels that each got.

#194 :sparkles: Updating edge-mc kcp dependence
  go.mod
  go.sum
Labels: approved, lgtm, ok-to-test

#196 ✨ Finish updating dependency on kcp v0.11.0
  go.mod
  go.sum
Labels: approved, lgtm

#197 📖 Update the doc for edge-scheduler
  docs/poc2023q1/edge-scheduler.md
Labels: approved, lgtm

#203 Update LICENSE.md
  docs/content/en/docs/Contribution guidelines/LICENSE.md
Labels: approved, lgtm

#202 📖 Remove CR
  docs/content/en/docs/Contribution guidelines/LICENSE.md
Labels: approved, lgtm

#205 📖 Update LICENSE.md
  docs/content/en/docs/Contribution guidelines/LICENSE.md
Labels: approved, lgtm

#201 Update quickstart.md
  docs/content/en/docs/Getting started/quickstart.md
Labels: approved, lgtm

#185 :book: Address workload conflicts in 2023q1 PoC
  docs/poc2023q1/outline.md
Labels: approved, lgtm

#209 :book Update wording say to specify
  README.md
Labels: lgtm, ok-to-test

#210 📖 : Update LICENSE.md
  docs/content/en/docs/Contribution guidelines/LICENSE.md
Labels: approved, lgtm, ok-to-test

#198 :warning: Revise and extend SinglePlacement
  config/crds/edge.kcp.io_singleplacementslices.yaml
  config/exports/apiexport-edge.kcp.io.yaml
  config/exports/apiresourceschema-singleplacementslices.edge.kcp.io.yaml
  pkg/apis/edge/v1alpha1/single-placement.go
  pkg/apis/edge/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm

#214 ✨ Adding tools to monitor kcp-edge deployments
  monitoring/README.md
  monitoring/images/kcp-edge-architecture-aws.png
  monitoring/monitoring.yaml
  monitoring/roles/grafana/.travis.yml
  monitoring/roles/grafana/README.md
  monitoring/roles/grafana/defaults/main.yml
  monitoring/roles/grafana/handlers/main.yml
  monitoring/roles/grafana/meta/main.yml
  monitoring/roles/grafana/tasks/main.yml
  monitoring/roles/grafana/tests/inventory
  monitoring/roles/grafana/tests/test.yml
  monitoring/roles/grafana/vars/main.yml
  monitoring/roles/node-exporter/.travis.yml
  monitoring/roles/node-exporter/README.md
  monitoring/roles/node-exporter/defaults/main.yml
  monitoring/roles/node-exporter/files/main.yaml
  monitoring/roles/node-exporter/handlers/main.yml
  monitoring/roles/node-exporter/meta/main.yml
  monitoring/roles/node-exporter/tasks/main.yml
  monitoring/roles/node-exporter/templates/node_exporter.service.j2
  monitoring/roles/node-exporter/tests/inventory
  monitoring/roles/node-exporter/tests/test.yml
  monitoring/roles/node-exporter/vars/main.yml
  monitoring/roles/prometheus/.travis.yml
  monitoring/roles/prometheus/README.md
  monitoring/roles/prometheus/defaults/main.yml
  monitoring/roles/prometheus/handlers/main.yml
  monitoring/roles/prometheus/meta/main.yml
  monitoring/roles/prometheus/tasks/main.yml
  monitoring/roles/prometheus/templates/prometheus-agent-config.yaml.j2
  monitoring/roles/prometheus/templates/prometheus-agent.service.j2
  monitoring/roles/prometheus/templates/prometheus-config.yaml.j2
  monitoring/roles/prometheus/templates/prometheus.service.j2
  monitoring/roles/prometheus/tests/inventory
  monitoring/roles/prometheus/tests/test.yml
  monitoring/roles/prometheus/vars/main.yml
Labels: approved, lgtm

#176 :sparkles: Add example watch-all commands
  cmd/cluster-watchall/README.md
  cmd/cluster-watchall/main.go
  cmd/kcp-watchall/main.go
  cmd/kube-watchall/go.mod
  cmd/kube-watchall/go.sum
  cmd/kube-watchall/main.go
  config/crds/meta.kcp.io_apiresources.yaml
  config/exports/apiexport-meta.kcp.io.yaml
  config/exports/apiresourceschema-apiresources.meta.kcp.io.yaml
  hack/logcheck.out
  hack/update-codegen-clients.sh
  pkg/apis/meta/register.go
  pkg/apis/meta/v1alpha1/doc.go
  pkg/apis/meta/v1alpha1/register.go
  pkg/apis/meta/v1alpha1/resources.go
  pkg/apis/meta/v1alpha1/zz_generated.deepcopy.go
  pkg/apiwatch/resources.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/cluster/clientset.go
  pkg/client/clientset/versioned/cluster/fake/clientset.go
  pkg/client/clientset/versioned/cluster/scheme/register.go
  pkg/client/clientset/versioned/cluster/typed/meta/v1alpha1/apiresource.go
  pkg/client/clientset/versioned/cluster/typed/meta/v1alpha1/fake/apiresource.go
  pkg/client/clientset/versioned/cluster/typed/meta/v1alpha1/fake/meta_client.go
  pkg/client/clientset/versioned/cluster/typed/meta/v1alpha1/meta_client.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/apiresource.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/fake/fake_apiresource.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/fake/fake_meta_client.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/meta/v1alpha1/meta_client.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/meta/interface.go
  pkg/client/informers/externalversions/meta/v1alpha1/apiresource.go
  pkg/client/informers/externalversions/meta/v1alpha1/interface.go
  pkg/client/listers/meta/v1alpha1/apiresource.go
  pkg/client/listers/meta/v1alpha1/apiresource_expansion.go
Labels: approved, lgtm

#213 📖 Update docs for edge scheduler regarding kcp version
  docs/poc2023q1/edge-scheduler.md
Labels: approved, lgtm

#181 ✨ Start drafting placement translator internal interfaces
  cmd/placement-translator/main.go
  hack/logcheck.out
  pkg/placement/client-tracker.go
  pkg/placement/cluster-name-and-path.go
  pkg/placement/declarations.go
  pkg/placement/dummies.go
  pkg/placement/external-name.go
  pkg/placement/main.go
  pkg/placement/map-types.go
  pkg/placement/reducer_test.go
  pkg/placement/relay-map.go
  pkg/placement/set-binder-test.go
  pkg/placement/simple-reducer.go
  pkg/placement/single-placement-set.go
  pkg/placement/test-apimap-provider.go
  pkg/placement/test_uider.go
  pkg/placement/test_uider_test.go
Labels: approved, lgtm

#220 📖 Add clarifications to PoC example scenario
  docs/poc2023q1/example1.md
Labels: approved, lgtm

#217 🌱 Factor mailbox controller
  cmd/mailbox-controller/controller.go
  cmd/mailbox-controller/main.go
  docs/poc2023q1/mailbox-controller.md
Labels: approved, lgtm

#225 📖 Remove old copies of files copied to website source location
  docs/content/en/docs/Concepts/edge-scheduler.md
  docs/content/en/docs/Concepts/mailbox-controller.md
  docs/poc2023q1/Edge-PoC-2023q1-Scenario-1-stage-1.svg
  docs/poc2023q1/Edge-PoC-2023q1-Scenario-1-stage-2.svg
  docs/poc2023q1/Edge-PoC-2023q1-Scenario-1-stage-3.svg
  docs/poc2023q1/Edge-PoC-2023q1-Scenario-1-stage-4.svg
  docs/poc2023q1/Edge-PoC-2023q1-Scenario-1-stage-5c.svg
  docs/poc2023q1/Edge-PoC-2023q1-Scenario-1-stage-5s.svg
  docs/poc2023q1/Edge-PoC-2023q1.svg
  docs/poc2023q1/coding-milestone-invite-q1.md
  docs/poc2023q1/edge-scheduler.md
  docs/poc2023q1/example1.md
  docs/poc2023q1/mailbox-controller.md
  docs/poc2023q1/outline.md
Labels: kind/documentation, approved, lgtm

#230 📖 moved edge-scheduler and mailbox-controller doc under poc2023q1 section per issue
  docs/content/en/docs/Coding Milestones/PoC2023q1/edge-scheduler.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/mailbox-controller.md
Labels: kind/documentation, approved, lgtm

#224 📖 Document the roadmap thoughts, as they are now.
  docs/content/en/docs/Coding Milestones/PoC2023q1/outline.md
Labels: approved, lgtm

#206 ✨ Reshape the structure of edge scheduler
  cmd/scheduler/cmd/scheduler.go
  cmd/scheduler/main.go
  config/samples/synctarget_foo.yaml
  pkg/reconciler/scheduling/edgeplacement/controller.go
  pkg/reconciler/scheduling/edgeplacement/reconcile.go
  pkg/scheduler/controller.go
  pkg/scheduler/reconcile_on_edgeplacement.go
  pkg/scheduler/reconcile_on_location.go
  pkg/scheduler/reconcile_on_synctarget.go
Labels: approved, lgtm

#234 📖 Update coding invite
  docs/content/en/docs/Coding Milestones/PoC2023q1/coding-milestone-invite-q1.md
Labels: approved, lgtm

#236 🌱 make imports
  pkg/placement/reducer_test.go
  pkg/placement/test_uider.go
  pkg/scheduler/reconcile_on_edgeplacement.go
  pkg/scheduler/reconcile_on_location.go
  pkg/scheduler/reconcile_on_synctarget.go
Labels: approved, lgtm

#235 🐛 Register the Customizer API
  pkg/apis/edge/v1alpha1/register.go
Labels: approved, lgtm

#244 🌱 go mod tidy
  go.mod
Labels: approved, lgtm

#243 ✨ More refinements on edge scheduler
  cmd/scheduler/cmd/scheduler.go
  pkg/indexers/indexers.go
  pkg/indexers/util.go
  pkg/scheduler/controller.go
  pkg/scheduler/reconcile_on_edgeplacement.go
  pkg/scheduler/reconcile_on_location.go
  pkg/scheduler/reconcile_on_synctarget.go
Labels: approved, lgtm

#252 Docs: Update CONTRIBUTING.md regarding golang pre-req version
  CONTRIBUTING.md
Labels: approved, lgtm, do-not-merge/hold

#229 ✨ Refinements wrt SetBinder, main
  cmd/placement-translator/main.go
  pkg/placement/cluster-name-and-path.go
  pkg/placement/declarations.go
  pkg/placement/main.go
  pkg/placement/map-types.go
  pkg/placement/reducer_test.go
  pkg/placement/relay-map.go
  pkg/placement/set-binder-test.go
  pkg/placement/simple-reducer.go
  pkg/placement/single-placement-set.go
  pkg/placement/test-apimap-provider.go
  pkg/placement/test_uider.go
  pkg/placement/test_uider_test.go
Labels: approved, lgtm

#245 ✨ Start placement translator
  cmd/cluster-watchall/main.go
  cmd/placement-translator/main.go
  docs/content/en/docs/Coding Milestones/PoC2023q1/placement-translator.md
  pkg/placement/main.go
  pkg/placement/what-resolver.go
Labels: approved, lgtm

#255 🐛 Fix bugs in example scenario
  docs/content/en/docs/Coding Milestones/PoC2023q1/example1.md
Labels: approved, lgtm

#256 🐛 Attempt to fix broken reference to example1
  docs/content/en/docs/Coding Milestones/PoC2023q1/placement-translator.md
Labels: approved, lgtm

#239 ✨ Extend EdgePlacement with spec of upsync
  config/crds/edge.kcp.io_edgeplacements.yaml
  config/exports/apiexport-edge.kcp.io.yaml
  config/exports/apiresourceschema-edgeplacements.edge.kcp.io.yaml
  pkg/apis/edge/v1alpha1/edge-placement.go
  pkg/apis/edge/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm

#241 ✨ Update thoughts on APIBindings and roadmap options
  docs/content/en/docs/Coding Milestones/PoC2023q1/outline.md
Labels: approved, lgtm

#240 ✨ First draft of API for reading objects from mailbox workspaces
  pkg/mailboxwatch/interface.go
Labels: approved, lgtm

#266 📖 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#267 ✨ First working edge scheduler
  pkg/scheduler/reconcile_on_edgeplacement.go
  pkg/scheduler/reconcile_on_location.go
  pkg/scheduler/reconcile_on_synctarget.go
  pkg/scheduler/store.go
  pkg/scheduler/store_hardcode.go
Labels: approved, lgtm

#269 📖 Update doc for edge scheduler
  docs/content/en/docs/Coding Milestones/PoC2023q1/edge-scheduler.md
Labels: approved, lgtm

#257 📖 Update outline again
  docs/content/en/docs/Coding Milestones/PoC2023q1/Edge-PoC-2023q1.svg
  docs/content/en/docs/Coding Milestones/PoC2023q1/outline.md
Labels: approved, lgtm

#271 ✨ Tweak `kcp-kubeconfig` flag for the scheduler
  cmd/scheduler/cmd/scheduler.go
  cmd/scheduler/options/options.go
  docs/content/en/docs/Coding Milestones/PoC2023q1/edge-scheduler.md
Labels: approved, lgtm

#265 ✨ First draft of implementation of mailbox informers
  pkg/mailboxwatch/impl.go
  pkg/mailboxwatch/impl_test.go
  pkg/mailboxwatch/interface.go
  pkg/mailboxwatch/listwatch.go
Labels: approved, lgtm

#274 :book: improve docs for mailbox controller
  docs/content/en/docs/Coding Milestones/PoC2023q1/mailbox-controller.md
Labels: approved, lgtm

#275 :book: improvements to example1 and placement-translator docs
  docs/content/en/docs/Coding Milestones/PoC2023q1/example1.md
  docs/content/en/docs/Coding Milestones/PoC2023q1/placement-translator.md
Labels: approved, lgtm

#278 🐛 Typo fix to example1
  docs/content/en/docs/Coding Milestones/PoC2023q1/example1.md
Labels: approved, lgtm
