Repository kubestellar/kubestellar, pull requests merged in 2024-10, with the labels that each got.

#2472 ✨ Upgrade KubeFlex dependency to release 0.6.3
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  core-chart/Chart.yaml
  core-chart/templates/NOTES.txt
  docs/content/direct/core-chart.md
  docs/content/direct/pre-reqs.md
  docs/content/direct/release.md
  go.mod
  go.sum
Labels: approved, lgtm, size/L, dco-signoff: yes

#2473 ✨Remove Kustomizer usage to build the core-chart
  Makefile
  core-chart/templates/postcreatehooks/wds.yaml
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2474 🐛 Fix `run_test --released`
  VERSION
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2478 ✨ Self-ref prep for test release 0.25.0-alpha.1.test.1
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2477 📖 Document pre-req of yq
  docs/content/direct/core-chart.md
  docs/content/direct/pre-reqs.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2476 📖 Doc updates for chart inlining
  docs/content/direct/packaging.md
  docs/content/direct/release.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2479 🐛 Fix setting Helm chart versions in goreleaser
  .github/workflows/goreleaser.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2480 ✨ Self-ref prep for release 0.25.0-alpha.1.test.2
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2482 ✨ Delete unused PCHs, undoc unused Helm charts
  config/postcreate-hooks/kubestellar.yaml
  config/postcreate-hooks/ocm.yaml
  docs/content/direct/packaging.md
  docs/content/direct/release.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#2272 :bug: Update check_pre_req.sh
  hack/check_pre_req.sh
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2484 📖 Note incompleteness of create-only implementation
  docs/content/direct/release-notes.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2489 🐛 Stop transport-controller thrashing finalizers
  pkg/transport/generic/generic_transport_controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2493 ✨ Change E2E setup to let core chart install kubeflex in hosting cluster
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2494 📖 Update to troubleshooting guide for issues with default settings in rancher desktop
  docs/content/direct/troubleshooting.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2496 🐛 Update get-started.md to include rename of context
  docs/content/direct/get-started.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2490 📖 Note that make is in XCode CLT
  hack/check_pre_req.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2485 📖 Note incompleteness of create-only
  docs/content/direct/release-notes.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2495 📖 Improve doc linkage
  README.md
  docs/content/direct/testing.md
  docs/content/readme.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2486 📖 Doc updates for kflex confusion, general debugging
  docs/content/direct/get-started.md
  docs/content/direct/known-issues.md
  docs/content/direct/knownissue-kflex-extension.md
  docs/content/direct/knownissue-kind-config.md
  docs/content/direct/troubleshooting.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2483 ✨ Finish implementing expanded transport ifc, simplify
  pkg/transport/generic/generic_transport_controller.go
  pkg/transport/generic/generic_transport_controller_test.go
  pkg/transport/ocm-transport-controller/pkg/ocm.go
  pkg/transport/transport.go
  test/e2e/ginkgo/ginkgo_suite_test.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2497 📖 Update get-started.md
  docs/content/direct/get-started.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2498 ✨ Update self-references for 0.25.0-rc.1
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2431 🌱 Improve default max-num-wrapped of transport controller
  pkg/transport/generic/cmd/options.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2499 📖 Mostly spelling fixes
  .github/spellcheck/.wordlist.txt
  .github/workflows/spellcheck_action.yml
  CODE_OF_CONDUCT.md
  docs/content/Community/partners/turbonomic.md
  docs/content/Contribution guidelines/operations/code-management.md
  docs/content/direct/architecture.md
  docs/content/direct/combined-status.md
  docs/content/direct/core-chart.md
  docs/content/direct/galaxy-intro.md
  docs/content/direct/knownissue-kind-config.md
  docs/content/direct/pr-signoff.md
  docs/content/direct/pre-reqs.md
  docs/content/direct/release-notes.md
  docs/content/direct/release.md
  docs/content/direct/transforming.md
  monitoring/README.md
  test/e2e/ginkgo/README.md
  test/e2e/performance/README.md
  test/performance/README.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#2503 🌱 Add Binding[Policy] name to a debug log message
  pkg/binding/selectors.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2501 🐛 Check for empty DownsyncObjectTest
  api/control/v1alpha1/types.go
  config/crd/patches/more_validations_in_bindingpolicies.yaml
  docs/content/direct/binding.md
  docs/content/direct/testing.md
  pkg/crd/crds.go
  pkg/crd/files/crds.yaml
  test/integration/controller-manager/cr-validation_test.go
  test/integration/controller-manager/crd-handling_test.go
  test/integration/controller-manager/matching_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2513 🌱 Update dependency of ocm status addon to release 0.2.0-rc13
  core-chart/values.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2423 🌱 Stop using singletonstatus label
  cmd/controller-manager/main.go
  pkg/abstract/map-lock.go
  pkg/abstract/map-map.go
  pkg/abstract/map-to-comparable.go
  pkg/abstract/map-to-comparable_test.go
  pkg/abstract/map.go
  pkg/abstract/primitive-map-as-map.go
  pkg/binding/binding-controller.go
  pkg/binding/binding.go
  pkg/binding/bindingpolicy-resolution-broker.go
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/bindingpolicy.go
  pkg/binding/crd.go
  pkg/binding/selectors.go
  pkg/status/binding.go
  pkg/status/singletonstatus.go
  pkg/status/status-controller.go
  pkg/status/workstatus.go
  pkg/util/labels.go
  pkg/util/unstructured.go
  test/integration/controller-manager/crd-handling_test.go
  test/integration/controller-manager/matching_test.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#2509 :book: Fix Directory name with space in it AND update
  docs/README.md
  docs/content/Contribution guidelines/operations/document-management.md
  docs/content/contribution-guidelines/CONTRIBUTING.md
  docs/content/contribution-guidelines/LICENSE.md
  docs/content/contribution-guidelines/coc.md
  docs/content/contribution-guidelines/governance.md
  docs/content/contribution-guidelines/onboarding.md
  docs/content/contribution-guidelines/operations/KubeStellar-Versioned-and-Distributed-Things.svg
  docs/content/contribution-guidelines/operations/code-management.md
  docs/content/contribution-guidelines/operations/document-management.md
  docs/content/contribution-guidelines/operations/gh-draft-new-release.png
  docs/content/contribution-guidelines/operations/include-markdown-example.png
  docs/content/contribution-guidelines/operations/included-markdown-example.png
  docs/content/contribution-guidelines/operations/testing-doc-prs.md
  docs/content/contribution-guidelines/security/security.md
  docs/content/contribution-guidelines/security/security_contacts.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2515 📖 Add doc for getting started from OCM
  core-chart/templates/NOTES.txt
  docs/content/direct/example-scenarios.md
  docs/content/direct/images/ocm-usage-outline.svg
  docs/content/direct/images/usage-outline.svg
  docs/content/direct/its.md
  docs/content/direct/start-from-ocm.md
  docs/content/direct/user-guide-intro.md
  docs/content/direct/wds.md
  docs/mkdocs.yml
  scripts/ocm-local-up-for-ingress.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2516 :book: Fix bad links in the website management documentation
  docs/README.md
  docs/content/contribution-guidelines/operations/testing-doc-prs.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2524 📖 Bump KubeFlex dependency to 0.7.1
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  core-chart/Chart.yaml
  core-chart/templates/NOTES.txt
  docs/content/direct/get-started.md
  docs/content/direct/knownissue-kflex-extension.md
  docs/content/direct/pre-reqs.md
  docs/content/direct/start-from-ocm.md
  go.mod
  go.sum
  scripts/create-kubestellar-demo-env.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2523 📖 Use shell variable rather than environment variable
  docs/content/direct/get-started.md
  docs/content/direct/start-from-ocm.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2522 📖 Use explicit releases instead of main
  docs/content/direct/release.md
  docs/content/direct/start-from-ocm.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2531 🌱 Default max-num-wrapped to 1 in core Helm chart
  core-chart/values.yaml
  docs/content/direct/release-notes.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2530 📖 Start updating controllers in architecture doc
  docs/content/direct/architecture.md
  docs/content/direct/images/binding-controller.svg
  docs/content/direct/images/status-controller.svg
Labels: approved, lgtm, size/L, dco-signoff: yes

#2520 ✨ Add version checking to the check_pre_req script
  docs/content/direct/pre-reqs.md
  docs/content/direct/release.md
  hack/check_pre_req.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2539 ✨ minor updates to script for formatting and verbiage
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2541 🐛 Examine CombinedStatus objects in wait loop
  go.mod
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2548 📖 Document the WSL-helm-ghcr fail and workaround
  docs/content/direct/get-started.md
  docs/content/direct/known-issues.md
  docs/content/direct/knownissue-wsl-ghcr-helm.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2543 ✨ fix: sometimes cluster1 or cluster2 kubeconfig context alias does not create on the first try
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2545 🌱 Clarify progress message
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2540 🌱 Give some love to ginkgo --fail-fast
  .github/workflows/pr-test-e2e.yml
  test/e2e/README.md
  test/e2e/run-test.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2542 🌱 Update self-references for release 0.25.0-rc.2
  core-chart/values.yaml
  docs/content/direct/get-started.md
  docs/content/direct/release.md
  docs/content/direct/start-from-ocm.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes
