Repository kubestellar/kubestellar, pull requests merged in 2024-08, with the labels that each got.

#2370 ✨ Shard based on number of wrapped objects in a single manifestwork
  pkg/transport/cmd/generic-main.go
  pkg/transport/cmd/options.go
  pkg/transport/generic_transport_controller.go
  pkg/transport/generic_transport_controller_test.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2376 ✨ Add website reference to README
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2380 📖 Added overlooked dollar sign in example-scenarios.md
  docs/content/direct/example-scenarios.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2383 🐛 Handle DeletedFinalStateUnknown for binding controller's managedclusters informer
  pkg/binding/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2369 🌱 Improvements to ginkgo E2E test suite
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/binding/selectors.go
  pkg/status/combinedstatus-resolver.go
  pkg/status/controller.go
  pkg/status/workstatus.go
  test/e2e/ginkgo/README.md
  test/e2e/ginkgo/ginkgo_suite_test.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2385 🐛 Add specific release version for installation of monitoring tools
  monitoring/install-ks-monitoring.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2384 🌱 add ocm transport to main repo
  Makefile
  pkg/ocm/ocm.go
  pkg/transport/generic/cmd/generic-main.go
  pkg/transport/generic/cmd/options.go
  pkg/transport/generic/custom_transform_collection.go
  pkg/transport/generic/filtering/job.go
  pkg/transport/generic/filtering/object_filtering_map.go
  pkg/transport/generic/filtering/service.go
  pkg/transport/generic/generic_transport_controller.go
  pkg/transport/generic/generic_transport_controller_test.go
  pkg/transport/ocm-transport-controller/main.go
  pkg/transport/ocm-transport-controller/pkg/ocm.go
  pkg/transport/transport.go
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2381 ✨ Create named container port for `/debug/pprof`
  config/default/manager_auth_proxy_patch.yaml
  config/manager/manager.yaml
  monitoring/configure-metrics-tools.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2388 🐛 fix kubeflex-controller in the docs
  docs/content/direct/core-chart.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2390 🌱 Regularize debug log levels
  .github/workflows/pr-test-e2e.yml
  .github/workflows/test-latest-release.yml
  docs/content/direct/core-chart.md
  docs/content/direct/troubleshooting.md
  pkg/binding/binding.go
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/binding/crd.go
  pkg/binding/selectors.go
  pkg/crd/crds.go
  pkg/status/binding.go
  pkg/status/combinedstatus.go
  pkg/status/controller.go
  pkg/status/statuscollector.go
  pkg/status/workstatus.go
  pkg/transport/generic/cmd/generic-main.go
  pkg/transport/generic/custom_transform_collection.go
  pkg/transport/generic/generic_transport_controller.go
  pkg/util/unstructured.go
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2391 🌱 addressed previous PR comments
  Makefile
  docs/content/direct/packaging.md
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2375 📖 Refer getting-started reader to Helm chart notes about contexts
  docs/content/direct/get-started.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2285 ✨ Status controller with redesigns
  docs/content/direct/architecture.md
  docs/content/direct/images/status-controller.svg
  pkg/status/binding.go
  pkg/status/singletonstatus.go
  pkg/status/workstatus.go
  pkg/util/unstructured.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2382 ✨ Adding Grafana dashboards to Monitor KS controllers
  monitoring/README.md
  monitoring/grafana/KubeStellarControllersMonitoring.json
  monitoring/grafana/WDSAPIServerMonitoring.json
  monitoring/grafana/datasources.yaml
  monitoring/images/grafana-dashboard-view.png
  monitoring/images/grafana-data-sources.png
  monitoring/images/ks-controllers-monitoring.png
  monitoring/images/ks-monitoring-setup.png
  monitoring/images/wds-apiserver-monitoring.png
  monitoring/prometheus/prometheus-rbac.yaml
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#2395 ✨ Adding Sample Workloads for KS Performance Tests
  test/performance/workloads/cluster-density-ms/cluster-density-ms.yaml
  test/performance/workloads/cluster-density-ms/configmap.yaml
  test/performance/workloads/cluster-density-ms/deployment.yaml
  test/performance/workloads/cluster-density-ms/imagestream.yaml
  test/performance/workloads/cluster-density-ms/route.yaml
  test/performance/workloads/cluster-density-ms/secret.yaml
  test/performance/workloads/cluster-density-ms/service.yaml
  test/performance/workloads/cluster-density/cluster-density.yaml
  test/performance/workloads/cluster-density/configmap.yaml
  test/performance/workloads/cluster-density/deployment.yaml
  test/performance/workloads/cluster-density/secret.yaml
  test/performance/workloads/cluster-density/service.yaml
  test/performance/workloads/performance-test-config.yaml
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2396 🌱 Add GetSingletonReportedStateRequestForObject method
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2398 🐛 Make reconcileSingletonByBdg handle deletion of Binding
  pkg/status/singletonstatus.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2401 🌱 Add debug logging around CombinedStatus resolution
  pkg/status/binding.go
  pkg/status/combinedstatus.go
  pkg/status/controller.go
  pkg/status/statuscollector.go
  pkg/status/workstatus.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2405 🌱 Update IDL to forbid duplications in BindingSpec
  api/control/v1alpha1/types.go
  config/crd/bases/control.kubestellar.io_bindings.yaml
  pkg/crd/files/crds.yaml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2402 🌱 More debug logging
  pkg/status/binding.go
  pkg/status/combinedstatus-resolver.go
  pkg/status/statuscollector.go
  pkg/util/log-wrappers.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2409 ✨ Improve status controller using existing assets
  cmd/controller-manager/main.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/controller.go
  pkg/status/binding.go
  pkg/status/controller.go
  pkg/status/singletonstatus.go
  pkg/status/workstatus.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2403 🌱 Fix remaining wrong go versions in CI
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  .prow.yaml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2394 ✨ Make controller-manager use plain Kubernetes
  cmd/controller-manager/main.go
  go.mod
  go.sum
  options/client-options.go
  options/process-options.go
  pkg/binding/binding.go
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/controller/run.go
  pkg/crd/crds.go
  pkg/metrics/wrap_client.go
  pkg/ocm/ocm.go
  pkg/status/combinedstatus.go
  pkg/status/controller.go
  pkg/status/statuscollector.go
  pkg/transport/generic/cmd/generic-main.go
  pkg/transport/generic/cmd/options.go
  test/integration/controller-manager/crd-handling_test.go
  test/integration/controller-manager/matching_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2411 :book: Fix docs to support dark-light theme toggling
  docs/content/KubeStellar-with-Logo.png
  docs/content/direct/images/binding-controller.svg
  docs/content/direct/images/high-level-architecture.svg
  docs/content/direct/images/kubeflex-architecture.png
  docs/content/direct/images/main-modules.svg
  docs/content/direct/images/status-controller.svg
  docs/content/direct/images/transport-controller.svg
  docs/content/direct/images/usage-outline.svg
  docs/content/images/kubestellar-high-level.png
  docs/mkdocs.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2412 ✨ Adding APF for KS monitoring tools
  monitoring/configuration/prometheus-pod-exempt.yaml
  monitoring/configure-monitoring-wds.sh
  monitoring/grafana/APIServerPriorityFairness.json
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2011 ✨ add performance test
  test/e2e/performance/README.md
  test/e2e/performance/ginkgo_suite_test.go
  test/e2e/performance/perf_test.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2397 :sparkles: CombinedStatus PropagationMeta Augmentation
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_bindingpolicies.yaml
  config/crd/bases/control.kubestellar.io_bindings.yaml
  docs/content/direct/combined-status.md
  go.mod
  pkg/binding/bindingpolicy-resolution-broker.go
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/bindingpolicy.go
  pkg/binding/selectors.go
  pkg/crd/files/crds.yaml
  pkg/status/cel-evaluator.go
  pkg/status/combinedstatus-queryables.go
  pkg/status/combinedstatus-resolution.go
  pkg/status/combinedstatus-resolver.go
  pkg/status/workstatus.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2414 🐛 Add missing lister for cluster-scoped workload object when updating status
  pkg/status/singletonstatus.go
  pkg/status/workstatus.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#2415 📖 Instructions to connect to Grafana Pyroscope graphs and APF Dashboard
  monitoring/README.md
  monitoring/images/apiserver-apf-monitoring.png
  monitoring/images/apiserver-monitoring.png
  monitoring/images/grafana-dashboard-view.png
  monitoring/images/grafana-data-sources.png
  monitoring/images/ks-controllers-monitoring.png
  monitoring/images/ks-controllers-pyroscope.png
  monitoring/images/wds-apiserver-monitoring.png
Labels: approved, lgtm, size/L, dco-signoff: yes

#2417 ✨ Do not update statuses for namespaces in WDS
  pkg/status/workstatus.go
  pkg/util/authority.go
Labels: approved, lgtm, size/M, dco-signoff: yes
