Repository kubestellar/kubestellar, pull requests merged in 2024-11, with the labels that each got.

#2547 ✨ Create ADOPTERS.md
  ADOPTERS.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2550 🐛 Add/fix wait for ITS to finish OCM setup
  core-chart/templates/postcreatehooks/its.yaml
  docs/content/direct/get-started.md
  scripts/create-kubestellar-demo-env.sh
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2551 🌱 Do planned update since making a release
  core-chart/templates/NOTES.txt
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2553 🐛 Fix reference to modified OCM quickstart script
  docs/content/direct/get-started.md
  docs/content/direct/start-from-ocm.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2557 🐛 Change check_pre_req.sh script to not use jq
  hack/check_pre_req.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2556 🐛 Remove problematic `dirname` from ocm-local-up-for-ingress.sh
  docs/content/direct/start-from-ocm.md
  scripts/ocm-local-up-for-ingress.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2561 ✨ increased timeout for job/its1 wait to 300s
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2562 🐛 Fix KS version in create-kubestellar-demo-env.sh
  docs/content/direct/release.md
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2563 📖 Fill out an example of combining status
  docs/content/direct/combined-status.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2546 🐛 Various fixes and improvements to create-kubestellar-demo-env.sh
  docs/content/direct/release.md
  scripts/create-kind-cluster-with-SSL-passthrough.sh
  scripts/create-kubestellar-demo-env.sh
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2565 🌱 Changed create-kubestellar-demo-env.sh ref from me to main
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2566 🐛 Fix the BINDINGPOLICY print column on CombinedStatus
  api/control/v1alpha1/types.go
  config/crd/bases/control.kubestellar.io_combinedstatuses.yaml
  pkg/crd/files/crds.yaml
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2572 🌱 Update self-references for release 0.25.0-rc.3
  core-chart/values.yaml
  docs/content/direct/release.md
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2538 📖 Document curl-to-bash-ability of check_pre_req.sh
  docs/content/direct/pre-reqs.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2552 📖 Note general idea in start-from-ocm
  docs/content/direct/start-from-ocm.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2575 📖 Add known issue for botched StatusCollector reference
  docs/content/direct/known-issues.md
  docs/content/direct/knownissue-collector-miss.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2576 🐛 Increase timeout wainting for nginx Ingress controller
  scripts/create-kind-cluster-with-SSL-passthrough.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2580 📖 Document the need for ginkgo in testing
  docs/content/direct/pre-reqs.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2581 ✨ Update self references for release 0.25.0
  core-chart/values.yaml
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2527 📖 Adding documentation for quick automated script
  docs/content/direct/get-started.md
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#2583 📖 Be more explicit about "spec" of `CombinedStatus`
  docs/content/direct/combined-status.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2585 📖 Remove dollar signs from commands to copy-and-paste
  docs/content/direct/example-scenarios.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2582 🌱 Remove TODO that has been done
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2590 📖 Reorganize Getting Started Page
  docs/content/direct/get-started.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2591 📖 Fix nesting in listing of queryable objects in combined status
  docs/content/direct/combined-status.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2593 ✨ added link to footer of webpage for trademarks
  docs/overrides/home.html
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2594 ✨ add Roadmap placeholder
  README.md
  docs/content/direct/roadmap.md
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2589 🐛 Revise generic transport controller update logic
  pkg/abstract/primitive-map-ops.go
  pkg/transport/generic/generic_transport_controller.go
  pkg/transport/generic/generic_transport_controller_test.go
  pkg/transport/ocm-transport-controller/pkg/ocm.go
  pkg/transport/transport.go
  pkg/util/gvk-obj-ref.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2588 🐛 Make setup-kubestellar overwrite kflex hidden state
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2599 📖 Document transport controller bugs in release notes
  docs/content/direct/release-notes.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2601 ✨ update trademark link in readme
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2602 🐛 Increase scripting timeouts to 1 day
  scripts/create-kind-cluster-with-SSL-passthrough.sh
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2603 ✨ openssf badge needed for clomonitor rating increase
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2600 ✨ Prepare for 0.25.1 release
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/content/direct/release.md
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2463 ⚠️ Narrow scope of singleton status return request, and refactor
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_bindingpolicies.yaml
  config/crd/bases/control.kubestellar.io_bindings.yaml
  docs/content/direct/binding.md
  docs/content/direct/combined-status.md
  pkg/binding/bindingpolicy-resolution-broker.go
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/selectors.go
  pkg/crd/files/crds.yaml
  pkg/status/combinedstatus-resolver.go
  pkg/transport/generic/generic_transport_controller_test.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2605 ✨ artifact-hub badge needed for clomonitor rating - root readme.md
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2606 ✨ Artifact-hub now added to doc readme - with preview
  docs/content/readme.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2612 ✨ added support for OpenSSF security insights
  SECURITY-INSIGHTS.yml
  THREAT-MODEL.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2616 ✨ added support for OpenSSF scorecard for clomonitor scoring
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2614 📖 Versioned reference to create-kubestellar-demo-env.sh
  docs/content/direct/get-started.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2618 ✨ checking if docker runtime is running at the time the demo-env script…
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2620 ✨ add optional check for k3d
  hack/check_pre_req.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2622 ✨ add exemption for clomonitor for trademark dynamically displayed per …
  .clomonitor.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2619 ✨ Upgrade to Kuberentes release 1.29.10
  .github/workflows/goreleaser.yml
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  .prow.yaml
  Makefile
  api/control/v1alpha1/types.go
  config/crd/bases/control.kubestellar.io_statuscollectors.yaml
  core-chart/values.yaml
  docs/content/direct/packaging.md
  docs/content/direct/testing.md
  go.mod
  go.sum
  pkg/crd/files/crds.yaml
  pkg/generated/informers/externalversions/factory.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2570 ✨Provide a script to take a snapshot of KubeStellar deployment
  scripts/kubestellar-snapshot.sh
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2629 🌱 Always save spellcheck output to workflow artifact
  .github/workflows/spellcheck_action.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2624 ✨ Enable prefetch in create kind cluster script
  scripts/create-kind-cluster-with-SSL-passthrough.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2633 🐛 Remove spurious escaping of brackets in NOTES.txt template
  core-chart/templates/NOTES.txt
Labels: size/XS, approved, lgtm, dco-signoff: yes
