Repository kubestellar/kubestellar, pull requests merged in 2024-05, with the labels that each got.

#2097 📖 Document the need to raise OS limits for three kind clusters
  docs/content/direct/example-wecs.md
  test/e2e/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2100 ✨ Track release 0.1.6 of ks/OTP
  docs/content/direct/examples.md
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes, upcoming-release

#2102 🐛 bug fix: Updating install for kcp on ocp for release-0.22.0-rc2
  test/e2e/common/cleanup.sh
  test/e2e/common/setup-kubestellar-ocp.sh
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/run-test.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2099 📖 docs : Updating the contributor.md file by removing the height!
  docs/content/direct/contributor.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2101 ✨ Prep for 0220rc3
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
  docs/content/direct/release-notes.md
  docs/content/direct/release.md
  test/e2e/multi-cluster-deployment/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2106 ✨ Track OTP 0.1.7 and prep ks 0.22.0
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
  test/e2e/multi-cluster-deployment/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2107 📖 Fix version warning for release-0.22.0
  docs/overrides/main.html
Labels: size/S, approved, lgtm, dco-signoff: yes

#2108 📖 Fix version warning banner in release-0.22.0-rc3
  docs/overrides/main.html
Labels: size/S, approved, lgtm, dco-signoff: yes

#2109 ✨ Parameterize deploy docs
  .github/workflows/docs-gen-and-push.yml
  Makefile
  docs/README.md
  docs/content/direct/release.md
  docs/scripts/deploy-docs.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2111 📖 Streamline release categorization
  .github/workflows/docs-gen-and-push.yml
  Makefile
  docs/README.md
  docs/content/direct/release.md
  docs/mkdocs.yml
  docs/overrides/main.html
  docs/scripts/deploy-docs.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2114 📖 Fix version warning banner in release-0.22.0-rc3
  docs/mkdocs.yml
  docs/overrides/main.html
Labels: size/S, approved, lgtm, dco-signoff: yes

#2115 📖 Update version warning banner in release-0.22.0
  docs/mkdocs.yml
  docs/overrides/main.html
Labels: size/S, approved, lgtm, dco-signoff: yes

#2118 📖 Track fixes to version warning banner
  docs/mkdocs.yml
  docs/overrides/main.html
Labels: size/S, approved, lgtm, dco-signoff: yes

#2120 📖 Fix version warning banner in release-0.21.1
  docs/mkdocs.yml
  docs/overrides/main.html
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2122 🐛 Implement usage of ITSName argument by the chart
  config/default/manager_auth_proxy_patch.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2116 📖 Describe the accepted JSONPath subset more carefully
  docs/content/direct/user-guide.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2086 ✨ Update PCHs to include ocm status-addon and transport-plugin
  config/postcreate-hooks/kubestellar.yaml
  config/postcreate-hooks/ocm.yaml
  docs/content/direct/examples.md
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2126 :sparkles: Update OCM clusteradm version to 0.8.2
  config/postcreate-hooks/ocm.yaml
  docs/content/direct/packaging.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2124 🌱 Stop rendering Helm chart into local-chart directory
  Makefile
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2128 :sparkles: Don't generate and push docs for main to kubestellar.io
  .github/workflows/docs-gen-and-push.yml
  docs/README.md
  docs/content/Contribution guidelines/operations/release-management.md
  docs/scripts/deploy-docs.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2136 📖 Make home.html redirect to latest instead of stable
  home.html
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2135 📖 Include apiVersion in exhibited CustomTransform
  docs/content/direct/user-guide.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2127 🐛 Make binding controller use typed clients for known types
  go.mod
  go.sum
  pkg/binding/binding.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/binding/selectors.go
  pkg/crd/crds.go
  pkg/ocm/ocm.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2139 📖 Clarify remarks about GoDaddy and redirects
  docs/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2132 ✨ Parametrize clusters context name for ginkgo
  test/e2e/ginkgo/ginkgo_suite_test.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2137 🐛 Mostly enable E2E test of current code on OCP
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar-ocp.sh
  test/e2e/common/setup-kubestellar.sh
  test/e2e/multi-cluster-deployment/run-test.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2117 :sparkles: Combined Status API
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_bindingpolicies.yaml
  config/crd/bases/control.kubestellar.io_combinedstatuses.yaml
  config/crd/bases/control.kubestellar.io_statuscollectors.yaml
  docs/content/direct/combined-status.md
  pkg/binding/bindingpolicy.go
  pkg/crd/files/crds.yaml
  pkg/generated/clientset/versioned/typed/control/v1alpha1/combinedstatus.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/control_client.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_combinedstatus.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_control_client.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/generated_expansion.go
  pkg/generated/informers/externalversions/control/v1alpha1/combinedstatus.go
  pkg/generated/informers/externalversions/control/v1alpha1/interface.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/listers/control/v1alpha1/combinedstatus.go
  pkg/generated/listers/control/v1alpha1/expansion_generated.go
  test/integration/controller-manager/matching_test.go
  test/util/util.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#2142 📖 Add Andy's email to docs/README.md
  docs/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2145 🌱 Update kubeflex dependency to release 0.6.1
  docs/content/direct/pre-reqs.md
  go.mod
  go.sum
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2146 :book: 📖 docs Update docs\README.md with note about navigation definition
  docs/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2144 ✨ Update self-references for ks/ks release 0.23.0-alpha.1
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
  docs/content/direct/release-notes.md
  test/e2e/multi-cluster-deployment/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2148 🐛 Fixed quoting snafu
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2149 📖 Finish doc updates wrt E2E test on OCP
  docs/content/direct/release.md
  test/e2e/multi-cluster-deployment/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2151 ✨ Update self-references for 0.23.0-alpha.2
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/examples.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2152 :bug: Fix missing genclient annotation on API object
  api/control/v1alpha1/types.go
  config/crd/bases/control.kubestellar.io_statuscollectors.yaml
  pkg/generated/clientset/versioned/typed/control/v1alpha1/control_client.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_control_client.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_statuscollector.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/statuscollector.go
  pkg/generated/informers/externalversions/control/v1alpha1/interface.go
  pkg/generated/informers/externalversions/control/v1alpha1/statuscollector.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/listers/control/v1alpha1/expansion_generated.go
  pkg/generated/listers/control/v1alpha1/statuscollector.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2153 ✨ Single script that activates e2e tests for bash and ginkgo tests
  test/e2e/common/cleanup.sh
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/run-test.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2134 🐛 Fixes to getRestConfig and callers
  cmd/controller-manager/main.go
  pkg/util/kubeconfig.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2156 ✨ Switch StatusCollector expressions to CEL
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_statuscollectors.yaml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2155 :sparkles: Combined Status User-Spec-API Result API & Calculation
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_bindingpolicies.yaml
  config/crd/bases/control.kubestellar.io_bindings.yaml
  config/crd/bases/kustomization.yaml
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/bindingpolicy.go
  pkg/binding/selectors.go
  pkg/crd/crds.go
  pkg/crd/files/crds.yaml
  pkg/transport/generic_transport_controller_test.go
  test/integration/controller-manager/matching_test.go
Labels: priority/high, approved, lgtm, size/L, dco-signoff: yes

#2165 ✨ Add QPS and Burst flags to core controllers
  cmd/controller-manager/main.go
  options/client-options.go
  pkg/binding/controller.go
  pkg/transport/cmd/options.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2168 :sparkles: CombinedStatus Calculation (part 1)
  pkg/abstract/primitive-maps.go
  pkg/binding/bindingpolicy-resolution-broker.go
  pkg/binding/bindingpolicy-resolution.go
  pkg/status/controller.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2167 ✨ E2E test re-organization
  .github/workflows/pr-test-e2e.yml
  test/e2e/README.md
  test/e2e/bash/README.md
  test/e2e/bash/use-kubestellar.sh
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/run-test.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2170 📖 Brush up E2E READMEs
  test/e2e/README.md
  test/e2e/bash/README.md
  test/e2e/ginkgo/README.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2157 ✨ KubeStellar Core chart
  .github/workflows/goreleaser.yml
  .gitignore
  core-chart/.helmignore
  core-chart/Chart.yaml
  core-chart/LICENSE
  core-chart/templates/NOTES.txt
  core-chart/templates/cps/its.yaml
  core-chart/templates/cps/wds.yaml
  core-chart/templates/kubeflex-clusterrolebinding.yaml
  core-chart/templates/kubeflex-namespaces.yaml
  core-chart/templates/postcreatehooks/its.yaml
  core-chart/templates/postcreatehooks/wds.yaml
  core-chart/templates/pre-delete-hook.yaml
  core-chart/values.yaml
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-step-by-step.md
  docs/content/direct/core-chart.md
  docs/content/direct/examples.md
  docs/content/direct/microshift.md
  scripts/create-k3s-cluster-with-SSL-passthrough.sh
  scripts/create-kind-cluster-with-SSL-passthrough.sh
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#2171 ✨ Track ocm-status-addon release 0.2.0-rc9
  config/postcreate-hooks/ocm.yaml
  core-chart/values.yaml
  docs/content/direct/release.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2176 📖 Update docs to remove unnecessary `sudo su`
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/core-chart.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2175 ✨ Update self references and release doc for 0.23.0-alpha.3
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/README.md
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-step-by-step.md
  docs/content/direct/core-chart.md
  docs/content/direct/microshift.md
  docs/content/direct/release.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2177 ✨ More self-references in core-chart.md
  docs/content/direct/core-chart.md
  docs/content/direct/release.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2179 📖 Improve code to retrieve the CP kubeconfigs
  core-chart/templates/NOTES.txt
  docs/content/direct/core-chart.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2181 ✨ Update core chart to use KubeFlex v0.62
  core-chart/Chart.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2182 ✨ Update self-references for 0.23.0-alpha.4 release
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/README.md
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-step-by-step.md
  docs/content/direct/core-chart.md
  docs/content/direct/microshift.md
  docs/content/direct/release-notes.md
Labels: size/S, approved, lgtm, dco-signoff: yes
