Repository kubestellar/kubestellar, pull requests merged in 2024-12, with the labels that each got.

#2641 🌱 Include error in warning about sync fail
  pkg/transport/generic/generic_transport_controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2642 🐛 Stop thrashing workload objects in the WEC, when max-num-wrapped is 1
  docs/content/direct/known-issues.md
  docs/content/direct/release-notes.md
  pkg/transport/generic/generic_transport_controller.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2650 📖 Update ocm-status-addon version in monitoring/README
  docs/content/direct/release.md
  monitoring/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2631 ✨ Bump KubeFlex dependency to 0.7.2
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  core-chart/Chart.yaml
  docs/content/direct/pre-reqs.md
  go.mod
  go.sum
  hack/check_pre_req.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2651 ✨ Update self-references for 0.26.0-alpha.1
  core-chart/values.yaml
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2625 ✨ Improve scripts for building some of the service images
  hack/Dockerfile.kubectl
  hack/build-clusteradm-image.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2652 🌱 Make clusteradm build folder evident to user
  hack/build-clusteradm-image.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2638 📖 [release-0.25.1] Document workload object thrashing
  docs/content/direct/known-issues.md
  docs/content/direct/release-notes.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2621 ✨ add option to create kubestellar on k3d
  docs/content/direct/get-started.md
  hack/check_pre_req.sh
  scripts/create-kubestellar-demo-env.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2636 📖 Improve bug reporting clues
  .github/ISSUE_TEMPLATE/bug_report.yaml
  docs/content/direct/troubleshooting.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2655 ✨ add kubestellar-snapshot output placeholder to bug_report.…
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2654 ✨ updated to use links in repo, not in my fork
  docs/content/direct/get-started.md
  docs/content/direct/release.md
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2657 🐛 Fix speling error in kubestellar-snapshot.sh
  scripts/kubestellar-snapshot.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2667 ✨ updated to add --assert to the command for check_pre_req.sh
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2663 ✨ Add Binding objects to snapshot output
  scripts/kubestellar-snapshot.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2670 ✨ Update self-references for 0.26.0-alpha.2 release
  core-chart/values.yaml
  docs/content/direct/get-started.md
  docs/content/direct/release-notes.md
  docs/content/direct/release.md
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2645 ✨Introduce the capability of controlling if OCM should be installed in a Control Plane
  core-chart/templates/_helpers.tpl
  core-chart/templates/controlplanes/its.yaml
  core-chart/templates/postcreatehooks/its-with-clusteradm.yaml
  core-chart/templates/postcreatehooks/its-without-clusteradm.yaml
  core-chart/templates/postcreatehooks/its.yaml
  core-chart/values.yaml
  docs/content/direct/core-chart.md
  docs/content/direct/get-started.md
  scripts/create-kubestellar-demo-env.sh
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2683 ✨ Update self-references for 0.26.0-alpha.3 release
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2679 🐛 State-based reporting of combined status errors
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_combinedstatuses.yaml
  docs/content/direct/combined-status.md
  pkg/crd/files/crds.yaml
  pkg/status/combinedstatus-resolution.go
  pkg/status/combinedstatus-resolver.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2688 🐛 Fix ITS detection based on the new core-chart
  scripts/kubestellar-snapshot.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2689 ✨ Add OSA and OCM versions to snapshot script
  scripts/kubestellar-snapshot.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2690 🌱 Fix StatusCollector event order bugs in status controller
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/selectors.go
  pkg/status/combinedstatus-resolution.go
  pkg/status/combinedstatus-resolver.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2693 ✨:Correct installation script
  scripts/create-k3s-cluster-with-SSL-passthrough.sh
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#2695 :book: [release-0.26.0-alpha.3] Track change in where `wantSingletonReportedState` appears
  docs/content/direct/example-scenarios.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2691 :book: Adding Cornell to the list of KubeStellar adopters.
  ADOPTERS.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2696 📖 Track change in where `wantSingletonReportedState` appears
  docs/content/direct/example-scenarios.md
Labels: size/XS, approved, lgtm, dco-signoff: yes
