Repository kubestellar/kubestellar, pull requests merged in 2024-04, with the labels that each got.

#1996 :bug: Verify secret reference exist
  pkg/util/kubeconfig.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1999 :bug: Do not watch workstatuses in binding controller
  pkg/binding/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2000 🐛 Updates for the controller manager to watch everything
  chart/templates/controller-manager.yaml
  config/manager/manager.yaml
  pkg/binding/controller.go
  pkg/status/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1994 ✨ fix issue 1981 by removing tag trigger
  .github/workflows/test-latest-release.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2002 ✨ Update self-references in prep for release 0.21.2-rc2
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
  docs/content/direct/release-notes.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2004 :sparkles: Prep release 0.21.2
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2003 📖 Make examples.md use OTP helm chart
  docs/content/direct/examples.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1971 :sparkles: A simple helper script to update the version number
  scripts/update-release.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2005 📖 Updates for mkdocs to better render the architecture webpage
  docs/content/direct/architecture.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1988 🐛 Fix triggering problems in doc workflows
  .github/workflows/broken-links-crawler.yml
  .github/workflows/docs-gen-and-push.yml
Labels: size/S, approved, lgtm, dco-signoff: yes, 1-April-2024

#2009 🐛 More better Job cleaning
  pkg/transport/filtering/job.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2010 :book: Starting best practices
  docs/content/direct/best-practices.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2013 📖 Re-org and extend release process doc
  docs/content/direct/release.md
Labels: approved, lgtm, size/M, dco-signoff: yes, 15-April-2024

#2014 📖 Add teardown instructions to examples.md
  docs/content/direct/examples.md
  docs/content/direct/thirdparties.md
Labels: approved, lgtm, size/M, dco-signoff: yes, 15-April-2024

#2029 🐛 Specify non-broken release of kustomize
  Makefile
Labels: size/XS, approved, lgtm, dco-signoff: yes, 15-April-2024

#2012 ✨ Remove spec.suspend when cleaning a Job
  pkg/transport/filtering/job.go
Labels: size/XS, approved, lgtm, dco-signoff: yes, 15-April-2024

#2036 ✨ Replace add-helm-code.sh with YQ commands
  Makefile
  scripts/add-helm-code.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2039 📖 Fix typo
  docs/content/direct/examples.md
Labels: size/XS, approved, lgtm, dco-signoff: yes, 15-April-2024

#2030 🐛 Allow a 'singleton' bindingpolicy to select no clusters
  pkg/binding/bindingpolicy.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2044 ✨ Add errors to BindingPolicyStatus
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_bindingpolicies.yaml
  pkg/crd/files/control.kubestellar.io_bindingpolicies.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2043 ✨ use ginkgoHelper() to pinpoint stack failure.
  test/util/util.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2023 📖 Support multiple transport controllers, doc more staggering
  docs/content/direct/examples.md
  docs/content/direct/release.md
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes, 15-April-2024

#2041 ✨ Introduce some control over controller verbosity
  Makefile
  chart/templates/controller-manager.yaml
  chart/values.yaml
  config/default/manager_auth_proxy_patch.yaml
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/run-test.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2033 ✨ change imbs to its
  .github/workflows/pr-test-e2e.yml
  .github/workflows/test-latest-release.yml
  cmd/controller-manager/main.go
  config/postcreate-hooks/ocm.yaml
  docs/content/direct/README.md
  docs/content/direct/deploy-on-k3d.md
  docs/content/direct/example-wecs.md
  docs/content/direct/examples.md
  pkg/binding/controller.go
  pkg/status/controller.go
  pkg/util/kubeconfig.go
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
  test/e2e/ginkgo/ginkgo_suite_test.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/performance/README.md
  test/performance/metrics_collector.py
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2054 :bug: Do not exclude scheduling.k8s.io group
  pkg/binding/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2045 ✨ Define API for custom cleaning
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_customtransforms.yaml
  pkg/crd/files/control.kubestellar.io_customtransforms.yaml
  pkg/generated/clientset/versioned/typed/control/v1alpha1/control_client.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/customtransform.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_control_client.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_customtransform.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/generated_expansion.go
  pkg/generated/informers/externalversions/control/v1alpha1/customtransform.go
  pkg/generated/informers/externalversions/control/v1alpha1/interface.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/listers/control/v1alpha1/customtransform.go
  pkg/generated/listers/control/v1alpha1/expansion_generated.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2051 :book: Minor formatting tweaks to architecture docs
  docs/content/direct/architecture.md
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#2052 ✨ Fix a panic in the transport handleWrappedObject
  pkg/transport/generic_transport_controller.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#2046 ✨ KS release test OCP: deployment in multiple clusters
  test/e2e/common/cleanup.sh
  test/e2e/common/setup-kubestellar-ocp.sh
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/run-test.sh
  test/e2e/multi-cluster-deployment/use-kubestellar.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2056 🐛 Clearer logging of sync outcome
  pkg/transport/generic_transport_controller.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2031 :book: Document the testing process for a Release
  docs/content/direct/release-testing.md
  docs/content/direct/release.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2059 ✨ Add CustomTransformStatus and printer columns
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_customtransforms.yaml
  pkg/crd/files/control.kubestellar.io_customtransforms.yaml
  pkg/generated/clientset/versioned/typed/control/v1alpha1/customtransform.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_customtransform.go
Labels: approved, lgtm, size/M, dco-signoff: yes, upcoming-release

#2058 ✨ Start restoring/updating JSONPath package, simplified
  go.mod
  go.sum
  pkg/jsonpath/eval.go
  pkg/jsonpath/eval_test.go
  pkg/jsonpath/lexer.go
  pkg/jsonpath/lexer_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2063 📖 Update description of transport controller in architecture doc
  docs/content/direct/architecture.md
  docs/content/direct/images/transport-controller.png
Labels: size/S, approved, lgtm, dco-signoff: yes

#2075 🌱 More selective triggering of .github/workflows/greetings.yml
  .github/workflows/greetings.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2065 📖 Fix links to user-guide.md
  docs/content/direct/README.md
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes, upcoming-release

#2079 📖 Mostly update the architecture doc of status add-on agent
  docs/content/direct/architecture.md
Labels: approved, lgtm, size/M, dco-signoff: yes, upcoming-release

#2072 📖 Fix some wording in e2e/multi-cluster-deployment README for OCP
  test/e2e/multi-cluster-deployment/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes, upcoming-release

#2066 📖 Document CustomTransform, fix arch doc of template expansion
  docs/content/direct/architecture.md
  docs/content/direct/images/transport-controller.png
  docs/content/direct/user-guide.md
Labels: approved, lgtm, size/L, dco-signoff: yes, upcoming-release

#2060 ✨ Implement custom transforms
  api/control/v1alpha1/register.go
  pkg/crd/crds.go
  pkg/transport/cmd/generic-main.go
  pkg/transport/custom_transform_collection.go
  pkg/transport/generic_transport_controller.go
  pkg/transport/generic_transport_controller_test.go
Labels: approved, lgtm, size/XL, dco-signoff: yes, upcoming-release

#2080 📖 Fix quoting of jinja syntax
  docs/README.md
  docs/content/direct/user-guide.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2081 ✨ Report CustomTransform warnings in status
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_customtransforms.yaml
  pkg/abstract/slices.go
  pkg/crd/files/crds.yaml
  pkg/transport/custom_transform_collection.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2082 ✨ Update self-references for release 0.22.0-rc1
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
  docs/content/direct/release-notes.md
Labels: size/S, approved, lgtm, dco-signoff: yes, upcoming-release

#2084 📖 Remove recent breakage in template expansion example
  docs/content/direct/user-guide.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2085 📖 Expand release note for 0.22.0
  docs/content/direct/release-notes.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2088 🐛 Document and update dependency of ks/ks on ks/OSA
  docs/content/direct/deploy-on-k3d.md
  docs/content/direct/examples.md
  docs/content/direct/release.md
  test/e2e/common/setup-kubestellar.sh
  test/e2e/multi-cluster-deployment/README.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2089 📖 Replace the image/chart listings in packaging.md with rules
  docs/content/direct/packaging.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2092 🌱 update the dependency on kubeflex in go.mod to v0.4.2
  go.mod
  go.sum
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2093 ✨ Track OTP release 0.1.5 and prep for KS release 0.22.0-rc2
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
  docs/content/direct/release-notes.md
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes, upcoming-release
