Repository kubestellar/kubestellar, pull requests merged in 2024-07, with the labels that each got.

#2076 ✨ Make the status controller handle the deletion of workstatuses
  pkg/status/controller.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: priority/medium, approved, lgtm, size/L, dco-signoff: yes

#2288 🌱 Add E2E test scenarios manipulating object label
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#2289 🌱 Update self-references for release 0.23.1
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2174 :sparkles: CombinedStatus Calculation (part 2)
  api/control/v1alpha1/register.go
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  cmd/controller-manager/main.go
  config/crd/bases/control.kubestellar.io_combinedstatuses.yaml
  config/crd/bases/control.kubestellar.io_statuscollectors.yaml
  config/crd/bases/kustomization.yaml
  go.mod
  pkg/abstract/primitive-maps.go
  pkg/abstract/slices.go
  pkg/binding/binding.go
  pkg/binding/bindingpolicy-resolution-broker.go
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/controller.go
  pkg/binding/selectors.go
  pkg/crd/crds.go
  pkg/crd/files/crds.yaml
  pkg/status/binding.go
  pkg/status/cel-evaluator.go
  pkg/status/combinedstatus-resolution.go
  pkg/status/combinedstatus-resolver.go
  pkg/status/combinedstatus.go
  pkg/status/controller.go
  pkg/status/statuscollector.go
  pkg/status/workstatus.go
  pkg/util/labels.go
  pkg/util/object-identifier.go
  pkg/util/unstructured.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#2195 ✨ sharded manifestwork
  pkg/transport/cmd/generic-main.go
  pkg/transport/cmd/options.go
  pkg/transport/generic_transport_controller.go
  pkg/transport/generic_transport_controller_test.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2298 :sparkles: Combined status tests
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2299 ✨ Make ginkgo subject nodes interruptable
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2296 🌱 Bump minimum go version to 1.21
  .prow.yaml
  go.mod
  go.sum
Labels: approved, lgtm, size/M, dco-signoff: yes

#2297 🌱 Bump Kubernetes version to 1.28.11 and container-runtime to 0.16.6
  cmd/controller-manager/main.go
  go.mod
  go.sum
Labels: approved, lgtm, size/L, dco-signoff: yes

#2295 🐛 Update pre-reqs.md to fix spellings
  docs/content/direct/pre-reqs.md
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#2302 📖 [release-0.23.1] Add pointers into example-scenarios.md
  docs/content/direct/example-scenarios.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2301 ✨ update shard test to check number of manifestworks
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#2313 :bug: Update get-started.md so that "cluster" is changed to "clusters" to reflect multiplicity
  docs/content/direct/get-started.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2312 🐛 Update pre-reqs.md so that "fist" is spelled as "first"
  docs/content/direct/pre-reqs.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2316 📖 Rename quickstart to Getting Started, other doc brush up
  CONTRIBUTING.md
  docs/README.md
  docs/content/direct/acquire-hosting-cluster.md
  docs/content/direct/core-chart.md
  docs/content/direct/example-scenarios.md
  docs/content/direct/get-started.md
  docs/content/direct/init-hosting-cluster.md
  docs/content/direct/packaging.md
  docs/content/direct/pre-reqs.md
  docs/content/direct/release.md
  docs/content/direct/setup-overview.md
  docs/content/direct/user-guide-intro.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2315 🐛 Update core-chart.md so that "|| true" is deleted to avoid redundancy
  docs/content/direct/core-chart.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2317 📖 Remove all-macros.md
  docs/README.md
  docs/content/Contribution guidelines/operations/all-macros.md
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2322 :book: 📖 docs Update pre-reqs.md grammatical changes: "An" to "a"
  docs/content/direct/pre-reqs.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2325 📖 Clarify status combining feature
  docs/content/direct/combined-status.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#2328 :book: 📖 docs Update pre-reqs.md; fixed capitalization of Kubestellar
  docs/content/direct/pre-reqs.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2318 :book: Add additional emphasis to website left navigation to reduce confusion
  docs/mkdocs.yml
  docs/overrides/stylesheets/kubestellar.css
Labels: size/S, approved, lgtm, dco-signoff: yes

#2324 :book: Update website landing page (home.html) for better clarity and accessibility
  docs/content/direct/get-started.md
  docs/mkdocs.yml
  docs/overrides/home.html
Labels: approved, lgtm, size/L, dco-signoff: yes

#2293 :sparkles: CombinedStatus querying enhancements
  .github/workflows/pr-test-e2e.yml
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_combinedstatuses.yaml
  pkg/abstract/primitive-maps.go
  pkg/crd/files/crds.yaml
  pkg/status/cel-evaluator.go
  pkg/status/combinedstatus-resolution.go
  pkg/status/combinedstatus-resolver.go
  pkg/status/combinedstatus.go
  pkg/status/controller.go
  pkg/status/workstatus.go
  pkg/util/object-identifier.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2329 🐛 Update pre-reqs.md to add links
  docs/content/direct/pre-reqs.md
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#2334 🐛 Update mkdocs.yml so that Releaes Testing is corrected to Release Testing
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2326 :sparkles: StatusCollector validation & error propagation to CR
  api/control/v1alpha1/types.go
  config/crd/bases/control.kubestellar.io_bindingpolicies.yaml
  config/crd/bases/control.kubestellar.io_combinedstatuses.yaml
  config/crd/bases/control.kubestellar.io_statuscollectors.yaml
  pkg/crd/files/crds.yaml
  pkg/status/cel-evaluator.go
  pkg/status/controller.go
  pkg/status/statuscollector.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2335 ✨ Create pr-signing.md, a guide for signing PRs
  docs/content/direct/pr-signing.md
Labels: approved, lgtm, size/L, ok-to-test, dco-signoff: yes

#2339 ✨ Update mkdocs.yml to add pr-signing doc to sidebar dropdown
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2330 📖 Start writing troubleshooting guide
  docs/content/direct/troubleshooting.md
  docs/content/direct/user-guide-intro.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2337 📖 Add multi-version warning to the header
  docs/mkdocs.yml
  docs/overrides/main.html
Labels: size/S, approved, lgtm, dco-signoff: yes

#2342 📖 Fix typo in nav tree that made broken link to troubleshooting
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2338 ✨ Introduce create-only bit in downsync API
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_bindingpolicies.yaml
  config/crd/bases/control.kubestellar.io_bindings.yaml
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy.go
  pkg/crd/files/crds.yaml
  pkg/transport/generic_transport_controller.go
  pkg/transport/generic_transport_controller_test.go
  pkg/transport/transport.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/integration/controller-manager/matching_test.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2345 🌱 Brush up language and offsets in ginkgo E2E test
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2346 ✨ Make the binding controller respect the create-only bit
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/bindingpolicy.go
  pkg/binding/selectors.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2172 ✨ Script to get CP contexts
  docs/content/direct/core-chart.md
  scripts/import-cp-contexts.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2347 ✨ Improve testability by allowing controllers to run independently
  cmd/controller-manager/main.go
  pkg/binding/binding.go
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/status/combinedstatus.go
  pkg/status/controller.go
  pkg/status/statuscollector.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2353 📖 Start documenting the create-only bit
  docs/content/direct/binding.md
  docs/content/direct/control.md
  docs/content/direct/release-notes.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2343 :sparkles: More combined status testing
  docs/content/direct/combined-status.md
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#2344 ✨ Support create-only in generic transport controller
  pkg/transport/generic_transport_controller.go
  pkg/transport/generic_transport_controller_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2354 :seedling: 🌱 other/misc Added create-kubestellar-demo-env script + Update script based on suggestions
  scripts/create-kubestellar-demo-env.sh
Labels: approved, lgtm, size/L, ok-to-test, dco-signoff: yes

#2359 🐛 Fix some new offset errors
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2358 📖 Update pre-reqs.md about container _images_
  docs/content/direct/pre-reqs.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2361 📖 Fix merge conflicts introduced by previous PR
  docs/content/direct/core-chart.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2341 📖 Brush up the doc on PR "signing"
  docs/content/direct/pr-signoff.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2363 🌱 Prep for release 0.24.0-alpha.1
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/content/direct/release.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2364 🌱 Fix goreleaser.yml and prep for release 0.24.0-alpha.2
  .github/workflows/goreleaser.yml
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2356 ✨ Test for status controller eventual consistency
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2357 ✨ Add monitoring tools (prometheus, pyroscope & grafana) for KS
  monitoring/cleanup.sh
  monitoring/configuration/ks-ctl-manager-sm.yaml
  monitoring/configuration/ks-ctl-manager-svc.yaml
  monitoring/configuration/ks-transport-ctl-sm.yaml
  monitoring/configuration/ks-transport-ctl-svc.yaml
  monitoring/configuration/kube-rbac-proxy-config.yaml
  monitoring/configuration/kube_rbac_svc-monitor.yaml
  monitoring/configuration/prometheus-wds-secret.yaml
  monitoring/configuration/wds-apiserver-sm.yaml
  monitoring/configure-metrics-tools.sh
  monitoring/grafana/datasources.yaml
  monitoring/images/kubestellar-architecture-aws.png
  monitoring/install-ks-monitoring.sh
  monitoring/monitoring.yaml
  monitoring/prometheus/prometheus-custom-values.yaml
  monitoring/prometheus/prometheus-rbac.yaml
  monitoring/roles/grafana/.travis.yml
  monitoring/roles/grafana/README.md
  monitoring/roles/grafana/defaults/main.yml
  monitoring/roles/grafana/handlers/main.yml
  monitoring/roles/grafana/meta/main.yml
  monitoring/roles/grafana/tasks/main.yml
  monitoring/roles/grafana/tests/inventory
  monitoring/roles/grafana/tests/test.yml
  monitoring/roles/grafana/vars/main.yml
  monitoring/roles/node-exporter/.travis.yml
  monitoring/roles/node-exporter/README.md
  monitoring/roles/node-exporter/defaults/main.yml
  monitoring/roles/node-exporter/files/main.yaml
  monitoring/roles/node-exporter/handlers/main.yml
  monitoring/roles/node-exporter/meta/main.yml
  monitoring/roles/node-exporter/tasks/main.yml
  monitoring/roles/node-exporter/templates/node_exporter.service.j2
  monitoring/roles/node-exporter/tests/inventory
  monitoring/roles/node-exporter/tests/test.yml
  monitoring/roles/node-exporter/vars/main.yml
  monitoring/roles/prometheus/.travis.yml
  monitoring/roles/prometheus/README.md
  monitoring/roles/prometheus/defaults/main.yml
  monitoring/roles/prometheus/handlers/main.yml
  monitoring/roles/prometheus/meta/main.yml
  monitoring/roles/prometheus/tasks/main.yml
  monitoring/roles/prometheus/templates/prometheus-agent-config.yaml.j2
  monitoring/roles/prometheus/templates/prometheus-agent.service.j2
  monitoring/roles/prometheus/templates/prometheus-config.yaml.j2
  monitoring/roles/prometheus/templates/prometheus.service.j2
  monitoring/roles/prometheus/tests/inventory
  monitoring/roles/prometheus/tests/test.yml
  monitoring/roles/prometheus/vars/main.yml
  monitoring/setup-shell.sh
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#2366 🌱 Wait properly for intended Deployment availability
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/M, dco-signoff: yes
