Repository kubestellar/kubestellar, pull requests merged in 2024-02, with the labels that each got.

#1667 🐛 added `WorkloadGeneration` field to the downsync objects section of PlacementDecision
  api/edge/v1alpha1/types.go
  config/crd/bases/edge.kubestellar.io_placementdecisions.yaml
  pkg/crd/files/edge.kubestellar.io_placementdecisions.yaml
Labels: approved, lgtm, size/M, dco-signoff: yes, pluggable-transport

#1669 📖 add architecture and user interaction docs
  .gitignore
  docs/content/v0.20/architecture.md
  docs/content/v0.20/high-level-architecture.png
  docs/content/v0.20/main-modules.png
  docs/content/v0.20/placement-controller.png
  docs/content/v0.20/png-files-readme.md
  docs/content/v0.20/status-controller.png
Labels: approved, lgtm, size/L, dco-signoff: yes

#1678 :sparkles: E2e tests for update/delete placement and workload
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/run-test.sh
  test/e2e/multi-cluster-deployment/update-delete.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#1664 🌱 Restore other docs-ecutable workflows for legacy releases, for release-0.14
  .github/workflows/docs-ecutable-mailbox.yml
  .github/workflows/docs-ecutable-placement.yml
  .github/workflows/docs-ecutable-qs.yml
  .github/workflows/docs-ecutable-syncer.yml
  .github/workflows/docs-ecutable-user-quickstart-kind.yml
  .github/workflows/docs-ecutable-where-resolver.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#1698 📖 clarification on architecture doc for ServerPreferredResources
  docs/content/v0.20/architecture.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1696 📖 Brush up packaging.md
  docs/content/v0.20/packaging.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1700 ✨ Rename the edge API group
  api/control/register.go
  api/control/v1alpha1/conditions.go
  api/control/v1alpha1/conditions_test.go
  api/control/v1alpha1/doc.go
  api/control/v1alpha1/groupversion_info.go
  api/control/v1alpha1/register.go
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  cmd/kubestellar-operator/main.go
  cmd/transport/base-controller.go
  config/crd/bases/control.kubestellar.io_placementdecisions.yaml
  config/crd/bases/control.kubestellar.io_placements.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_controlplanes.yaml
  config/crd/patches/webhook_in_controlplanes.yaml
  config/rbac/controlplane_editor_role.yaml
  config/rbac/controlplane_viewer_role.yaml
  config/samples/control_v1alpha1_placement.yaml
  config/samples/control_v1alpha1_placement2.yaml
  config/samples/kustomization.yaml
  docs/content/Contribution guidelines/operations/packaging-and-versioning.md
  docs/content/v0.20/examples.md
  pkg/client/client.go
  pkg/crd/crds.go
  pkg/crd/files/control.kubestellar.io_placementdecisions.yaml
  pkg/crd/files/control.kubestellar.io_placements.yaml
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/control_client.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/doc.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/doc.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_control_client.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_placement.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_placementdecision.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/placement.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/placementdecision.go
  pkg/generated/informers/externalversions/control/interface.go
  pkg/generated/informers/externalversions/control/v1alpha1/interface.go
  pkg/generated/informers/externalversions/control/v1alpha1/placement.go
  pkg/generated/informers/externalversions/control/v1alpha1/placementdecision.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/listers/control/v1alpha1/expansion_generated.go
  pkg/generated/listers/control/v1alpha1/placement.go
  pkg/generated/listers/control/v1alpha1/placementdecision.go
  pkg/placement/placement.go
  pkg/status/controller.go
  pkg/transport/generic_transport_controller.go
  pkg/util/labels.go
  pkg/util/unstructured.go
  test/e2e/multi-cluster-deployment/update-delete.sh
  test/e2e/multi-cluster-deployment/use-kubestellar.sh
  test/e2e/singleton-status/use-kubestellar.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#1709 🐛 remove "edge" leftovers
  cmd/transport/base-controller.go
  hack/update-codegen-crds.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1714 ✨ Let `make ko-build-local` produce platform-specific container image
  Makefile
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1718 🌱 Temporarily get back the 'edge.kubestellar.io' group for user examples
  docs/content/v0.20/examples.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1717 🌱 Changes to the Placement API
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_placements.yaml
  pkg/crd/files/control.kubestellar.io_placements.yaml
  pkg/placement/placement.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1719 ✨ Add some bearer token automation to inspect-image.py
  hack/inspect-image.py
Labels: approved, lgtm, size/M, dco-signoff: yes

#1681 ✨Implemented Placement-Decision Logic
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-singleton-status.yml
  pkg/crd/crds.go
  pkg/ocm/ocm.go
  pkg/placement/controller.go
  pkg/placement/crd.go
  pkg/placement/manifest.go
  pkg/placement/placement-decision.go
  pkg/placement/placement-resolution.go
  pkg/placement/placement-resolver.go
  pkg/placement/placement.go
  pkg/placement/selectors.go
  pkg/util/gvk-gvr-mapper.go
  pkg/util/keys.go
  pkg/util/labels.go
  pkg/util/unstructured.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes, pluggable-transport, phase1, ks-0.20-alpha-2

#1728 ✨ Improve post-test state dump
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-singleton-status.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#1735 ✨ First step to rename two Kinds in our API
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-singleton-status.yml
  api/control/v1alpha1/conditions.go
  api/control/v1alpha1/conditions_test.go
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  cmd/kubestellar-operator/main.go
  cmd/transport/base-controller.go
  config/crd/bases/control.kubestellar.io_bindingpolicies.yaml
  config/crd/bases/control.kubestellar.io_bindings.yaml
  config/samples/control_v1alpha1_placement.yaml
  config/samples/control_v1alpha1_placement2.yaml
  config/samples/kustomization.yaml
  pkg/binding/controller.go
  pkg/binding/crd.go
  pkg/binding/manifest.go
  pkg/binding/placement-decision.go
  pkg/binding/placement-resolution.go
  pkg/binding/placement-resolver.go
  pkg/binding/placement.go
  pkg/binding/selectors.go
  pkg/crd/crds.go
  pkg/crd/files/control.kubestellar.io_bindingpolicies.yaml
  pkg/crd/files/control.kubestellar.io_bindings.yaml
  pkg/generated/clientset/versioned/typed/control/v1alpha1/binding.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/bindingpolicy.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/control_client.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_binding.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_bindingpolicy.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_control_client.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_placement.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/fake/fake_placementdecision.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/placement.go
  pkg/generated/clientset/versioned/typed/control/v1alpha1/placementdecision.go
  pkg/generated/informers/externalversions/control/v1alpha1/binding.go
  pkg/generated/informers/externalversions/control/v1alpha1/bindingpolicy.go
  pkg/generated/informers/externalversions/control/v1alpha1/interface.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/listers/control/v1alpha1/binding.go
  pkg/generated/listers/control/v1alpha1/bindingpolicy.go
  pkg/generated/listers/control/v1alpha1/expansion_generated.go
  pkg/generated/listers/control/v1alpha1/placementdecision.go
  pkg/status/controller.go
  pkg/transport/generic_transport_controller.go
  pkg/util/keys.go
  pkg/util/labels.go
  pkg/util/unstructured.go
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/update-delete.sh
  test/e2e/multi-cluster-deployment/use-kubestellar.sh
  test/e2e/singleton-status/use-kubestellar.sh
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1733 :sparkles: deleted unused code
  go.mod
  pkg/binding/controller.go
  pkg/binding/crd.go
  pkg/binding/placement.go
  pkg/client/client.go
  pkg/status/controller.go
  pkg/util/kubeconfig.go
  pkg/util/labels.go
  pkg/util/unstructured.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1707 ✨ add startup option to select allowed resources
  cmd/kubestellar-operator/main.go
  config/default/manager_auth_proxy_patch.yaml
  core-helm-chart/templates/operator.yaml
  core-helm-chart/values.yaml
  pkg/binding/controller.go
  pkg/binding/crd.go
  pkg/binding/placement.go
  pkg/status/controller.go
  pkg/util/resources.go
  pkg/util/resources_test.go
  pkg/util/unstructured.go
Labels: approved, lgtm, size/L, dco-signoff: yes, phase1, ks-0.20-alpha.2

#1736 ✨ Add final state dump of Deployment objs in WEC(s)
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-singleton-status.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#1720 📖 updated architecture doc with pluggable-transport
  docs/content/v0.20/architecture.md
  docs/content/v0.20/high-level-architecture.png
  docs/content/v0.20/images/high-level-architecture.png
  docs/content/v0.20/images/main-modules.png
  docs/content/v0.20/images/placement-controller.png
  docs/content/v0.20/images/png-files-readme.md
  docs/content/v0.20/images/status-controller.png
  docs/content/v0.20/images/transport-controller.png
  docs/content/v0.20/main-modules.png
  docs/content/v0.20/status-controller.png
Labels: kind/documentation, approved, lgtm, size/L, dco-signoff: yes, pluggable-transport, ks-0.20, ks-0.20-alpha.2

#1738 ✨ add step to install post-install hooks in e2e tests and upgrade kflex to v0.4.2
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-singleton-status.yml
  docs/content/v0.20/pre-reqs.md
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#1723 📖 Extend packaging.md
  docs/content/v0.20/packaging.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1739 🐛 update ocm-status-addon chart reference to public ks repo
  docs/content/v0.20/examples.md
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1741 ✨ Context and Logging improvements
  cmd/kubestellar-operator/main.go
  core-helm-chart/templates/operator.yaml
  pkg/binding/controller.go
  pkg/binding/placement-decision.go
  pkg/binding/placement.go
  pkg/binding/selectors.go
  pkg/crd/crds.go
  pkg/status/controller.go
  pkg/util/keys.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1743 🐛 set c.allowedGroupsSet in NewController()
  pkg/binding/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1746 🐛 fix references to status addon chart
  docs/content/v0.20/examples.md
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1749 🐛 Fix env path and add +x
  hack/build-clusteradm-image.sh
  hack/build-helm-image.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1748 📖 Describe clusteradm in packaging.md
  docs/content/v0.20/packaging.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1751 🌱 move client options from cmd to options dir
  cmd/transport/options/options.go
  options/client-options.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1753 :sparkles: Initial Release limitations doc
  docs/content/v0.20/release-notes.md
Labels: size/S, approved, lgtm, dco-signoff: yes, ks-0.20-alpha.2

#1761 ✨ Second step to rename two Kinds in our API
  api/control/v1alpha1/groupversion_info.go
  api/control/v1alpha1/types.go
  cmd/transport/base-controller.go
  config/crd/bases/control.kubestellar.io_bindings.yaml
  docs/content/v0.20/README.md
  docs/content/v0.20/architecture.md
  docs/content/v0.20/images/binding-controller.png
  docs/content/v0.20/packaging.md
  pkg/binding/binding.go
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/binding/placement-decision.go
  pkg/binding/placement-resolver.go
  pkg/binding/selectors.go
  pkg/crd/files/control.kubestellar.io_bindings.yaml
  pkg/status/controller.go
  pkg/transport/generic_transport_controller.go
  pkg/util/keys.go
  pkg/util/labels.go
  pkg/util/unstructured.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1762 📖 Tweak go doc comments for the binding API
  api/control/v1alpha1/types.go
  config/crd/bases/control.kubestellar.io_bindings.yaml
  pkg/crd/files/control.kubestellar.io_bindings.yaml
Labels: size/S, approved, lgtm, dco-signoff: yes

#1763 ✨ update references to status addon
  docs/content/v0.20/examples.md
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1752 🐛 add informer on managedclusters
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/ocm/ocm.go
  pkg/util/labels.go
  test/e2e/multi-cluster-deployment/update-delete.sh
Labels: approved, lgtm, size/L, dco-signoff: yes, ks-0.20

#1768 ✨ Change the explicitly coded API group for WorkStatus
  pkg/util/unstructured.go
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1767 🌱 Refactor and rename common part of transport controller
  docs/content/v0.20/architecture.md
  pkg/transport/cmd/generic-main.go
  pkg/transport/cmd/options.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1757 📖 Further updates to packaging.md
  docs/content/v0.20/packaging.md
Labels: size/S, approved, lgtm, dco-signoff: yes, ks-0.20

#1770 🐛 Remove troublesome quoting
  test/e2e/multi-cluster-deployment/update-delete.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1773 🐛 Put -v in kustomize YAML for the Helm chart
  config/default/manager_auth_proxy_patch.yaml
  config/manager/manager.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1774 🌱 Fix a typo (and replace it) for the binding controller
  pkg/binding/bindingpolicy.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1776 🌱 Refactor binding controller to make it testable
  cmd/kubestellar-operator/main.go
  pkg/binding/controller.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1777 🌱 Made API registration work for plain as well as controller-runtime
  api/control/v1alpha1/groupversion_info.go
  api/control/v1alpha1/register.go
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1778 🌱 Add more debug logging in binding controller
  pkg/binding/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1775 ✨ Start unit test of binding controller, using fake clientsets
  pkg/binding/controller.go
  pkg/binding/controller_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1771 ✨ harmonizing controller-manager name
  Makefile
  chart/.helmignore
  chart/Chart.yaml
  chart/templates/NOTES.txt
  chart/templates/_helpers.tpl
  chart/templates/controller-manager.yaml
  chart/values.yaml
  cmd/controller-manager/main.go
  config/manager/kustomization.yaml
  config/postcreate-hooks/kubestellar.yaml
  core-helm-chart/Chart.yaml
  core.Dockerfile
  docs/content/v0.20/examples.md
  docs/content/v0.20/packaging.md
  scripts/add-helm-code.sh
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1782 🐛 Update E2E test workflows with right go version
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-singleton-status.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1789 ✨ Add some more error wrapping
  pkg/binding/bindingpolicy.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1783 🐛 e2e tests should not check internal objects
  test/e2e/multi-cluster-deployment/update-delete.sh
  test/e2e/multi-cluster-deployment/use-kubestellar.sh
  test/e2e/singleton-status/use-kubestellar.sh
Labels: approved, lgtm, size/M, dco-signoff: yes, ks-0.20

#1787 📖 Note dependency cycle between ks/ks and ks/OTP
  docs/content/v0.20/packaging.md
Labels: size/S, approved, lgtm, dco-signoff: yes, MCAD integration

#1795 ✨ Generalize existing E2E tests over local vs released
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-singleton-status.yml
  config/postcreate-hooks/kubestellar.yaml
  docs/content/v0.20/examples.md
  test/e2e/common/setup-kubestellar.sh
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/run-test.sh
  test/e2e/singleton-status/README.md
  test/e2e/singleton-status/run-test.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#1796 🌱 Tweak KCM PCH for release 0.20.0-rc2
  config/postcreate-hooks/kubestellar.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1797 📖 update examples.md for v0.20.0-rc2
  docs/content/v0.20/example-wecs.md
  docs/content/v0.20/examples.md
  docs/content/v0.20/thirdparties.md
Labels: approved, lgtm, size/L, dco-signoff: yes, MCAD integration

#1798 📖 Start v020 user guide
  docs/content/v0.20/README.md
  docs/content/v0.20/examples.md
  docs/content/v0.20/user-guide.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1758 📖 Start drafting release process
  docs/content/v0.20/README.md
  docs/content/v0.20/release.md
Labels: approved, lgtm, size/L, dco-signoff: yes, MCAD integration, switch to PT

#1800 📖 Slightly freshen release-notes.md
  docs/content/v0.20/release-notes.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1801 ✨ Update KCM PCH for coming release 0.20.0
  config/postcreate-hooks/kubestellar.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1799 📖 Make examples.md reference its own release instead of a past one
  docs/content/v0.20/examples.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1802 📖 Update ersatz latest reference for coming 0.20.0
  docs/content/v0.20/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1805 🌱 Factor discovery out of the generic transport controller
  pkg/transport/generic_transport_controller.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1804 🐛 Exclude groups rather than groupVersions to watch
  pkg/binding/controller.go
  pkg/binding/crd.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1807 :sparkles: Update references to status addon v0.2.0-rc3
  docs/content/v0.20/examples.md
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1780 🌱 run transport controller in e2e tests
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-singleton-status.yml
  test/e2e/common/cleanup.sh
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/M, dco-signoff: yes, switch to PT

#1779 ✨ enable local image and chart
  Makefile
  scripts/add-helm-code.sh
Labels: approved, lgtm, size/M, dco-signoff: yes, switch to PT

#1765 ✨ Switch to using pluggable transport (disables old transport-in-placement code)
  api/control/v1alpha1/types.go
  config/crd/bases/control.kubestellar.io_bindingpolicies.yaml
  docs/content/v0.20/architecture.md
  docs/content/v0.20/images/binding-controller.png
  docs/content/v0.20/images/main-modules.png
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/binding/crd.go
  pkg/binding/manifest.go
  pkg/binding/selectors.go
  pkg/crd/files/control.kubestellar.io_bindingpolicies.yaml
  pkg/status/controller.go
  pkg/util/labels.go
  pkg/util/unstructured.go
  test/e2e/multi-cluster-deployment/use-kubestellar.sh
Labels: approved, lgtm, size/XL, dco-signoff: yes, pluggable-transport, switch to PT

#1806 ✨ Add unit test of generic transport controller
  pkg/transport/generic_tranpsort_controller_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1808 📖 updated how to run transport controller in example.md
  docs/content/v0.20/examples.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1811 🌱 Make transport-controller -v=4 in E2E tests
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1769 ✨ Add integration test for binding controller, using test server
  Makefile
  docs/content/v0.20/README.md
  docs/content/v0.20/contributor.md
  go.mod
  go.sum
  pkg/crd/crds.go
  pkg/util/m-r-object.go
  test/integration/controller-manager/matching_test.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes, end-of-march

#1813 📖 fixed minor issues in example.md
  docs/content/v0.20/examples.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1817 📖 Some overdue documentation updates
  docs/content/v0.20/README.md
  docs/content/v0.20/contributor.md
  docs/content/v0.20/packaging.md
  docs/content/v0.20/release.md
  test/e2e/README.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1784 ✨ Run the integration test in CI
  .github/workflows/pr-test-integration.yml
  .gitignore
  docs/content/v0.20/contributor.md
  hack/run-integration-tests.sh
  test/integration/controller-manager/matching_test.go
Labels: approved, lgtm, size/M, dco-signoff: yes, end-of-march

#1810 🐛 Add `go mod tidy` when building possibly-new integration
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes, end-of-march

#1819 🌱 Fetch and use right etcd for platform
  hack/run-integration-tests.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1818 ✨ Add TestMain in pkg/transport
  pkg/transport/generic_tranpsort_controller_test.go
Labels: size/XS, approved, lgtm, dco-signoff: yes, end-of-march

#1824 🌱 added e2e to test service distribution
  .github/workflows/pr-test-object-fields-filtering.yml
  test/e2e/object-fields-filtering/README.md
  test/e2e/object-fields-filtering/run-test.sh
  test/e2e/object-fields-filtering/use-kubestellar.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#1827 🌱 remove unused functions from pkg/ocm
  pkg/ocm/ocm.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1823 🐛 Fix downsync
  hack/run-integration-tests.sh
  pkg/binding/binding.go
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/binding/selectors.go
  test/integration/controller-manager/matching_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1830 📖 Hack out old website contents, move new docs
  README.md
  docs/content/Contribution guidelines/CONTRIBUTING.md
  docs/content/direct/README.md
  docs/content/direct/architecture.md
  docs/content/direct/contributor.md
  docs/content/direct/example-wecs.md
  docs/content/direct/examples.md
  docs/content/direct/images/binding-controller.png
  docs/content/direct/images/high-level-architecture.png
  docs/content/direct/images/main-modules.png
  docs/content/direct/images/png-files-readme.md
  docs/content/direct/images/status-controller.png
  docs/content/direct/images/transport-controller.png
  docs/content/direct/packaging.md
  docs/content/direct/pre-reqs.md
  docs/content/direct/release-notes.md
  docs/content/direct/release.md
  docs/content/direct/thirdparties.md
  docs/content/direct/user-guide.md
  docs/content/readme.md
  docs/mkdocs.yml
  docs/overrides/home.html
Labels: approved, lgtm, size/L, dco-signoff: yes

#1835 :sparkles: Remove legacy workflows
  .github/workflows/create kubestellar syncer image.yml
  .github/workflows/docs-ecutable-ALL.yml
  .github/workflows/docs-ecutable-example1.yml
  .github/workflows/docs-ecutable-mailbox.yml
  .github/workflows/docs-ecutable-placement.yml
  .github/workflows/docs-ecutable-qs.yml
  .github/workflows/docs-ecutable-scheduler.yml
  .github/workflows/docs-ecutable-syncer.yml
  .github/workflows/docs-ecutable-user-quickstart-kind.yml
  .github/workflows/docs-ecutable-user-quickstart-test.yml
  .github/workflows/docs-ecutable-where-resolver.yml
Labels: approved, lgtm, dco-signoff: yes, switch to PT

#1837 🐛 replaced wget with curl in e2e setup
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1829 🐛 Add cleaning for Job objects
  pkg/transport/filtering/job.go
  pkg/transport/filtering/object_filtering_map.go
  pkg/transport/filtering/service.go
  test/e2e/README.md
  test/e2e/object-fields-filtering/use-kubestellar.sh
Labels: approved, lgtm, size/L, dco-signoff: yes, switch to PT
