Repository kubestellar/kubestellar, pull requests merged in 2024-03, with the labels that each got.

#1836 :sparkles: flatten Binding API
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_bindings.yaml
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/controller_test.go
  pkg/crd/files/control.kubestellar.io_bindings.yaml
  pkg/transport/generic_tranpsort_controller_test.go
  pkg/transport/generic_transport_controller.go
  test/integration/controller-manager/matching_test.go
Labels: approved, lgtm, size/XL, dco-signoff: yes, pluggable-transport, switch to PT

#1828 ✨ Handle CRDs at scale
  pkg/binding/controller.go
  pkg/binding/crd.go
  pkg/util/resources.go
  pkg/util/resources_test.go
  test/integration/controller-manager/crd-handling_test.go
Labels: approved, lgtm, size/XL, dco-signoff: yes, end-of-march, switch to PT

#1842 🌱 Delete controller_test.go because it is pointless
  pkg/binding/controller_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1831 :sparkles: reworked util.Key and the flow of the Binding controller
  config/default/manager_auth_proxy_patch.yaml
  pkg/binding/binding.go
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/binding/crd.go
  pkg/binding/selectors.go
  pkg/status/controller.go
  pkg/util/gvk-gvr-mapper.go
  pkg/util/gvk-obj-ref.go
  pkg/util/keys.go
  pkg/util/labels.go
  pkg/util/object-identifier.go
  pkg/util/unstructured.go
  test/integration/controller-manager/crd-handling_test.go
  test/integration/controller-manager/matching_test.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes, pluggable-transport, switch to PT

#1846 :sparkles: Reduce agent footprint for OCM transport
  docs/content/direct/example-wecs.md
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1848 :sparkles: binding controller code improvements
  cmd/controller-manager/main.go
  config/default/manager_auth_proxy_patch.yaml
  go.mod
  pkg/binding/binding.go
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/binding/crd.go
  pkg/binding/selectors.go
  pkg/status/controller.go
  pkg/transport/generic_transport_controller_test.go
  pkg/util/gvk-gvr-mapper.go
  pkg/util/labels.go
  pkg/util/object-identifier.go
  test/integration/controller-manager/crd-handling_test.go
  test/integration/controller-manager/matching_test.go
Labels: approved, lgtm, size/XL, dco-signoff: yes, end-of-march

#1854 ✨ Use descriptive placeholder instead of obsolete tags
  chart/templates/controller-manager.yaml
  config/manager/kustomization.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1871 :sparkles: Add arch doc into doc site
  docs/content/direct/architecture.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#1874 :bug: fix
  docs/content/direct/architecture.md
Labels: size/XS, dco-signoff: yes

#1870 :bug: undo the assumption of individual delta events in binding controller
  pkg/binding/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes, Don't merge - Code freeze

#1875 :sparkles: Don't run tests when docs are changed
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-object-fields-filtering.yml
  .github/workflows/pr-test-singleton-status.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1876 :sparkles: try using caption plugin
  docs/content/direct/architecture.md
  docs/mkdocs.yml
  docs/requirements.txt
Labels: size/XS, dco-signoff: yes

#1877 :sparkles: fix actions
  .github/workflows/pr-test-integration.yml
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-object-fields-filtering.yml
  .github/workflows/pr-test-singleton-status.yml
Labels: size/S, dco-signoff: yes

#1878 :sparkles: fix image captions
  docs/content/direct/architecture.md
Labels: size/XS, dco-signoff: yes

#1880 :sparkles: fix actions
  .github/workflows/pr-test-integration.yml
Labels: size/XS, dco-signoff: yes

#1881 :sparkles: Make images work both on web site and on MD files
  docs/content/direct/architecture.md
Labels: size/S, dco-signoff: yes

#1884 :bug: fix Binding cluster selection implementation
  pkg/ocm/ocm.go
  test/e2e/multi-cluster-deployment/update-delete.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1885 🌱 removed unused code
  pkg/binding/controller.go
  pkg/ocm/ocm.go
  pkg/util/unstructured.go
Labels: approved, lgtm, size/L, dco-signoff: yes, Don't merge - Code freeze

#1858 🌱 Some follow-up changes after PR1828
  pkg/binding/controller.go
Labels: size/S, approved, lgtm, dco-signoff: yes, Don't merge - Code freeze

#1859 ✨ Update matching test to iterate
  hack/run-integration-tests.sh
  pkg/abstract/slices.go
  test/integration/controller-manager/matching_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1890 🐛 Add pre req check in some e2e scripts
  scripts/add-helm-code.sh
  test/e2e/common/setup-kubestellar.sh
  test/e2e/multi-cluster-deployment/run-test.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#1889 📖 prep for release 0.21.0-rc1
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
  docs/content/direct/release-notes.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1891 📖 Update some docs
  docs/content/direct/contributor.md
  docs/content/direct/release.md
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/run-test.sh
  test/e2e/object-fields-filtering/run-test.sh
  test/e2e/singleton-status/README.md
  test/e2e/singleton-status/run-test.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1888 ✨ Improve the Status Controller
  cmd/controller-manager/main.go
  pkg/binding/controller.go
  pkg/status/controller.go
  pkg/util/unstructured.go
  test/integration/controller-manager/crd-handling_test.go
  test/integration/controller-manager/matching_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1895 📖 prep of 0.21.0 rc2
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
  docs/content/direct/release-notes.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1896 📖 Rename 'object fields filtering' to 'object cleaning' in tests
  .github/workflows/pr-test-object-cleaning.yml
  .gitignore
  test/e2e/README.md
  test/e2e/object-cleaning/README.md
  test/e2e/object-cleaning/run-test.sh
  test/e2e/object-cleaning/use-kubestellar.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1898 🌱 Remove irrelevant hostAliases for transport-controller pod
  scripts/deploy-transport-controller.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1899 📖 Fix doc bugs just found
  docs/content/direct/README.md
  docs/content/direct/examples.md
  docs/content/direct/release-notes.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1713 ✨ add e2e tests on the ginkgo framework
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-object-cleaning.yml
  .github/workflows/pr-test-singleton-status.yml
  go.mod
  go.sum
  test/e2e/README.md
  test/e2e/common/setup-kubestellar.sh
  test/e2e/ginkgo/README.md
  test/e2e/ginkgo/ginkgo_suite_test.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes, end-of-march

#1902 🌱 Reduce E2E testing in bash, restore remaineder to CI
  .github/workflows/pr-test-e2e.yml
  test/e2e/README.md
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/run-test.sh
  test/e2e/multi-cluster-deployment/update-delete.sh
  test/e2e/object-cleaning/README.md
  test/e2e/object-cleaning/run-test.sh
  test/e2e/object-cleaning/use-kubestellar.sh
  test/e2e/singleton-status/README.md
  test/e2e/singleton-status/run-test.sh
  test/e2e/singleton-status/use-kubestellar.sh
Labels: approved, lgtm, size/XL, dco-signoff: yes

#1903 🌱 Update ocm-status-addon dependency from rc3 to rc6
  docs/content/direct/examples.md
  docs/content/direct/packaging.md
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1904 🌱 Update self-references for release 0.21.0-rc3
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1906 📖 Fix problems in examples.md
  docs/content/direct/examples.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1905 📖 Remove use of `watch` command in example-wecs.md
  docs/content/direct/example-wecs.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1907 🌱 Remove obsolete command from E2E cleanup script
  test/e2e/common/cleanup.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1910 📖 Update doc pointers in README
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes, 0.21.0

#1909 ✨ Update self-references for release 0.21.0
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
Labels: size/XS, approved, lgtm, dco-signoff: yes, 0.21.0

#1912 :bug: fix links to images
  docs/content/readme.md
Labels: size/XS, dco-signoff: yes

#1869 :bug: fix race-conditions over Binding controller field maps
  pkg/binding/bindingpolicy.go
  pkg/binding/controller.go
  pkg/binding/crd.go
  pkg/status/controller.go
  pkg/util/concurrent-map.go
  test/integration/controller-manager/crd-handling_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1919 :sparkles: Update site
  docs/content/direct/contributor.md
  docs/content/direct/images/construction.png
  docs/content/direct/pre-reqs.md
  docs/content/direct/release.md
  docs/mkdocs.yml
Labels: size/L, dco-signoff: yes

#1927 📖 Reorg to one branch for contributors
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#1921 🌱 Make unit tests not require envtest
  Makefile
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1911 ✨ remove make test from make ko-build-local
  Makefile
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1931 🐛 Clean metadata.generateName in workload objects before wrapping
  pkg/transport/generic_transport_controller.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1935 📖 Increase indenting to please Python-markdown
  docs/content/direct/example-wecs.md
  docs/content/direct/examples.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1938 🐛 change a reconcile log message text and level
  pkg/binding/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1933 🐛 Replace include statement with sylink, so fragment refs work
  GOVERNANCE.md
  docs/content/Contribution guidelines/governance.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1943 :sparkles: Change readme to reflect the KubeCon slides
  docs/content/images/kubestellar-high-level.png
  docs/content/readme.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1939 :bug: Add support for mermaid diagrams
  docs/mkdocs.yml
  docs/requirements.txt
Labels: size/XS, approved, lgtm, dco-signoff: yes, 1-April-2024

#1941 🌱 bump OTP version
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1946 📖 Fix root README
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1944 :sparkles: New release - 0.21.1
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
  docs/content/direct/release-notes.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1949 📖 Stable is release-0.21.1
  docs/overrides/main.html
  docs/scripts/deploy-docs.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#1948 📖 Remove confusion between "latest" and "stable"
  docs/overrides/main.html
Labels: size/XS, do-not-merge, dco-signoff: yes

#1952 🐛 Improve test/e2e/ginkgo and its README
  .github/workflows/pr-test-e2e.yml
  test/e2e/ginkgo/README.md
  test/util/util.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1900 :sparkles: Set the singleton status label value to be true or false
  pkg/binding/selectors.go
  pkg/status/controller.go
  pkg/util/labels.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1957 🐛 Fixup resiliency testing
  .github/workflows/pr-test-e2e.yml
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1961 :bug: Unify the README files on kubestellar.io and on kubestellar github
  README.md
  docs/content/readme.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1962 :sparkles: Add and rearrange some sections in kubestellar.io
  docs/content/direct/hosting-cluster.md
  docs/content/direct/ks-on-k3d.md
  docs/content/direct/ks-on-kind.md
  docs/content/direct/ks-on-ocp.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#1937 :bug: Filter and update status if not subresource
  pkg/status/controller.go
  pkg/transport/generic_transport_controller.go
  pkg/util/unstructured.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1970 🌱 Updates to catch up with changes from GVK to GVR
  docs/content/direct/architecture.md
  pkg/binding/crd.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1969 🐛 remove CRDs from Helm chart
  Makefile
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1959 :book: Describe how to deploy KubeStellar on K3D-based hub and wec clusters
  docs/content/direct/deploy-on-k3d.md
Labels: approved, lgtm, size/L, ok-to-test, dco-signoff: yes

#1968 :book: Update architecture doc
  docs/content/direct/architecture.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1975 ✨ Self reference and related prep for release 0.21.2-rc1
  config/postcreate-hooks/kubestellar.yaml
  docs/content/direct/README.md
  docs/content/direct/examples.md
  docs/content/direct/release-notes.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1947 ✨ Script to build kubectl image
  hack/Dockerfile.kubectl
  hack/build-kubectl-image.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#1967 ✨ e2e tests for the latest release
  .github/workflows/test-latest-release.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#1963 ✨ Optimizations against client-side throttling
  cmd/controller-manager/main.go
  pkg/binding/controller.go
  pkg/client/client.go
  pkg/crd/crds.go
  pkg/util/unstructured.go
  test/integration/controller-manager/crd-handling_test.go
  test/integration/controller-manager/matching_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1979 📖 Add recent stuff to packaging.md
  docs/content/direct/packaging.md
Labels: size/XS, approved, lgtm, dco-signoff: yes, 1-April-2024

#1974 🐛 Make CleanupWDS use retry loops
  .github/workflows/pr-test-e2e.yml
  test/util/util.go
Labels: approved, lgtm, size/L, dco-signoff: yes, 1-April-2024

#1978 📖 Catch-up for the relase process doc
  docs/content/direct/release.md
Labels: approved, lgtm, size/M, dco-signoff: yes, 1-April-2024

#1980 :book: Move k3d doc to the correct place
  docs/content/direct/ks-on-k3d.md
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1983 📖 Fix a bunch of broken links in docs
  docs/content/direct/README.md
  docs/content/direct/architecture.md
  docs/content/direct/contributor.md
  docs/content/direct/deploy-on-k3d.md
  docs/content/direct/examples.md
  docs/content/direct/packaging.md
  docs/content/direct/release.md
  docs/content/docs-readme.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/M, dco-signoff: yes, 1-April-2024

#1989 🐛 Fix more broken links
  GOVERNANCE.md
  docs/content/docs-readme.md
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes
