Repository kubestellar/kubestellar, pull requests merged in 2024-09, with the labels that each got.

#2426 :book: update requirements.txt for Materials for MKDocs theme to properly support light/dark autoswitching
  docs/requirements.txt
Labels: size/S, approved, lgtm, dco-signoff: yes

#2428 📖 Update doc wrt OTP partial move already done
  docs/content/direct/packaging.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2419 🐛 Fix concurrency bugs, stop copying binding resolutions
  pkg/abstract/map-lock.go
  pkg/abstract/map-map.go
  pkg/abstract/map.go
  pkg/abstract/primitive-map-as-map.go
  pkg/abstract/primitive-map-ops.go
  pkg/binding/bindingpolicy-resolution-broker.go
  pkg/binding/bindingpolicy-resolution.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/controller.go
  pkg/status/binding.go
  pkg/status/combinedstatus-resolver.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/e2e/performance/perf_test.go
  test/util/util.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2434 🌱 Use OTC Helm chart from ks/ks instead of ks/OTP
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
  config/postcreate-hooks/kubestellar.yaml
  core-chart/templates/postcreatehooks/wds.yaml
  core-chart/values.yaml
  docs/content/direct/packaging.md
  docs/content/direct/release-notes.md
  docs/content/direct/release.md
  docs/mkdocs.yml
  ocm-transport-controller-chart/.helmignore
  ocm-transport-controller-chart/Chart.yaml
  ocm-transport-controller-chart/templates/controller.yaml
  ocm-transport-controller-chart/values.yaml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2429 🌱 Make ks/ks build transport controller container image
  .goreleaser.yaml
  docs/content/direct/packaging.md
Labels: size/M, dco-signoff: yes

#2432 📖 Track 'Getting Started' changes into packaging.md
  docs/content/direct/packaging.md
Labels: size/S, dco-signoff: yes

#2430 ✨ Add Transport Controller Bundling parameters to the Helm chart
  core-chart/templates/postcreatehooks/wds.yaml
  core-chart/values.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2441 🐛 Update goreleaser to track Makefile change
  .github/workflows/goreleaser.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2443 ✨ Update self-references for 0.24.0-rc.1 release
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2444 🌱 Upgrade to ks/ocm-status-addon release 0.2.0-rc11
  config/postcreate-hooks/ocm.yaml
  core-chart/values.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2442 ✨ Expose verbosity controls from kubestellar PCH
  chart/values.yaml
  config/postcreate-hooks/kubestellar.yaml
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2446 🐛 Update the kubeflex version in the GitHub workflows
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2447 ✨ Update self-references for release 0.24.0
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
  oldocs/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2448 :book: Fix call to mermaid to allow it to change colors when website theme toggles dark/light
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2449 🌱 Facilitate image loading on k3d
  Makefile
  pkg/status/workstatus.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#2416 ✨ Collect the creation & update timestamps for KS sample workload
  test/performance/README.md
  test/performance/kshelper.py
  test/performance/metrics_collector.py
  test/performance/requirements.txt
  test/performance/workloads/cluster-density-k8s/bindingPolicy.yaml
  test/performance/workloads/cluster-density-ocp/bindingPolicy.yaml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2451 ✨ Stop scheduling
  api/control/v1alpha1/conditions.go
  api/control/v1alpha1/conditions_test.go
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_bindingpolicies.yaml
  pkg/binding/binding.go
  pkg/binding/bindingpolicy-resolver.go
  pkg/binding/bindingpolicy.go
  pkg/crd/files/crds.yaml
  pkg/status/singletonstatus.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2450 🐛 Correct aggregation of zero rows
  api/control/v1alpha1/types.go
  config/crd/bases/control.kubestellar.io_statuscollectors.yaml
  pkg/crd/files/crds.yaml
  pkg/status/combinedstatus-resolution.go
  pkg/status/combinedstatus-resolver.go
  pkg/status/workstatus.go
  pkg/util/log-wrappers.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2454 📖 Updated grammar in docs get started
  docs/content/direct/get-started.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2453 🌱 Give binding and status controller files distinct names
  pkg/binding/binding-controller.go
  pkg/status/status-controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2456 🐛 Fix spelling of PropagationData in the API
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2460 🐛 Make WorkStatus event handlers check WDS name
  pkg/status/status-controller.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#2459 ✨ Adding Poisson tunning set for workload generation
  test/performance/README.md
  test/performance/workloads/performance-test-config.yaml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2468 🐛 Upgrade OSA dependency to release 0.2.0-rc12
  config/postcreate-hooks/ocm.yaml
  core-chart/values.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2471 ✨ Add monitoring local stuff to .gitignore
  .gitignore
Labels: size/XS, approved, lgtm, dco-signoff: yes
