Repository kubestellar/kubestellar, pull requests merged in 2024-01, with the labels that each got.

#1491 ✨ update quickstart text
  docs/content/Getting-Started/quickstart-subs/quickstart-1-install-and-run-kubestellar.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1505 ✨ Use prebuilt images for kube-bind related binaries
  core.Dockerfile
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-provider.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1506 ✨ kube-bind is in-cluster when called from mailbox-controller
  cmd/mailbox-controller/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1489 🌱 removed the use of ObjectMeta directly in space-framework (part2)
  space-framework/pkg/space-manager/reconcile_space.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1507 :book: Text changes in the example1 subs
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-post-provider.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1511 ✨ add contributor to README
  README.md
Labels: size/S, approved, lgtm, needs-ok-to-test, dco-signoff: yes

#1513 📖 rename v0.2 in docs/content to v0.20
  docs/content/v0.20/README.md
  docs/content/v0.20/thirdparties.md
Labels: size/XS, dco-signoff: yes

#1509 ✨ Use cross-compilation to speed up core image build
  core.Dockerfile
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1518 ✨ Update README.md
  README.md
Labels: size/S, approved, lgtm, dco-signoff: yes, ks-0.20

#1522 🐛 Download yq for specific target platform
  core.Dockerfile
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1510 ✨ update user-quickstart-kind
  docs/content/Getting-Started/user-quickstart-kind.md
  docs/content/common-subs/brew-install.md
  docs/content/common-subs/brew-remove.md
  docs/content/common-subs/kubestellar-prep-syncer.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1527 🐛 fix makefile for missing lint command
  Makefile
  hack/logcheck.out
  hack/verify-contextual-logging.sh
  scripts/add-helm-code.sh
Labels: size/M, dco-signoff: yes

#1523 🐛 Fix cross-complie for innerbuild
  core.Dockerfile
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1529 🐛 fix prow checks
  .prow.yaml
  Makefile
  api/v1alpha1/conditions.go
  api/v1alpha1/conditions_test.go
  cmd/kubestellar-operator/main.go
  go.mod
  go.sum
  pkg/client/client.go
  pkg/crd/crds.go
  pkg/ocm/ocm.go
  pkg/placement/controller.go
  pkg/placement/manifest.go
  pkg/placement/placement.go
  pkg/status/controller.go
  pkg/util/kubeconfig.go
  pkg/util/unstructured.go
Labels: size/L, dco-signoff: yes, ks-0.20

#1525 ⚠️ Partially converge old and new placement Kinds
  api/v1alpha1/placement_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/edge.kubestellar.io_placements.yaml
  pkg/crd/files/edge.kubestellar.io_placements.yaml
  pkg/placement/placement.go
  pkg/placement/selectors.go
Labels: approved, lgtm, size/L, dco-signoff: yes, ks-0.20

#1556 ✨ add commands to build and publish image and chart to makefile
  .gitignore
  Makefile
  config/manager/kustomization.yaml
  core-helm-chart/templates/operator.yaml
Labels: approved, lgtm, size/M, dco-signoff: yes

#1552 🌱 Clarify helm tweak
  scripts/add-helm-code.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes, ks-0.20

#1546 🐛 Update examples to track Placement schema change
  docs/content/v0.20/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes, ks-0.20

#1559 :sparkles: pr flow
  .github/workflows/pr-test.yml
Labels: size/M, dco-signoff: yes

#1560 :sparkles: initial flow
  .github/workflows/pr-test.yml
Labels: size/M, dco-signoff: yes

#1551 ✨ end to end test for ks-0.20
  test/integration/multi-cluster-deployment/cleanup.sh
  test/integration/multi-cluster-deployment/run-test.sh
  test/integration/multi-cluster-deployment/setup-kubestellar.sh
  test/integration/multi-cluster-deployment/workload-deployment.sh
  test/pre-reqs.md
Labels: approved, lgtm, size/L, dco-signoff: yes, ks-0.20

#1563 ✨ update pre-req and create README for PR test
  test/integration/multi-cluster-deployment/README.md
  test/integration/multi-cluster-deployment/setup-kubestellar.sh
  test/pre-reqs.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#1565 ✨ pipe kflex output to /dev/null
  test/integration/multi-cluster-deployment/setup-kubestellar.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes, ks-0.20

#1566 ✨ fix a couple of issues in the README.md for pr test
  test/integration/multi-cluster-deployment/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes, ks-0.20

#1568 🐛 Some fixes to function names and typos
  pkg/ocm/ocm.go
  pkg/placement/controller.go
  pkg/placement/manifest.go
  scripts/add-helm-code.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#1550 📖 Add more explanation in docs/README.md
  docs/README.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1569 📖 Make status of documents explicit.
  README.md
  docs/content/v0.20/README.md
  test/integration/multi-cluster-deployment/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1548 🌱 Remove the hidden-but-executed commands from docs
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-2.md
  docs/content/Coding Milestones/PoC2023q1/example1-subs/example1-stage-4.md
  docs/content/Coding Milestones/PoC2023q1/kubestellar-syncer-subs/kubestellar-syncer-1-syncer-gen-plugin.md
  docs/content/common-subs/brew-install.md
  docs/content/common-subs/brew-remove.md
  docs/content/common-subs/check-command-syncerconfig-the-one.md
  docs/content/common-subs/kubestellar-check-syncers.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1571 🌱 Rename test/integration to test/e2e
  .github/workflows/pr-test.yml
  README.md
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/cleanup.sh
  test/e2e/multi-cluster-deployment/run-test.sh
  test/e2e/multi-cluster-deployment/setup-kubestellar.sh
  test/e2e/multi-cluster-deployment/workload-deployment.sh
  test/pre-reqs.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1572 🌱 Brushup e2e 1
  Makefile
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/cleanup.sh
  test/e2e/multi-cluster-deployment/run-test.sh
  test/e2e/multi-cluster-deployment/setup-kubestellar.sh
  test/e2e/multi-cluster-deployment/workload-deployment.sh
Labels: approved, lgtm, size/M, dco-signoff: yes, ks-0.20

#1573 🌱 Add singleton test
  .github/workflows/pr-test-singleton-status.yml
  README.md
  test/e2e/singleton-status/README.md
  test/e2e/singleton-status/cleanup.sh
  test/e2e/singleton-status/run-test.sh
  test/e2e/singleton-status/setup-kubestellar.sh
  test/e2e/singleton-status/workload-deployment.sh
Labels: approved, lgtm, size/L, dco-signoff: yes, ks-0.20

#1549 🌱 Add option to execute HTML
  .github/workflows/docs-ecutable-example1.yml
  Makefile
  docs/README.md
  docs/mkdocs.yml
  docs/scripts/execute-html.sh
  docs/scripts/extract-bash.py
Labels: approved, lgtm, size/L, dco-signoff: yes

#1528 🌱 Remove some string encoding and parsing
  pkg/placement/controller.go
  pkg/status/controller.go
  pkg/util/keys.go
Labels: approved, lgtm, size/M, dco-signoff: yes, ks-0.20

#1576 📖 update v0.20/README.md for all scenarios to work with latest builds
  Makefile
  README.md
  config/manager/kustomization.yaml
  config/postcreate-hooks/kubestellar.yaml
  config/postcreate-hooks/ocm.yaml
  core-helm-chart/templates/operator.yaml
  docs/content/v0.20/README.md
  docs/content/v0.20/thirdparties.md
  test/pre-reqs.md
Labels: approved, lgtm, size/L, dco-signoff: yes, ks-0.20

#1583 🐛 Replace references to ks-0.20 with main
  .github/workflows/pr-test-singleton-status.yml
  .github/workflows/pr-test.yml
  README.md
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/run-test.sh
  test/e2e/singleton-status/run-test.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#1586 :bug: Update add-to-project.yml
  .github/workflows/add-to-project.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes, phase0

#1587 :bug: Update the workflow to add PRs to our new project
  .github/workflows/pull_request.yml
Labels: size/XS, dco-signoff: yes, phase0

#1593 :bug: Fix Syncer to avoid adding entry to nil map
  pkg/syncer/syncers/downsyncer.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1592 📖 minor adjustments for interim README file
  docs/content/v0.20/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1582 ✨ Accurate labeling on ManifestWorks
  pkg/ocm/ocm.go
  pkg/placement/controller.go
  pkg/placement/manifest.go
  pkg/placement/placement.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1600 🌱 Regularize the GH workflows for testing PRs
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-singleton-status.yml
Labels: size/S, approved, lgtm, dco-signoff: yes, phase0

#1595 ✨ Restore deploy-docs and serve-docs make targets
  Makefile
Labels: size/S, approved, lgtm, dco-signoff: yes, phase0

#1602 🐛 Update clusteradm image 0.7.1-->0.7.2 and provide multi-arch
  config/postcreate-hooks/ocm.yaml
  hack/build-clusteradm-image.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1597 ✨ Start v0.20 doc re-org
  README.md
  docs/content/v0.20/README.md
  docs/content/v0.20/architecture.md
  docs/content/v0.20/example-wecs.md
  docs/content/v0.20/examples.md
  docs/content/v0.20/packaging.md
  docs/content/v0.20/pre-reqs.md
  docs/content/v0.20/thirdparties.md
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/singleton-status/README.md
Labels: size/XXL, approved, lgtm, dco-signoff: yes, phase0

#1603 🌱 Re-organize the e2e tests for de-duplication, doc consistency
  docs/content/v0.20/examples.md
  test/e2e/common/cleanup.sh
  test/e2e/common/setup-kubestellar.sh
  test/e2e/common/setup-shell.sh
  test/e2e/multi-cluster-deployment/README.md
  test/e2e/multi-cluster-deployment/cleanup.sh
  test/e2e/multi-cluster-deployment/run-test.sh
  test/e2e/multi-cluster-deployment/setup-kubestellar.sh
  test/e2e/multi-cluster-deployment/use-kubestellar.sh
  test/e2e/multi-cluster-deployment/workload-deployment.sh
  test/e2e/singleton-status/README.md
  test/e2e/singleton-status/run-test.sh
  test/e2e/singleton-status/setup-kubestellar.sh
  test/e2e/singleton-status/use-kubestellar.sh
Labels: approved, lgtm, size/XL, dco-signoff: yes

#1609 📖 Add CLI alternative to syncing Argo CD App
  docs/content/v0.20/examples.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1606 🌱 Improved ordering of go imports
  Makefile
  pkg/client/client.go
  pkg/crd/crds.go
  pkg/util/kubeconfig.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1607 ✨ Cleanup gomod
  go.mod
  go.sum
Labels: size/S, approved, lgtm, dco-signoff: yes

#1608 ✨ Add basic client generation
  Makefile
  api/edge/register.go
  api/edge/v1alpha1/conditions.go
  api/edge/v1alpha1/conditions_test.go
  api/edge/v1alpha1/groupversion_info.go
  api/edge/v1alpha1/register.go
  api/edge/v1alpha1/types.go
  api/edge/v1alpha1/zz_generated.deepcopy.go
  cmd/kubestellar-operator/main.go
  go.mod
  go.sum
  hack/update-codegen-clients.sh
  pkg/client/client.go
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/fake/doc.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/doc.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/doc.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/edge_client.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/fake/doc.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/fake/fake_edge_client.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/fake/fake_placement.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/placement.go
  pkg/generated/informers/externalversions/edge/interface.go
  pkg/generated/informers/externalversions/edge/v1alpha1/interface.go
  pkg/generated/informers/externalversions/edge/v1alpha1/placement.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/generated/listers/edge/v1alpha1/expansion_generated.go
  pkg/generated/listers/edge/v1alpha1/placement.go
  pkg/placement/placement.go
  pkg/status/controller.go
  pkg/util/labels.go
  pkg/util/unstructured.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#1615 🐛 Switch to using code-generator for deep copy
  api/edge/v1alpha1/doc.go
  api/edge/v1alpha1/types.go
  api/edge/v1alpha1/zz_generated.deepcopy.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/edge_client.go
  pkg/generated/informers/externalversions/generic.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#1614 📖 Document derived files
  docs/content/v0.20/packaging.md
Labels: size/S, approved, lgtm, dco-signoff: yes, phase0

#1623 ✨ Deep copy by controller-gen
  api/edge/v1alpha1/doc.go
  api/edge/v1alpha1/types.go
  api/edge/v1alpha1/zz_generated.deepcopy.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1624 :bug: Fix lack of singleton ManifestWork object removal upon Placement deletion
  pkg/placement/placement.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1604 ✨ Provide build script for Helm image
  config/postcreate-hooks/kubestellar.yaml
  hack/build-helm-image.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1625 📖 Update the reference to image tags in packaging.md
  docs/content/v0.20/packaging.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1628 🐛 Add missing comment about Placement being not namespaced
  api/edge/v1alpha1/types.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/edge_client.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/fake/fake_edge_client.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/fake/fake_placement.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/placement.go
  pkg/generated/informers/externalversions/edge/v1alpha1/interface.go
  pkg/generated/informers/externalversions/edge/v1alpha1/placement.go
  pkg/generated/listers/edge/v1alpha1/expansion_generated.go
  pkg/generated/listers/edge/v1alpha1/placement.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#1627 🌱 Update go version to track Kubernetes release 1.28
  .prow.yaml
  go.mod
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1631 🐛 Fix over-broad input to controller-gen
  Makefile
Labels: size/XS, approved, lgtm, dco-signoff: yes, phase0

#1619 :bug: Update the KubeStellar README badges
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1630 🌱 Tidy up code generation
  Makefile
  api/edge/v1alpha1/groupversion_info.go
  api/edge/v1alpha1/register.go
  api/edge/v1alpha1/zz_generated.deepcopy.go
  docs/content/v0.20/packaging.md
  hack/update-codegen-clients.sh
Labels: approved, lgtm, size/M, dco-signoff: yes, phase0

#1635 🐛 Get back missing group or missing resource
  pkg/placement/controller.go
  pkg/placement/crd.go
  pkg/status/controller.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1636 ✨ Restore verification of derived files
  Makefile
  docs/content/v0.20/packaging.md
  hack/verify-codegen.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#1639 🌱 Update prow jobs to use latest ghcr.io/kcp-dev/infra/build
  .prow.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes, phase0

#1643 🌱 Add preflight check to update-codegen-clients.sh
  docs/content/v0.20/packaging.md
  hack/update-codegen-clients.sh
Labels: size/S, approved, lgtm, dco-signoff: yes, phase0

#1642 ✨ explain step 6 in the common setup
  docs/content/v0.20/examples.md
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes, phase0

#1647 🐛 fix typo in pre-req doc
  docs/content/v0.20/pre-reqs.md
Labels: size/XS, approved, lgtm, dco-signoff: yes, phase1

#1650 📖 update pre-reqs for KubeFlex to v0.4.1
  .github/workflows/pr-test-multicluster.yml
  .github/workflows/pr-test-singleton-status.yml
  docs/content/v0.20/pre-reqs.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#1588 ✨ pluggable transport initial work
  api/edge/v1alpha1/types.go
  api/edge/v1alpha1/zz_generated.deepcopy.go
  cmd/client-options/client-options.go
  cmd/transport/base-controller.go
  cmd/transport/options/options.go
  config/crd/bases/edge.kubestellar.io_placementdecisions.yaml
  go.mod
  pkg/crd/files/edge.kubestellar.io_placementdecisions.yaml
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/edge_client.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/fake/fake_edge_client.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/fake/fake_placementdecision.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/edge/v1alpha1/placementdecision.go
  pkg/generated/informers/externalversions/edge/v1alpha1/interface.go
  pkg/generated/informers/externalversions/edge/v1alpha1/placementdecision.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/listers/edge/v1alpha1/expansion_generated.go
  pkg/generated/listers/edge/v1alpha1/placementdecision.go
  pkg/transport/generic_transport_controller.go
  pkg/transport/transport.go
Labels: size/XXL, approved, lgtm, dco-signoff: yes, pluggable-transport, phase1

#1652 🌱 Restrict CI workflows to legacy KubeStellar, for main
  .github/workflows/docs-ecutable-example1.yml
  .github/workflows/docs-ecutable-user-quickstart-test.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#1659 🌱 Don't expose spec.numberOfClusters of placements
  api/edge/v1alpha1/types.go
  api/edge/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/edge.kubestellar.io_placements.yaml
  pkg/crd/files/edge.kubestellar.io_placements.yaml
Labels: approved, lgtm, size/M, dco-signoff: yes

#1658 🐛 minor fix in helper functions
  pkg/util/unstructured.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#1661 🐛 Restore example ingress-with-SSL-passthrough
  example/kind-nginx-ingress-with-SSL-passthrough.yaml
Labels: approved, lgtm, size/XL, dco-signoff: yes

#1660 Fix Syncer not to overwrite managedFields
  pkg/syncer/syncers/common.go
  pkg/syncer/syncers/downsyncer.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1668 :book: Documentation improvement for CSR condition
  docs/content/v0.20/example-wecs.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#1672 📖 Remove spaces
  docs/content/v0.20/examples.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1666 📖 Update packaging.md
  docs/content/v0.20/packaging.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1673 📖 Fix linter errors on newish markdown
  docs/content/v0.20/example-wecs.md
  docs/content/v0.20/examples.md
  docs/content/v0.20/packaging.md
  docs/content/v0.20/pre-reqs.md
  docs/content/v0.20/thirdparties.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#1675 ✨ transport handling of converging actual state to the desired state
  pkg/transport/generic_transport_controller.go
Labels: approved, lgtm, size/L, dco-signoff: yes, pluggable-transport, phase1

#1665 🌱 Restore other docs-ecutable workflows for legacy releases, for main
  .github/workflows/docs-ecutable-mailbox.yml
  .github/workflows/docs-ecutable-placement.yml
  .github/workflows/docs-ecutable-qs.yml
  .github/workflows/docs-ecutable-syncer.yml
  .github/workflows/docs-ecutable-user-quickstart-kind.yml
  .github/workflows/docs-ecutable-where-resolver.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#1653 🌱 Restrict CI workflows to legacy KubeStellar, for release-0.14
  .github/workflows/docs-ecutable-example1.yml
  .github/workflows/docs-ecutable-user-quickstart-test.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#1685 🐛 fixed comment from code review
  pkg/crd/crds.go
Labels: size/S, approved, lgtm, dco-signoff: yes
