Repository kubestellar/kubestellar, pull requests merged in 2024-06, with the labels that each got.

#2186 ✨ Track ks/OTP release 0.1.9
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-step-by-step.md
  docs/content/direct/release.md
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2188 ✨ Enable website previews
  .github/workflows/docs-gen-and-push.yml
  docs/README.md
  docs/scripts/deploy-docs.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2189 📖 Fix install report for K3d
  docs/content/direct/deploy-on-k3d.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2190 📖 Update deploy-on-k3d.md
  docs/content/direct/deploy-on-k3d.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2196 ✨ Update self-references for release 0.23.0-rc1
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/README.md
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-step-by-step.md
  docs/content/direct/core-chart.md
  docs/content/direct/microshift.md
  docs/content/direct/release-notes.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2197 🐛 Track change in E2E testing organization
  .github/workflows/test-latest-release.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2198 ✨ Track ks/OTP release 0.1.10
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-step-by-step.md
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2192 ✨ Add metrics to transport controller
  .github/workflows/pr-test-e2e.yml
  go.mod
  pkg/metrics/client.go
  pkg/metrics/client_test.go
  pkg/metrics/sampler.go
  pkg/metrics/wrap_client.go
  pkg/metrics/wrap_dynamic.go
  pkg/transport/cmd/generic-main.go
  pkg/transport/custom_transform_collection.go
  pkg/transport/generic_transport_controller.go
  pkg/transport/generic_transport_controller_test.go
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2194 📖 Update packaging doc
  docs/content/direct/architecture.md
  docs/content/direct/packaging.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#2199 ✨ Prep for release 0.23.0-rc2
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/README.md
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-step-by-step.md
  docs/content/direct/core-chart.md
  docs/content/direct/microshift.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2205 🌱 Remove definitions of unused doc variables
  docs/mkdocs.yml
  docs/scripts/docs-ecutable.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2202 🐛 Make ginkgo setup interruptable
  test/e2e/ginkgo/ginkgo_suite_test.go
  test/e2e/ginkgo/multiple_cluster_deployment_test.go
  test/util/util.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#2208 ✨ Track ks/OTP release 0.1.11
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-step-by-step.md
  scripts/deploy-transport-controller.sh
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2209 ✨ Update self-references for release 0.23.0
  config/postcreate-hooks/kubestellar.yaml
  core-chart/values.yaml
  docs/content/direct/README.md
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-step-by-step.md
  docs/content/direct/core-chart.md
  docs/content/direct/microshift.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2217 📖 release-0.23.0: Remove misleading empty setup content
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2219 📖 release-0.23.0: Remove misleading empty setup content
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2223 ✨ Update examples.md to include the term "helm" in the description of the link to helm chart install instructions.
  docs/content/direct/examples.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2220 :bug: Update the "new bug" template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2229 :book: Implement new website layout
  docs/content/common-subs/placeholder.md
  docs/content/direct/best-practices.md
  docs/content/direct/commission-workloads.md
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-intro.md
  docs/content/direct/common-setup-kind.md
  docs/content/direct/common-setup-step-by-step.md
  docs/content/direct/contribute.md
  docs/content/direct/contributor.md
  docs/content/direct/core-chart.md
  docs/content/direct/example-wecs.md
  docs/content/direct/examples.md
  docs/content/direct/galaxy-intro.md
  docs/content/direct/get-started.md
  docs/content/direct/images/kubeflex-architecture.png
  docs/content/direct/images/kubeflex-logo.png
  docs/content/direct/ks-on-kind.md
  docs/content/direct/ks-on-ocp.md
  docs/content/direct/kubeflex-intro.md
  docs/content/direct/misc-files.md
  docs/content/direct/pre-reqs.md
  docs/content/direct/usage-basics.md
  docs/content/direct/usage-notes.md
  docs/mkdocs.yml
  docs/overrides/home.html
  docs/overrides/main-styles.html
  docs/overrides/main.html
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2234 📖 [release-0.23.0] Fix broken cross-ref to CONTRIBUTING doc
  docs/content/readme.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2238 📖 Replace broken absolute URL with working relative one
  docs/content/readme.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2239 📖 Tweak wording in pre-reqs.md
  docs/content/direct/pre-reqs.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2242 📖 Replace another wrong absolute link with correct relative one
  docs/content/direct/common-setup-core-chart.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2241 📖 [release-0.23.0] Replace another wrong absolute link with correct relative one
  docs/content/direct/common-setup-core-chart.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2206 ✨ Introduce doc vars for releases
  docs/README.md
  docs/content/direct/common-setup-core-chart.md
  docs/content/direct/common-setup-step-by-step.md
  docs/content/direct/core-chart.md
  docs/content/direct/microshift.md
  docs/content/direct/release.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2243 📖 [release-0.23.0] Some doc file cleanup
  docs/content/Contribution guidelines/operations/packaging-and-versioning.md
  docs/content/direct/combined-status.md
  docs/content/direct/ks-on-kind.md
  docs/content/direct/ks-on-ocp.md
  docs/content/direct/user-guide.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2244 📖 Some doc cleanup
  docs/content/Contribution guidelines/operations/packaging-and-versioning.md
  docs/content/direct/usage-notes.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2247 📖 Update the outline of KubeStellar usage
  docs/content/direct/architecture.md
  docs/content/direct/binding.md
  docs/content/direct/control.md
  docs/content/direct/example-scenarios.md
  docs/content/direct/example-wecs.md
  docs/content/direct/get-started.md
  docs/content/direct/hosting-cluster.md
  docs/content/direct/its-and-wds.md
  docs/content/direct/pre-reqs.md
  docs/content/direct/transforming.md
  docs/content/direct/usage-basics.md
  docs/content/direct/usage-notes.md
  docs/content/direct/wec.md
  docs/mkdocs.yml
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#2253 📖 Switch to hand-drawn graph of installation and usage
  docs/content/direct/images/usage-outline.svg
  docs/content/direct/usage-basics.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2254 📖 Switch architecture drawings from PNG to SVG
  docs/content/direct/architecture.md
  docs/content/direct/images/binding-controller.png
  docs/content/direct/images/binding-controller.svg
  docs/content/direct/images/high-level-architecture.png
  docs/content/direct/images/high-level-architecture.svg
  docs/content/direct/images/image-files-readme.md
  docs/content/direct/images/main-modules.png
  docs/content/direct/images/main-modules.svg
  docs/content/direct/images/png-files-readme.md
  docs/content/direct/images/status-controller.png
  docs/content/direct/images/status-controller.svg
  docs/content/direct/images/transport-controller.png
  docs/content/direct/images/transport-controller.svg
Labels: approved, lgtm, size/M, dco-signoff: yes

#2268 🌱 Extend prompting in bug report form
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2258 📖 Simplify quickstart wrt prereqs, scenarios
  docs/content/direct/get-started.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2259 📖 Add prereq section for quickstart install
  docs/content/direct/pre-reqs.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2237 📖 [release-0.23.0] Remove the report of deploying on k3d
  docs/content/direct/deploy-on-k3d.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2262 :book: Update core-chart.md update spelling of "install" in kubestellar core…
  docs/content/direct/best-practices.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2269 📖 Restore doc of the tested version of k3d
  docs/content/direct/hosting-cluster.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2271 📖 Chop out all unready docs from website, stashing them for scavenging
  docs/content/direct/core-chart.md
  docs/content/direct/get-started.md
  docs/content/direct/its-and-wds.md
  docs/mkdocs.yml
  oldocs/README-TRULY.md
  oldocs/README.md
  oldocs/commission-workloads.md
  oldocs/common-setup-core-chart.md
  oldocs/common-setup-intro.md
  oldocs/common-setup-kind.md
  oldocs/common-setup-step-by-step.md
  oldocs/deploy-on-k3d.md
  oldocs/examples.md
  oldocs/microshift.md
  oldocs/usage-notes.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2275 🐛 Hack broken links crawler for main->unreleased-development
  .github/workflows/broken-links-crawler.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2274 📖 Fix links recently broken
  docs/content/direct/architecture.md
  docs/content/direct/core-chart.md
  docs/content/direct/example-scenarios.md
  docs/content/direct/packaging.md
  docs/content/direct/pre-reqs.md
  docs/content/direct/release-testing.md
  docs/content/direct/release.md
  docs/content/direct/transforming.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2278 📖 Fix a bunch of spelling errors, false error reports
  .github/spellcheck/.wordlist.txt
  docs/README.md
  docs/content/Contribution guidelines/operations/code-management.md
  docs/content/direct/acquire-hosting-cluster.md
  docs/content/direct/combined-status.md
  docs/content/direct/core-chart.md
  docs/content/direct/example-scenarios.md
  docs/content/direct/example-wecs.md
  docs/content/direct/galaxy-intro.md
  docs/content/direct/get-started.md
  docs/content/direct/init-hosting-cluster.md
  docs/content/direct/packaging.md
  docs/content/direct/pre-reqs.md
  docs/content/direct/release-testing.md
  docs/content/direct/release.md
  docs/content/direct/transforming.md
  oldocs/README.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#2279 📖 Another batch of speling fickses
  .github/spellcheck/.wordlist.txt
  CODE_OF_CONDUCT.md
  docs/content/direct/architecture.md
  docs/content/direct/core-chart.md
  docs/content/direct/release-notes.md
  docs/content/direct/release.md
  test/e2e/README.md
  test/e2e/ginkgo/README.md
  test/performance/README.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#2280 🌱 Make broken links crawler work on forks
  .github/workflows/broken-links-crawler.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2281 ✨ Add crawl for all broken links
  .github/workflows/full-broken-links-crawler.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2276 📖 Fix broken links
  GOVERNANCE.md
  docs/content/Contribution guidelines/governance.md
  docs/content/direct/contributor.md
Labels: approved, lgtm, size/L, dco-signoff: yes
