Repository kubestellar/kubestellar, pull requests merged in 2025-05, with the labels that each got.

#2892 🌱 Move kubectl Dockerfile up to RHEL 9
  hack/Dockerfile.kubectl
  hack/build-kubectl-image.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2895 🐛 implementation of the script as CLI to solve Supply Chain security on CI
  .gha-reversemap.yml
  .github/workflows/add-to-project.yml
  .github/workflows/broken-links-crawler.yml
  .github/workflows/create-our-meeting-bi-weekly.yml
  .github/workflows/docs-gen-and-push.yml
  .github/workflows/elapsed-time-collector.yml
  .github/workflows/full-broken-links-crawler.yml
  .github/workflows/goreleaser.yml
  .github/workflows/greetings.yml
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/pull_request.yml
  .github/workflows/spellcheck_action.yml
  .github/workflows/test-latest-release.yml
  .github/workflows/verify.yml
  hack/gha-reversemap.sh
Labels: approved, lgtm, size/L, ok-to-test, dco-signoff: yes

#2896 📖 add new known issue markdown
  docs/content/direct/known-issues.md
  docs/content/direct/knownissue-cpu-insufficient-for-its1.md
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#2894 🌱 Make building helm 3.16 get good dependencies
  hack/build-helm-image.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2897 📖 Adjust recent known issues and fill out indexing
  docs/content/direct/installation-errors.md
  docs/content/direct/known-issues.md
  docs/content/direct/knownissue-cpu-insufficient-for-its1.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2880 🐛 Fix: Ignore invisible HTML content in spellchecker (Fixes #2507)
  .github/spellcheck/.spellcheck.yml
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#2907 🌱 Test : Fix command injection vulnerability in PR title validation
  .github/workflows/verify.yml
Labels: size/M, dco-signoff: yes

#2909 🌱 Test : Fix command injection vulnerability in PR title validation
  .github/workflows/pr-verifier.yaml
Labels: approved, lgtm, size/M, dco-signoff: yes

#2903 ✨ Liberalize yq version check, bump setup-go to 5.5.0
  .gha-reversemap.yml
  .github/workflows/goreleaser.yml
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  hack/gha-reversemap.sh
Labels: size/S, approved, dco-signoff: yes

#2911 🌱 chore: update checkout action version in PR title verifier workflow
  .github/workflows/verify.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2904 :bug: title from cli
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2913 🌱 Prow test 7
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2914 🌱 Another insignificant change, for Prow testing
  README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2905 🌱 Bump kubeflex from 0.8.3 to 0.8.7
  .github/workflows/goreleaser.yml
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  .prow.yaml
  core-chart/Chart.yaml
  core-chart/templates/postcreatehooks/wds.yaml
  core-chart/values.yaml
  go.mod
  go.sum
  pkg/binding/bindingpolicy-resolution.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2918 🐛 Make clusteradm build get some later dependencies
  hack/build-clusteradm-image.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2921 ✨ Prepare for test release 0.28.0-alpha.1
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  core-chart/Chart.yaml
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
  go.mod
  go.sum
  scripts/check_pre_req.sh
  scripts/create-kubestellar-demo-env.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2920 ✨ Bump kubeflex to 0.8.8
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  core-chart/Chart.yaml
  go.mod
  go.sum
Labels: lgtm, size/M, dco-signoff: yes

#2926 ✨ Bump kube-rbac-proxy from 0.18.0 to 0.19.1
  core-chart/templates/postcreatehooks/wds.yaml
  scripts/create-kubestellar-demo-env.sh
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2925 📖 Fix: Contribution Guide Link Not Opening from Documentation
  docs/content/readme.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2928 🌱 Bump kflex to 0.8.9
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  core-chart/Chart.yaml
  go.mod
  go.sum
Labels: approved, lgtm, size/M, dco-signoff: yes

#2927 fix: update Helm command syntax in documentation
  docs/content/direct/core-chart.md
  docs/content/direct/get-started.md
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#2919 📖update Argocd form argo-cd
  core-chart/Chart.yaml
  core-chart/templates/NOTES.txt
  core-chart/templates/argocd/ingress.yaml
  core-chart/templates/argocd/rbac.yaml
  core-chart/templates/argocd/setup.yaml
  core-chart/values.yaml
  docs/content/direct/core-chart-argocd.md
  docs/content/direct/pre-reqs.md
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#2929 ✨ Update self-references for release 0.28.0-alpha.2
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
  scripts/check_pre_req.sh
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes
