Repository kubestellar/kubestellar, pull requests merged in 2025-08, with the labels that each got.

#3164 📖 Put one-shot tracking work in release process
  docs/content/direct/release.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#3077 ✨ dependency policy fix of CLOMonitor
  SECURITY-INSIGHTS.yml
  SECURITY.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#3162 📖 update generative AI paragraph in initial style guide
  docs/content/contribution-guidelines/operations/docs-styleguide.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#3201 🌱 Bump stuff to pick up security fixes
  core-chart/values.yaml
  go.mod
  go.sum
  hack/build-helm-image.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#3202 🌱 Bump kubestellar/ocm-status-addon to 0.2.0-rc16
  core-chart/values.yaml
  monitoring/README.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#3206 ✨ Update self-references in preparation for 0.29.0-alpha.1
  core-chart/values.yaml
  docs/content/direct/release.md
  docs/mkdocs.yml
  scripts/check_pre_req.sh
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#3169 🐛fix(docs): restore PostCreateHook wait commands for install-status-addon and its-hub-init
  docs/content/direct/get-started.md
  scripts/create-kubestellar-demo-env.sh
  test/e2e/common/setup-kubestellar.sh
Labels: size/S, approved, lgtm, needs-ok-to-test, dco-signoff: yes

#3208 🌱 Bump dependencies in hack/build-clusteradm-image.sh
  hack/build-clusteradm-image.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#3205 🐛 Getting started icon rendering at two places, one was unnecessary
  docs/mkdocs.yml
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#3234 ✨ Update contributing-inc.md
  docs/content/contribution-guidelines/contributing-inc.md
Labels: size/S, approved, dco-signoff: yes

#3175 🌱 Refactor: Enhance K3d cluster creation wait to use kubectl wait instead of sleep for more reliability
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#3231 📖docs: document issue archive in CONTRIBUTING.md
  docs/content/contribution-guidelines/contributing-inc.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#3241 ✨ Add .gitattributes to normalize line endings and ignore generated files in diffs
  .gitattributes
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#3248 🌱 Bump anchore/sbom-action/download-syft to 0.20.5
  .gha-reversemap.yml
  .github/workflows/goreleaser.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#3249 🌱 Bump actions/first-interactions from 2 to 3.0.0
  .gha-reversemap.yml
  .github/workflows/greetings.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#3220 📖 Expand a11y section in docs style guide
  docs/content/contribution-guidelines/operations/docs-styleguide.md
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#3266 🌱 Bump goreleaser/goreleaser-action from 6.3.0 to 6.4.0
  .gha-reversemap.yml
  .github/workflows/goreleaser.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#3204 ✨ Increase in SEO and performance score on lighthouse for docs website
  docs/content/index.md
  docs/mkdocs.yml
  docs/overrides/KubeStellar-with-Logo-transparent-v2.webp
  docs/overrides/home.html
  docs/overrides/images/background.webp
  docs/overrides/images/kubestellar-deploy.webp
  docs/overrides/main.html
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#3268 🐛 bug: golangci-lint workflow: remove deprecated --fast flag
  .github/workflows/golangci-lint.yml
Labels: size/S, approved, lgtm, needs-ok-to-test, dco-signoff: yes

#3271 🌱 Improved error handling in hack/gha-reversemap.sh
  docs/content/contribution-guidelines/contributing-inc.md
  hack/gha-reversemap.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#3008 ✨ Add LatencyCollector controller to collect end-to-end metrics across clusters
  go.mod
  test/performance/latency-controller/README.md
  test/performance/latency-controller/internal/controller/controller.go
  test/performance/latency-controller/kubestellar-dashboard.json
  test/performance/latency-controller/main.go
Labels: size/XXL, approved, lgtm, ok-to-test, dco-signoff: yes

#3272 ✨Added stale workflow
  .gha-reversemap.yml
  .github/workflows/stale.yml
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#3285 ✨ Allow embedding for grafana
  monitoring/install-ks-monitoring.sh
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes
