Repository kubestellar/kubestellar, pull requests merged in 2025-01, with the labels that each got.

#2704 ✨ skip uploading binaries during release
  .goreleaser.yaml
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2707 🐛 Update create-kind-cluster-with-SSL-passthrough.sh
  scripts/create-kind-cluster-with-SSL-passthrough.sh
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2708 :bug: Update ocm-local-up-for-ingress.sh
  scripts/ocm-local-up-for-ingress.sh
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2714 📖 Update self-references for release 0.26.0-alpha.4
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2721 🐛 Accept whatever container names exist in ITS initialization Pod
  scripts/kubestellar-snapshot.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2643 ✨ Report missing StatusCollector objects
  api/control/v1alpha1/conditions.go
  api/control/v1alpha1/conditions_test.go
  api/control/v1alpha1/types.go
  api/control/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/control.kubestellar.io_bindings.yaml
  pkg/binding/binding-controller.go
  pkg/binding/binding.go
  pkg/binding/bindingpolicy.go
  pkg/crd/files/crds.yaml
  pkg/status/binding.go
  pkg/status/combinedstatus-resolver.go
  pkg/status/status-controller.go
  pkg/status/statuscollector.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2703 📖 Document teardown procedure
  docs/content/direct/teardown.md
  docs/content/direct/user-guide-intro.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2718 ✨CI: Added sbom generation in goreleaser
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2729 :sparkles: add contributor to readme.md file
  .github/workflows/add-contributors.yml
  README.md
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#2730 📖 Update go doc comment for MissingStatusCollectors
  pkg/status/binding.go
  pkg/status/combinedstatus-resolver.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#2728 :book: resolve broken links in documentation
  ONBOARDING.md
  README.md
  docs/content/direct/example-wecs.md
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#2736 ✨ Update self-references in preparation for 0.26.0-alpha.5
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2738 📖 announcement for kubecon eu 2025 contribfest
  docs/content/Community/kubecon/eu2025/contribfest-2025.jpg
  docs/content/Community/kubecon/eu2025/contribfest.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2744 📖 resolve broken links in documentation
  ONBOARDING.md
  README.md
  docs/content/direct/example-wecs.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2737 📖 Update _index.md
  docs/content/Community/_index.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2713 📖 Clarify documentation about signoff and signing
  CONTRIBUTING.md
  docs/content/direct/pr-signoff.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2760 📖 Update home.html
  docs/overrides/home.html
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2644 ✨ Adding Configurations and Instructions for KS Long Running Experiments
  .gitignore
  test/performance/README.md
  test/performance/common/cleanup.sh
  test/performance/common/kshelper.py
  test/performance/common/metrics_collector.py
  test/performance/common/requirements.txt
  test/performance/common/setup-clusterloader2.sh
  test/performance/long-running-tests/README.md
  test/performance/long-running-tests/workloads/long-duration-exp-config.yaml
  test/performance/long-running-tests/workloads/long-duration-exp-setup.yaml
  test/performance/long-running-tests/workloads/long-duration-exp-workload.yaml
  test/performance/long-running-tests/workloads/modules/long-duration-exp.yaml
  test/performance/setup-clusterloader2.sh
  test/performance/short-running-tests/README.md
  test/performance/short-running-tests/workloads/cluster-density-k8s/bindingPolicy.yaml
  test/performance/short-running-tests/workloads/cluster-density-k8s/configmap.yaml
  test/performance/short-running-tests/workloads/cluster-density-k8s/deployment.yaml
  test/performance/short-running-tests/workloads/cluster-density-k8s/namespace.yaml
  test/performance/short-running-tests/workloads/cluster-density-k8s/secret.yaml
  test/performance/short-running-tests/workloads/cluster-density-k8s/service.yaml
  test/performance/short-running-tests/workloads/cluster-density-ocp/bindingPolicy.yaml
  test/performance/short-running-tests/workloads/cluster-density-ocp/configmap.yaml
  test/performance/short-running-tests/workloads/cluster-density-ocp/deployment.yaml
  test/performance/short-running-tests/workloads/cluster-density-ocp/imagestream.yaml
  test/performance/short-running-tests/workloads/cluster-density-ocp/namespace.yaml
  test/performance/short-running-tests/workloads/cluster-density-ocp/route.yaml
  test/performance/short-running-tests/workloads/cluster-density-ocp/secret.yaml
  test/performance/short-running-tests/workloads/cluster-density-ocp/service.yaml
  test/performance/short-running-tests/workloads/modules/cluster-density-k8s.yaml
  test/performance/short-running-tests/workloads/modules/cluster-density-ocp.yaml
  test/performance/short-running-tests/workloads/modules/performance-test-module.yaml
  test/performance/short-running-tests/workloads/performance-test-config.yaml
Labels: size/XXL, approved, lgtm, dco-signoff: yes

#2765 🐛 bug fix:Improve k3s script to handle port allocation issues and improved concurrrency
  hack/check_pre_req.sh
  scripts/create-kubestellar-demo-env.sh
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#2719 🐛 Remove concurrency from create-kubestellar-demo-env.sh
  scripts/create-kubestellar-demo-env.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2767 ✨ Track KubeFlex release 0.8.0
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  core-chart/Chart.yaml
  docs/content/direct/pre-reqs.md
  go.mod
  go.sum
  hack/check_pre_req.sh
  scripts/check_pre_req.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2773 🌱 Delete unused example/kind-nginx-ingress-with-SSL-passthrough.yaml
  example/kind-nginx-ingress-with-SSL-passthrough.yaml
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2774 🐛 Pin the version of ingress-nginx
  scripts/create-kind-cluster-with-SSL-passthrough.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2770 ✨ Update self-references in prep for release 0.26.0-rc.1
  core-chart/values.yaml
  docs/content/direct/get-started.md
  docs/content/direct/release-notes.md
  docs/content/direct/release.md
  docs/content/direct/start-from-ocm.md
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: approved, lgtm, size/M, dco-signoff: yes
