Repository kubestellar/kubestellar, pull requests merged in 2025-07, with the labels that each got.

#3016 ✨ Various improvements mainly wrt GitHub Actions workflows
  .github/workflows/docs-gen-and-push.yml
  .github/workflows/pr-verifier.yaml
  .github/workflows/verify-action-hashes.yaml
  CONTRIBUTING.md
  docs/README.md
  hack/gha-reversemap.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2992 📖 improve user guide and add observability page
  docs/content/direct/observability.md
  docs/content/direct/user-guide-intro.md
  docs/mkdocs.yml
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#3038 📖 Update the PR and Issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/doc_issue.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/pull_request_template.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#3050 📖 Note branch name restriction and fork repair
  docs/README.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#3054 📖 Move CONTRIBUTING content into contributing-inc
  CONTRIBUTING.md
  docs/content/Community/_index.md
  docs/content/contribution-guidelines/contributing-inc.md
  docs/content/contribution-guidelines/operations/code-management.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#3062 📖 add smooth transitions for elements and theme toggle button
  docs/overrides/stylesheets/kubestellar.css
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#3064 🌱kubeflex version updated
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  core-chart/Chart.yaml
  go.mod
  go.sum
Labels: approved, lgtm, size/M, dco-signoff: yes

#3099 🌱 Add diagnostic to PR title failure
  .github/workflows/pr-verifier.yaml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#3031 ✨️ split WDS PCH into two parts
  core-chart/templates/controlplanes/wds.yaml
  core-chart/templates/postcreatehooks/kubestellar-controller.yaml
  core-chart/templates/postcreatehooks/transport-controller.yaml
  core-chart/values.yaml
  docs/content/direct/core-chart.md
Labels: approved, lgtm, size/L, ok-to-test, dco-signoff: yes

#3102 📖 Fix the broken link for Galaxy repository in galaxy.md file
  docs/content/direct/galaxy-intro.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#3097 🌱 Bump com/actions/first-interaction to version 2.0.0
  .gha-reversemap.yml
  .github/workflows/greetings.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#3100 🌱 Remove duplicate workflow
  .github/workflows/verify.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#3107 🐛 Fix the Warning message from kubeflex to display actual kubeflex version
  scripts/check_pre_req.sh
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#3051 📖 revise WEC registration based on feedback from #2997
  docs/content/direct/wec-registration.md
Labels: approved, lgtm, size/L, ok-to-test, dco-signoff: yes

#3127 📖 CNCF Slack Update: Update all Slack URLs to point to new CNCF Slack Channel across the repo and docs
  ONBOARDING.md
  README.md
  docs/content/Community/_index.md
  docs/content/Community/partners/fluxcd.md
  docs/content/Community/partners/kyverno.md
  docs/content/Community/partners/mvi.md
  docs/content/contribution-guidelines/contributing-inc.md
  docs/content/direct/contribute.md
  docs/content/direct/user-guide-intro.md
  docs/content/readme.md
  docs/mkdocs.yml
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#3057 📖 finalize observability page with protocol and port clarifications
  docs/content/direct/observability.md
  docs/mkdocs.yml
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#3080 🌱more refined logic for kind cluster creation with ssl-passthrough
  scripts/create-kind-cluster-with-SSL-passthrough.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#3092 📖 improve WDS page based on feedback from #3023
  docs/content/direct/wds.md
Labels: approved, lgtm, size/L, ok-to-test, dco-signoff: yes

#3084 🌱refine logic to make sure k3s service start and nginx ingress controler pod to be created
  scripts/create-k3s-cluster-with-SSL-passthrough.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#3128 📖 Fix up WDS doc page
  docs/content/direct/wds.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#3129 📖 Add elementary style guide to website contribution section
  docs/content/contribution-guidelines/operations/docs-styleguide.md
  docs/content/contribution-guidelines/operations/document-management.md
  docs/content/direct/contribute.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#3134 📖 Fix multiple broken links in docs discovered via crawler
  GOVERNANCE.md
  docs/content/direct/core-chart.md
  docs/content/direct/known-issues.md
  docs/content/direct/wec-registration.md
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#3138 🐛 Make doc preview check not crash
  .github/workflows/check-docs-pr-preview.yml
Labels: approved, lgtm, size/M, dco-signoff: yes

#3141 📖 Update get-started documentation
  docs/content/direct/get-started.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#3150 📖 Style Guide: fixing initial typos
  docs/content/contribution-guidelines/operations/docs-styleguide.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#3156 🌱 Bump anchore/sbom-action/download-syft to v0.20.4
  .gha-reversemap.yml
  .github/workflows/goreleaser.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#3163 🐛 Undo bugs introduced in split of ITS PCH into two
  core-chart/templates/postcreatehooks/install-status-addon.yaml
  core-chart/templates/postcreatehooks/its-hub-init.yaml
  docs/content/direct/get-started.md
  scripts/create-kubestellar-demo-env.sh
  test/e2e/common/setup-kubestellar.sh
Labels: approved, lgtm, size/M, dco-signoff: yes
