Repository kubestellar/kubestellar, pull requests merged in 2025-04, with the labels that each got.

#2876 📖 Fix Contribution Docs: Move Relative web Links into -inc file
  CONTRIBUTING.md
  docs/content/contribution-guidelines/contributing-inc.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2849 🐛 Fix kubectsllear-snapshot errors related to JQ parsing
  scripts/kubestellar-snapshot.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2818 ✨ Add KubeStellar core chart integration with Argo CD
  core-chart/Chart.yaml
  core-chart/templates/NOTES.txt
  core-chart/templates/argocd/ingress.yaml
  core-chart/templates/argocd/rbac.yaml
  core-chart/templates/argocd/setup.yaml
  core-chart/templates/kubeflex/clusterrolebinding.yaml
  core-chart/templates/kubeflex/namespaces.yaml
  core-chart/values.yaml
  docs/content/direct/core-chart-argocd.md
  docs/content/direct/core-chart.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2878 🐛 Fix mismatch in SA name for ArgoCD setup in Helm
  core-chart/templates/argocd/rbac.yaml
Labels: size/S, approved, lgtm, dco-signoff: yes
