Repository kubestellar/kubestellar, pull requests merged in 2025-02, with the labels that each got.

#2778 🌱 Add snapshot script to Troubleshooting page
  docs/content/direct/troubleshooting.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2776 ⚠️ breaking change: docs/requirements.txt satisfiable for recent Python releases
  docs/content/direct/get-started.md
  docs/mkdocs.yml
  docs/requirements.txt
Labels: approved, lgtm, size/M, dco-signoff: yes

#2781 📖 Improve documentation of rendering PRs
  docs/README.md
  docs/content/contribution-guidelines/operations/testing-doc-prs.md
  docs/content/direct/images/github-pages-config-example.png
Labels: approved, lgtm, size/M, dco-signoff: yes

#2790 🐛 Wait for the right version of the ingress controller Pod
  scripts/create-kind-cluster-with-SSL-passthrough.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2789 ✨ Improve the snapshot script
  scripts/kubestellar-snapshot.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2794 🐛 Further protect the logs commands in the snapshot script
  scripts/kubestellar-snapshot.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2795 ✨ Check sysctl fs stuff in preflight
  docs/content/direct/pre-reqs.md
  hack/check_pre_req.sh
  scripts/check_pre_req.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2787 🐛 :Fixing create SBOM functionality
  .github/workflows/goreleaser.yml
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2796 ✨ Check helm health in preflight
  docs/content/direct/pre-reqs.md
  hack/check_pre_req.sh
  scripts/check_pre_req.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2798 📖 Update known issue about helm breakage
  docs/content/direct/known-issues.md
  docs/content/direct/knownissue-helm-ghcr.md
  docs/content/direct/knownissue-wsl-ghcr-helm.md
  docs/content/direct/pre-reqs.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2800 🌱 Bump Kubernetes from 1.29.10 to 1.29.14
  go.mod
  go.sum
Labels: approved, lgtm, size/L, dco-signoff: yes

#2801 ✨ Update self-references in preparation for 0.26.0-rc.2
  core-chart/values.yaml
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2802 📖 Remove outdated and unneeded example listing of manifestworks
  docs/content/direct/example-scenarios.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2803 ✨ Update self-references for release 0.26.0
  core-chart/values.yaml
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2805 🐛 Make an annotation key consistent
  docs/content/direct/transforming.md
  pkg/transport/generic/filtering/service.go
  pkg/util/unstructured.go
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2784 ✨ Add the kubectl-rbac-flatten utility
  cmd/controller-manager/main.go
  cmd/kubectl-rbac-flatten/README.md
  cmd/kubectl-rbac-flatten/main.go
  go.mod
  go.sum
  pkg/abstract/primitive-map-ops.go
  pkg/abstract/slices.go
  pkg/ctrlutil/kubeconfig.go
Labels: approved, lgtm, size/L, dco-signoff: yes

#2810 📖 Backport doc updates to release-0.26.0
  docs/content/direct/transforming.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2812 :bug: Replace GitHub Action with embedded contributors section in README.md
  .github/workflows/add-contributors.yml
  README.md
Labels: approved, lgtm, size/L, dco-signoff: yes

#2817 🌱 Update year for copyright and license
  LICENSE
  README.md
  core-chart/LICENSE
  docs/overrides/home.html
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2768 ✨Update the Helm chart to support external cluster as an ITS CP
  core-chart/templates/controlplanes/its.yaml
  core-chart/values.yaml
  docs/content/direct/core-chart.md
  scripts/create-external-bootstrap-secret.sh
  scripts/kubestellar-snapshot.sh
Labels: approved, lgtm, size/L, dco-signoff: yes
