Repository kubestellar/kubestellar, pull requests merged in 2025-06, with the labels that each got.

#2944 🌱 Bump rojopolis/spellcheck-github-actions from 0.48.0 to 0.49.0
  .gha-reversemap.yml
  .github/workflows/spellcheck_action.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2953 📖 Enhance the contribution section of the documentation
  docs/content/direct/contribute.md
Labels: lgtm, ok-to-test, size/M, dco-signoff: yes

#2958 🐛 bug: fixed goreleaser version update error
  .goreleaser.yaml
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2972 🐛fix typo for prefetch_pids[i]
  scripts/create-kind-cluster-with-SSL-passthrough.sh
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2940 📖 Argocd docs update with Output
  docs/content/direct/core-chart-argocd.md
  docs/content/direct/images/argo-cd-signin-page.png
  docs/content/direct/images/argocd-application.png
Labels: approved, lgtm, size/L, ok-to-test, dco-signoff: yes

#2968 🐛bug: improve e2e ginkgo test logging for setup debugging
  test/util/util.go
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#2983 📖 Improve website doc wrt autogen, dual view
  .github/ISSUE_TEMPLATE/doc_issue.yaml
  docs/README.md
Labels: approved, lgtm, size/M, dco-signoff: yes

#2974 🌱 other/misc: add log for better understanding of docker context error!
  Makefile
Labels: size/S, approved, lgtm, ok-to-test, dco-signoff: yes

#3015 🌱 Bump rojopolis/spellcheck-github-actions from 0.50.0 to 0.51.0
  .gha-reversemap.yml
  .github/workflows/spellcheck_action.yml
Labels: size/S, approved, lgtm, dco-signoff: yes
