Repository kubestellar/kubestellar, pull requests merged in 2025-03, with the labels that each got.

#2815 🐛 Fix a problem with `echov` in `kubestellar-snapshot` script
  scripts/kubestellar-snapshot.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2826 ✨ Add OwnerReference from CombinedStatus to workload obj
  pkg/status/combinedstatus-resolution.go
  pkg/status/combinedstatus-resolver.go
Labels: size/S, approved, lgtm, dco-signoff: yes

#2827 :bug: fix: add missing quote in core-chart.md example
  docs/content/direct/core-chart.md
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2821 ✨: Added sbom generation
  .goreleaser.yaml
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2831 🌱 Finish move of check_pre_req.sh from hack/ to scripts/
  docs/content/direct/release.md
  hack/check_pre_req.sh
Labels: approved, lgtm, size/L, dco-signoff: yes

#2830 ✨ Track KubeFlex release 0.8.1
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  core-chart/Chart.yaml
  docs/content/direct/release.md
  go.mod
  go.sum
Labels: approved, lgtm, size/M, dco-signoff: yes

#2832 ✨ Update self-references for release 0.27.0-rc.1
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2833 🐛 Remove another pull from DockerHub
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2834 ✨ Make kubeflex debuggable too in demo env
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2835 🐛 Bump KubeFlex to 0.8.2
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  core-chart/Chart.yaml
  go.mod
  go.sum
Labels: approved, lgtm, size/M, dco-signoff: yes

#2836 ✨ Update self-references for release 0.27.0
  core-chart/values.yaml
  docs/mkdocs.yml
  scripts/create-kubestellar-demo-env.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2839 📖 KubeCon-EU-2025 add Helm issues
  docs/content/Community/kubecon/eu2025/contribfest.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2845 🐛 Pin actions/checkout to SHA in pr-test-integration
  .github/workflows/pr-test-integration.yml
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2848 Add installation error docs
  docs/content/direct/installation-errors.md
  docs/mkdocs.yml
Labels: approved, lgtm, ok-to-test, size/M, dco-signoff: yes

#2841 📖 Rewriting and expanding the contribution overview section, and realigning file structure for better website maintenance
  CONTRIBUTING.md
  GOVERNANCE.md
  docs/README.md
  docs/content/contribution-guidelines/CONTRIBUTING.md
  docs/content/contribution-guidelines/LICENSE.md
  docs/content/contribution-guidelines/coc-inc.md
  docs/content/contribution-guidelines/contributing-inc.md
  docs/content/contribution-guidelines/governance-inc.md
  docs/content/contribution-guidelines/governance.md
  docs/content/contribution-guidelines/license-inc.md
  docs/content/contribution-guidelines/onboarding-inc.md
  docs/content/contribution-guidelines/security/security-inc.md
  docs/content/contribution-guidelines/security/security_contacts-inc.md
  docs/content/direct/contribute.md
  docs/mkdocs.yml
  docs/overrides/home.html
Labels: approved, lgtm, size/XL, dco-signoff: yes

#2851 🌱 Update sysctl error URL and refactor URL handling in check_pre_req script
  scripts/check_pre_req.sh
Labels: size/XS, approved, lgtm, ok-to-test, dco-signoff: yes

#2857 🐛 Pin clusteradm to release 0.10.1
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
Labels: size/S, approved, lgtm, dco-signoff: yes

#2856 🐛 Patch NGINX vulnerabilities
  scripts/create-kind-cluster-with-SSL-passthrough.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2859 🐛 Update version of ingress-nginx in remaining places
  docs/content/direct/acquire-hosting-cluster.md
  scripts/create-kubestellar-demo-env.sh
  scripts/ocm-local-up-for-ingress.sh
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2860 ✨ Prep for release 0.27.1
  .github/workflows/ocp-self-runner.yml
  .github/workflows/pr-test-e2e.yml
  .github/workflows/pr-test-integration.yml
  .github/workflows/test-latest-release.yml
  .prow.yaml
  core-chart/Chart.yaml
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/content/direct/release.md
  docs/mkdocs.yml
  go.mod
  go.sum
  scripts/check_pre_req.sh
  scripts/create-kubestellar-demo-env.sh
Labels: approved, lgtm, size/M, dco-signoff: yes

#2861 📖 Add the bare bones to start including documentation for KubeStellarUI in the main site
  docs/content/direct/ui-intro.md
  docs/content/ui-docs/README.md
  docs/content/ui-docs/kubestellar_splash_screen.png
  docs/content/ui-docs/ui-overview.md
  docs/mkdocs.yml
Labels: approved, lgtm, size/L, dco-signoff: yes

#2862 ✨ Bump golang.org/x/net and github.com/golang-jwt/jwt/v4
  go.mod
  go.sum
Labels: approved, lgtm, size/M, dco-signoff: yes

#2867 📖 [release-0.27.1] Fix the pre-reqs.md remark about Helm
  docs/content/direct/pre-reqs.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2865 📖 Doc install right clusteradm
  docs/content/direct/get-started.md
  docs/content/direct/pre-reqs.md
  scripts/check_pre_req.sh
Labels: size/S, approved, lgtm, dco-signoff: yes

#2869 📖 [release-0.27.1] Fix docs about clusteradm and helm and troubleshooting
  docs/content/direct/get-started.md
  docs/content/direct/pre-reqs.md
  docs/content/direct/troubleshooting.md
Labels: size/S, approved, lgtm, dco-signoff: yes

#2871 📖 Elide reference to KubeFlex from ui-intro.md
  docs/content/direct/ui-intro.md
Labels: size/XS, approved, lgtm, dco-signoff: yes

#2870 ✨ Prep for patch release 0.27.2
  core-chart/values.yaml
  docs/content/direct/release-notes.md
  docs/mkdocs.yml
  scripts/check_pre_req.sh
  scripts/create-kubestellar-demo-env.sh
Labels: size/S, approved, lgtm, dco-signoff: yes
